<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>raid_10_advent_text_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,506},{158,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,147}}</string>
                <key>sourceSize</key>
                <string>{158,147}</string>
            </dict>
            <key>raid_10_advent_text_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,655},{147,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,137}}</string>
                <key>sourceSize</key>
                <string>{147,137}</string>
            </dict>
            <key>raid_10_advent_text_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,674},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>raid_10_advent_text_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,794},{127,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,132}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>raid_10_advent_text_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{204,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,207}}</string>
                <key>sourceSize</key>
                <string>{204,207}</string>
            </dict>
            <key>raid_10_advent_text_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,207},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>raid_10_advent_text_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,359},{175,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,174}}</string>
                <key>sourceSize</key>
                <string>{175,174}</string>
            </dict>
            <key>raid_10_advent_text_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1},{170,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,183}}</string>
                <key>sourceSize</key>
                <string>{170,183}</string>
            </dict>
            <key>raid_10_advent_text_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,186},{165,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,179}}</string>
                <key>sourceSize</key>
                <string>{165,179}</string>
            </dict>
            <key>raid_10_advent_text_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,367},{137,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,162}}</string>
                <key>sourceSize</key>
                <string>{137,162}</string>
            </dict>
            <key>raid_10_advent_text_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,535},{137,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,154}}</string>
                <key>sourceSize</key>
                <string>{137,154}</string>
            </dict>
            <key>raid_10_advent_text_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,655},{59,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,135}}</string>
                <key>sourceSize</key>
                <string>{59,135}</string>
            </dict>
            <key>raid_10_boss_illust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>raid_animation_10.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fdb49a9656062f0b89e53be1a54510f:340658ab499df387114c9fca1b966e9d:26bbcc15292187c65386d8833bb4dba6$</string>
            <key>textureFileName</key>
            <string>raid_animation_10.png</string>
        </dict>
    </dict>
</plist>
