<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>raid_09_advent_text_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,876},{158,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,147}}</string>
                <key>sourceSize</key>
                <string>{158,147}</string>
            </dict>
            <key>raid_09_advent_text_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,258},{147,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,137}}</string>
                <key>sourceSize</key>
                <string>{147,137}</string>
            </dict>
            <key>raid_09_advent_text_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,407},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>raid_09_advent_text_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,546},{127,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,132}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>raid_09_advent_text_00_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,876},{449,57}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{449,57}}</string>
                <key>sourceSize</key>
                <string>{475,91}</string>
            </dict>
            <key>raid_09_advent_text_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{255,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,238}}</string>
                <key>sourceSize</key>
                <string>{255,238}</string>
            </dict>
            <key>raid_09_advent_text_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,258},{242,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,231}}</string>
                <key>sourceSize</key>
                <string>{242,231}</string>
            </dict>
            <key>raid_09_advent_text_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,502},{179,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,198}}</string>
                <key>sourceSize</key>
                <string>{179,198}</string>
            </dict>
            <key>raid_09_advent_text_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,702},{169,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,180}}</string>
                <key>sourceSize</key>
                <string>{169,180}</string>
            </dict>
            <key>raid_09_advent_text_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,502},{138,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,156}}</string>
                <key>sourceSize</key>
                <string>{138,156}</string>
            </dict>
            <key>raid_09_advent_text_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,876},{145,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,181}}</string>
                <key>sourceSize</key>
                <string>{145,181}</string>
            </dict>
            <key>raid_09_advent_text_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,816},{134,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,151}}</string>
                <key>sourceSize</key>
                <string>{134,151}</string>
            </dict>
            <key>raid_09_advent_text_01_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,763},{727,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{727,111}}</string>
                <key>sourceSize</key>
                <string>{727,111}</string>
            </dict>
            <key>raid_09_advent_text_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,873},{137,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,162}}</string>
                <key>sourceSize</key>
                <string>{137,162}</string>
            </dict>
            <key>raid_09_advent_text_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,660},{137,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,154}}</string>
                <key>sourceSize</key>
                <string>{137,154}</string>
            </dict>
            <key>raid_09_advent_text_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,935},{59,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,135}}</string>
                <key>sourceSize</key>
                <string>{59,135}</string>
            </dict>
            <key>raid_09_advent_text_02_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,935},{271,71}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{271,71}}</string>
                <key>sourceSize</key>
                <string>{293,115}</string>
            </dict>
            <key>raid_09_boss_illust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,760}}</string>
                <key>offset</key>
                <string>{0,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{640,760}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>raid_animation_09.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4d87c6ac370d10c3d3b7b84f5027518:42968c880c88dc3057307e0dd4c820eb:32978f0539f29857804d1f8414a4e361$</string>
            <key>textureFileName</key>
            <string>raid_animation_09.png</string>
        </dict>
    </dict>
</plist>
