<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>raid_12_advent_text_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,392},{158,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,147}}</string>
                <key>sourceSize</key>
                <string>{158,147}</string>
            </dict>
            <key>raid_12_advent_text_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,398},{147,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,137}}</string>
                <key>sourceSize</key>
                <string>{147,137}</string>
            </dict>
            <key>raid_12_advent_text_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,531},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>raid_12_advent_text_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,602},{127,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,132}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>raid_12_advent_text_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1},{222,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,216}}</string>
                <key>sourceSize</key>
                <string>{222,216}</string>
            </dict>
            <key>raid_12_advent_text_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1},{183,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,72}}</string>
                <key>sourceSize</key>
                <string>{183,72}</string>
            </dict>
            <key>raid_12_advent_text_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,75},{176,178}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>raid_12_advent_text_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,253},{143,105}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{143,105}}</string>
                <key>sourceSize</key>
                <string>{205,111}</string>
            </dict>
            <key>raid_12_advent_text_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,547},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>raid_12_advent_text_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,219},{171,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,178}}</string>
                <key>sourceSize</key>
                <string>{171,178}</string>
            </dict>
            <key>raid_12_advent_text_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,253},{137,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,162}}</string>
                <key>sourceSize</key>
                <string>{137,162}</string>
            </dict>
            <key>raid_12_advent_text_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,392},{137,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,154}}</string>
                <key>sourceSize</key>
                <string>{137,154}</string>
            </dict>
            <key>raid_12_advent_text_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,541},{59,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,135}}</string>
                <key>sourceSize</key>
                <string>{59,135}</string>
            </dict>
            <key>raid_12_boss_illust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{560,1136}}</string>
                <key>offset</key>
                <string>{-40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>raid_animation_12.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1ad00e8635951398fe2455ff28549f3:a6dfb970fedaca4d688e9fa4fc08f93a:93074729fd6fa2c547ac4b8e3c09fe91$</string>
            <key>textureFileName</key>
            <string>raid_animation_12.png</string>
        </dict>
    </dict>
</plist>
