<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>raid_13_advent_text_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,542},{158,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,147}}</string>
                <key>sourceSize</key>
                <string>{158,147}</string>
            </dict>
            <key>raid_13_advent_text_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,691},{147,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,137}}</string>
                <key>sourceSize</key>
                <string>{147,137}</string>
            </dict>
            <key>raid_13_advent_text_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,804},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>raid_13_advent_text_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,830},{127,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,132}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>raid_13_advent_text_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{204,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,207}}</string>
                <key>sourceSize</key>
                <string>{204,207}</string>
            </dict>
            <key>raid_13_advent_text_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,207},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>raid_13_advent_text_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,366},{175,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,174}}</string>
                <key>sourceSize</key>
                <string>{175,174}</string>
            </dict>
            <key>raid_13_advent_text_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,181},{170,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,183}}</string>
                <key>sourceSize</key>
                <string>{170,183}</string>
            </dict>
            <key>raid_13_advent_text_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,359},{165,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,179}}</string>
                <key>sourceSize</key>
                <string>{165,179}</string>
            </dict>
            <key>raid_13_advent_text_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,691},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>raid_13_advent_text_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1},{171,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,178}}</string>
                <key>sourceSize</key>
                <string>{171,178}</string>
            </dict>
            <key>raid_13_advent_text_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,526},{137,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,162}}</string>
                <key>sourceSize</key>
                <string>{137,162}</string>
            </dict>
            <key>raid_13_advent_text_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,665},{137,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,154}}</string>
                <key>sourceSize</key>
                <string>{137,154}</string>
            </dict>
            <key>raid_13_advent_text_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,763},{59,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,135}}</string>
                <key>sourceSize</key>
                <string>{59,135}</string>
            </dict>
            <key>raid_13_boss_illust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>raid_animation_13.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8243c6603b3cf4d619c847bc1f8fdd61:0a7bee549179cecfaf475caa8a91bb11:bdc1a3340b4fc54a295e109aafea9dc5$</string>
            <key>textureFileName</key>
            <string>raid_animation_13.png</string>
        </dict>
    </dict>
</plist>
