<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>raid_14_advent_text_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1139},{158,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,147}}</string>
                <key>sourceSize</key>
                <string>{158,147}</string>
            </dict>
            <key>raid_14_advent_text_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1320},{147,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,137}}</string>
                <key>sourceSize</key>
                <string>{147,137}</string>
            </dict>
            <key>raid_14_advent_text_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,123},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>raid_14_advent_text_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,262},{127,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,132}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>raid_14_advent_text_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1139},{137,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,162}}</string>
                <key>sourceSize</key>
                <string>{137,162}</string>
            </dict>
            <key>raid_14_advent_text_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1278},{137,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,154}}</string>
                <key>sourceSize</key>
                <string>{137,154}</string>
            </dict>
            <key>raid_14_advent_text_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1463},{59,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,135}}</string>
                <key>sourceSize</key>
                <string>{59,135}</string>
            </dict>
            <key>raid_16_boss_illust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{627,1136}}</string>
                <key>offset</key>
                <string>{-190,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,1136}}</string>
                <key>sourceSize</key>
                <string>{1007,1136}</string>
            </dict>
            <key>raid_advent_text_16_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1139},{193,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,170}}</string>
                <key>sourceSize</key>
                <string>{193,170}</string>
            </dict>
            <key>raid_advent_text_16_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1139},{179,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,180}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>raid_advent_text_16_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1},{120,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,143}}</string>
                <key>sourceSize</key>
                <string>{120,143}</string>
            </dict>
            <key>raid_advent_text_16_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1311},{167,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,73}}</string>
                <key>sourceSize</key>
                <string>{167,73}</string>
            </dict>
            <key>raid_advent_text_16_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1311},{107,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,150}}</string>
                <key>sourceSize</key>
                <string>{107,150}</string>
            </dict>
            <key>raid_advent_text_16_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,391},{128,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>raid_animation_16.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03e626d2beaf42c384bf73934cc182e2:669acb707ceb5898a8a01f778d3605bc:61ec7720cf7c0a5dad17bded421effef$</string>
            <key>textureFileName</key>
            <string>raid_animation_16.png</string>
        </dict>
    </dict>
</plist>
