<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>raid_15_advent_text_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1133},{158,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,147}}</string>
                <key>sourceSize</key>
                <string>{158,147}</string>
            </dict>
            <key>raid_15_advent_text_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,283},{147,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,137}}</string>
                <key>sourceSize</key>
                <string>{147,137}</string>
            </dict>
            <key>raid_15_advent_text_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,422},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>raid_15_advent_text_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,622},{127,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,132}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>raid_15_advent_text_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1324},{137,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,162}}</string>
                <key>sourceSize</key>
                <string>{137,162}</string>
            </dict>
            <key>raid_15_advent_text_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{137,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,154}}</string>
                <key>sourceSize</key>
                <string>{137,154}</string>
            </dict>
            <key>raid_15_advent_text_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,561},{59,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,135}}</string>
                <key>sourceSize</key>
                <string>{59,135}</string>
            </dict>
            <key>raid_15_boss_illust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,1130}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1130}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>raid_advent_text_15_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1133},{193,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,189}}</string>
                <key>sourceSize</key>
                <string>{193,189}</string>
            </dict>
            <key>raid_advent_text_15_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1133},{175,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,159}}</string>
                <key>sourceSize</key>
                <string>{175,159}</string>
            </dict>
            <key>raid_advent_text_15_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1276},{173,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,165}}</string>
                <key>sourceSize</key>
                <string>{173,165}</string>
            </dict>
            <key>raid_advent_text_15_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1133},{182,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,141}}</string>
                <key>sourceSize</key>
                <string>{182,141}</string>
            </dict>
            <key>raid_advent_text_15_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,140},{150,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,141}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>raid_animation_15.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:720482aeaf3215731ffc65ce79a53b09:7fe8a3a5ddf9b1e2a4295d808fd88143:28099551a50510926bf602a6f47f5025$</string>
            <key>textureFileName</key>
            <string>raid_animation_15.png</string>
        </dict>
    </dict>
</plist>
