<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>raid_14_advent_text_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,155},{158,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,147}}</string>
                <key>sourceSize</key>
                <string>{158,147}</string>
            </dict>
            <key>raid_14_advent_text_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,589},{147,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,137}}</string>
                <key>sourceSize</key>
                <string>{147,137}</string>
            </dict>
            <key>raid_14_advent_text_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>raid_14_advent_text_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,140},{127,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,132}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>raid_14_advent_text_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1089},{185,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,191}}</string>
                <key>sourceSize</key>
                <string>{185,191}</string>
            </dict>
            <key>raid_14_advent_text_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1089},{167,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,155}}</string>
                <key>sourceSize</key>
                <string>{167,155}</string>
            </dict>
            <key>raid_14_advent_text_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1089},{173,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,175}}</string>
                <key>sourceSize</key>
                <string>{173,175}</string>
            </dict>
            <key>raid_14_advent_text_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,728},{132,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,143}}</string>
                <key>sourceSize</key>
                <string>{132,143}</string>
            </dict>
            <key>raid_14_advent_text_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{152,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,160}}</string>
                <key>sourceSize</key>
                <string>{152,160}</string>
            </dict>
            <key>raid_14_advent_text_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,443},{148,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,144}}</string>
                <key>sourceSize</key>
                <string>{148,144}</string>
            </dict>
            <key>raid_14_advent_text_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1089},{137,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,162}}</string>
                <key>sourceSize</key>
                <string>{137,162}</string>
            </dict>
            <key>raid_14_advent_text_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,304},{137,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,154}}</string>
                <key>sourceSize</key>
                <string>{137,154}</string>
            </dict>
            <key>raid_14_advent_text_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,728},{59,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,135}}</string>
                <key>sourceSize</key>
                <string>{59,135}</string>
            </dict>
            <key>raid_14_boss_illust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,1086}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{640,1086}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>raid_animation_14.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4db1ad70622c77a9de2a6017dfb1a179:449bc7d3f41e96f0c273efca5505a8e3:8f6f0dd2381ac4a53d60b3f27db0bf60$</string>
            <key>textureFileName</key>
            <string>raid_animation_14.png</string>
        </dict>
    </dict>
</plist>
