<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>raid_11_advent_text_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,541},{158,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,147}}</string>
                <key>sourceSize</key>
                <string>{158,147}</string>
            </dict>
            <key>raid_11_advent_text_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,688},{147,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,137}}</string>
                <key>sourceSize</key>
                <string>{147,137}</string>
            </dict>
            <key>raid_11_advent_text_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,827},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>raid_11_advent_text_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,827},{127,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,132}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>raid_11_advent_text_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1},{230,223}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{230,223}}</string>
                <key>sourceSize</key>
                <string>{230,229}</string>
            </dict>
            <key>raid_11_advent_text_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1},{213,198}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{213,198}}</string>
                <key>sourceSize</key>
                <string>{213,216}</string>
            </dict>
            <key>raid_11_advent_text_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,216},{189,196}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{189,196}}</string>
                <key>sourceSize</key>
                <string>{189,216}</string>
            </dict>
            <key>raid_11_advent_text_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,226},{174,180}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,32},{174,180}}</string>
                <key>sourceSize</key>
                <string>{192,212}</string>
            </dict>
            <key>raid_11_advent_text_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,549},{118,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,130}}</string>
                <key>sourceSize</key>
                <string>{118,130}</string>
            </dict>
            <key>raid_11_advent_text_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,407},{140,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,161}}</string>
                <key>sourceSize</key>
                <string>{140,161}</string>
            </dict>
            <key>raid_11_advent_text_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,690},{135,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,139}}</string>
                <key>sourceSize</key>
                <string>{135,139}</string>
            </dict>
            <key>raid_11_advent_text_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,402},{137,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,162}}</string>
                <key>sourceSize</key>
                <string>{137,162}</string>
            </dict>
            <key>raid_11_advent_text_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,549},{137,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,154}}</string>
                <key>sourceSize</key>
                <string>{137,154}</string>
            </dict>
            <key>raid_11_advent_text_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,402},{59,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,135}}</string>
                <key>sourceSize</key>
                <string>{59,135}</string>
            </dict>
            <key>raid_11_boss_illust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{586,1056}}</string>
                <key>offset</key>
                <string>{-27,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,1056}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>raid_animation_11.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07095283b3a104c2269ec1d15706bb9e:b732bdcc5d74ee92354053f3f6578ea7:2ad55ba4e00f355a7b8f935b97f88c2a$</string>
            <key>textureFileName</key>
            <string>raid_animation_11.png</string>
        </dict>
    </dict>
</plist>
