<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>raid_advent_text_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1578},{640,430}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{640,430}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>raid_advent_text_base2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1139},{640,437}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{640,437}}</string>
                <key>sourceSize</key>
                <string>{640,493}</string>
            </dict>
            <key>raid_animation_clear_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{644,84}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{644,84}}</string>
                <key>sourceSize</key>
                <string>{644,180}</string>
            </dict>
            <key>raid_animation_clear_base_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1260},{278,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,278}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>raid_animation_clear_object.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1},{602,136}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,29},{602,136}}</string>
                <key>sourceSize</key>
                <string>{638,180}</string>
            </dict>
            <key>raid_animation_clear_text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1540},{244,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,248}}</string>
                <key>sourceSize</key>
                <string>{244,248}</string>
            </dict>
            <key>raid_animation_clear_text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,821},{192,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,190}}</string>
                <key>sourceSize</key>
                <string>{192,190}</string>
            </dict>
            <key>raid_animation_clear_text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,605},{214,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,209}}</string>
                <key>sourceSize</key>
                <string>{214,209}</string>
            </dict>
            <key>raid_animation_clear_text_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1790},{221,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,237}}</string>
                <key>sourceSize</key>
                <string>{221,237}</string>
            </dict>
            <key>raid_animation_clear_text_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,647},{611,142}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,35},{611,142}}</string>
                <key>sourceSize</key>
                <string>{665,196}</string>
            </dict>
            <key>raid_raid_advent_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>raid_animation.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bac7eff28b51c9f1506cb5f591f68c7e:dcf0a3cf4d9ee52f201f2386ad914a26:f3c3fa4911e18e9e94a8307c4c248d50$</string>
            <key>textureFileName</key>
            <string>raid_animation.png</string>
        </dict>
    </dict>
</plist>
