<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>raid_03_advent_text_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,331},{158,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,147}}</string>
                <key>sourceSize</key>
                <string>{158,147}</string>
            </dict>
            <key>raid_03_advent_text_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,619},{147,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,137}}</string>
                <key>sourceSize</key>
                <string>{147,137}</string>
            </dict>
            <key>raid_03_advent_text_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,724},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>raid_03_advent_text_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,758},{127,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,132}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>raid_03_advent_text_00_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,756},{449,57}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{449,57}}</string>
                <key>sourceSize</key>
                <string>{475,91}</string>
            </dict>
            <key>raid_03_advent_text_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,189},{222,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,216}}</string>
                <key>sourceSize</key>
                <string>{222,216}</string>
            </dict>
            <key>raid_03_advent_text_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,1},{183,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,72}}</string>
                <key>sourceSize</key>
                <string>{183,72}</string>
            </dict>
            <key>raid_03_advent_text_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,407},{176,178}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>raid_03_advent_text_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,186},{143,105}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{143,105}}</string>
                <key>sourceSize</key>
                <string>{205,111}</string>
            </dict>
            <key>raid_03_advent_text_01_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1},{299,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,113}}</string>
                <key>sourceSize</key>
                <string>{299,113}</string>
            </dict>
            <key>raid_03_advent_text_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,480},{137,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,162}}</string>
                <key>sourceSize</key>
                <string>{137,162}</string>
            </dict>
            <key>raid_03_advent_text_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,585},{137,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,154}}</string>
                <key>sourceSize</key>
                <string>{137,154}</string>
            </dict>
            <key>raid_03_advent_text_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,619},{59,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,135}}</string>
                <key>sourceSize</key>
                <string>{59,135}</string>
            </dict>
            <key>raid_03_advent_text_02_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,116},{271,71}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{271,71}}</string>
                <key>sourceSize</key>
                <string>{293,115}</string>
            </dict>
            <key>raid_03_boss_illust.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{638,1136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>raid_animation_03.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9fe01732e39ff96be49a8316bfd27c7:2451017b55651f7728557f270c8ce67a:cbe7f55ab70571ded1e567c1659c044d$</string>
            <key>textureFileName</key>
            <string>raid_animation_03.png</string>
        </dict>
    </dict>
</plist>
