<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dungeon_icon010100.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,41},{160,124}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{160,124}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon010200.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,185},{158,144}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{158,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon010300.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,41},{160,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{160,128}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon010400.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,343},{160,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon010500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,185},{160,150}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{160,150}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon010600.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,343},{160,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,147}}</string>
                <key>sourceSize</key>
                <string>{160,147}</string>
            </dict>
            <key>dungeon_icon010700.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,343},{160,148}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{160,148}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_name010100.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1},{184,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,2},{184,38}}</string>
                <key>sourceSize</key>
                <string>{290,40}</string>
            </dict>
            <key>dungeon_name010200.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1},{182,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{182,40}}</string>
                <key>sourceSize</key>
                <string>{290,40}</string>
            </dict>
            <key>dungeon_name010300.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1},{180,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,0},{180,40}}</string>
                <key>sourceSize</key>
                <string>{290,40}</string>
            </dict>
            <key>dungeon_name010400.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,185},{112,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,2},{112,38}}</string>
                <key>sourceSize</key>
                <string>{290,40}</string>
            </dict>
            <key>dungeon_name010500.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,343},{158,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,2},{158,38}}</string>
                <key>sourceSize</key>
                <string>{290,40}</string>
            </dict>
            <key>dungeon_name010600.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,183},{158,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,0},{158,40}}</string>
                <key>sourceSize</key>
                <string>{290,40}</string>
            </dict>
            <key>dungeon_name010700.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{218,38}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{218,38}}</string>
                <key>sourceSize</key>
                <string>{282,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dungeon_icon010000.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea9d2625e8b3bc5816d1f82a86b1821e:488082750b61d248eb31f15e45e94868:fd42f985d5ec9dca1ef7ef0c85b64d8f$</string>
            <key>textureFileName</key>
            <string>dungeon_icon010000.png</string>
        </dict>
    </dict>
</plist>
