<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dungeon_icon010100.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,139},{160,124}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{160,124}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon010200.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,139},{158,144}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{158,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon010300.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,189},{160,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{160,128}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon010400.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,414},{160,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon010500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,319},{160,150}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{160,150}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon010600.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,265},{169,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,147}}</string>
                <key>sourceSize</key>
                <string>{169,147}</string>
            </dict>
            <key>dungeon_icon010700.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,299},{160,148}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{160,148}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_name010200.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,89},{197,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,48}}</string>
                <key>sourceSize</key>
                <string>{197,48}</string>
            </dict>
            <key>dungeon_name010700.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{315,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,42}}</string>
                <key>sourceSize</key>
                <string>{315,42}</string>
            </dict>
            <key>dungeon_name010600.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1},{153,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,42}}</string>
                <key>sourceSize</key>
                <string>{153,42}</string>
            </dict>
            <key>dungeon_name010400.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,139},{196,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,48}}</string>
                <key>sourceSize</key>
                <string>{196,48}</string>
            </dict>
            <key>dungeon_name010100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,45},{170,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,42}}</string>
                <key>sourceSize</key>
                <string>{170,42}</string>
            </dict>
            <key>dungeon_name010300.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,45},{219,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,42}}</string>
                <key>sourceSize</key>
                <string>{219,42}</string>
            </dict>
            <key>dungeon_name010500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,89},{195,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,42}}</string>
                <key>sourceSize</key>
                <string>{195,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dungeon_icon010000.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cbc99e2b7202b0bd6f92220119de5dd:54773dfa103a1ec1b460a3172c3bf032:fd42f985d5ec9dca1ef7ef0c85b64d8f$</string>
            <key>textureFileName</key>
            <string>dungeon_icon010000.png</string>
        </dict>
    </dict>
</plist>
