<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dungeon_icon040100.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,343},{160,150}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{160,150}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon040200.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,243},{160,152}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{160,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon040300.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,343},{160,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,154}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon040400.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,185},{160,156}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon040500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,81},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon040600.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,83},{160,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_name040100.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,43},{134,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,0},{134,40}}</string>
                <key>sourceSize</key>
                <string>{290,40}</string>
            </dict>
            <key>dungeon_name040200.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1},{182,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,0},{182,40}}</string>
                <key>sourceSize</key>
                <string>{290,40}</string>
            </dict>
            <key>dungeon_name040300.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,43},{182,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,2},{182,38}}</string>
                <key>sourceSize</key>
                <string>{290,40}</string>
            </dict>
            <key>dungeon_name040400.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,41},{206,38}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,2},{206,38}}</string>
                <key>sourceSize</key>
                <string>{290,40}</string>
            </dict>
            <key>dungeon_name040500.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1},{206,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{206,40}}</string>
                <key>sourceSize</key>
                <string>{290,40}</string>
            </dict>
            <key>dungeon_name040600.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{242,38}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{242,38}}</string>
                <key>sourceSize</key>
                <string>{282,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dungeon_icon040000.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4d9372903ae2baa0b58bf6dd0c19693:8c3a035731d1d0649bcb89cbe86e4fff:b7bf5c646e72552f9c155998c2a5efa0$</string>
            <key>textureFileName</key>
            <string>dungeon_icon040000.png</string>
        </dict>
    </dict>
</plist>
