<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dungeon_icon030100.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,145},{160,126}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{160,126}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon030200.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,341},{160,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{160,154}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon030300.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,273},{160,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon030400.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,273},{160,148}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{160,148}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon030500.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,423},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon030600.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,195},{160,144}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{160,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon030700.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,427},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_name030300.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{281,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,42}}</string>
                <key>sourceSize</key>
                <string>{281,42}</string>
            </dict>
            <key>dungeon_name030600.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,45},{296,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,42}}</string>
                <key>sourceSize</key>
                <string>{296,42}</string>
            </dict>
            <key>dungeon_name030100.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1},{165,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,42}}</string>
                <key>sourceSize</key>
                <string>{165,42}</string>
            </dict>
            <key>dungeon_name030500.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,95},{261,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,48}}</string>
                <key>sourceSize</key>
                <string>{261,48}</string>
            </dict>
            <key>dungeon_name030700.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,145},{264,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,48}}</string>
                <key>sourceSize</key>
                <string>{264,48}</string>
            </dict>
            <key>dungeon_name030200.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,45},{188,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,48}}</string>
                <key>sourceSize</key>
                <string>{188,48}</string>
            </dict>
            <key>dungeon_name030400.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,89},{225,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,42}}</string>
                <key>sourceSize</key>
                <string>{225,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dungeon_icon030000.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7a631d3dded57146efd9a7d245356bc:8793ee0df91a46fc356d659e5a880a2f:013caa4ee454967254ab2c6d50678f5f$</string>
            <key>textureFileName</key>
            <string>dungeon_icon030000.png</string>
        </dict>
    </dict>
</plist>
