<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dungeon_icon050100.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,144},{160,140}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{160,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon050200.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,444},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon050300.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,286},{160,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon050400.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,444},{158,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{158,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon050500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,348},{158,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon050600.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,194},{158,152}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{158,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_icon050700.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,286},{154,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{154,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>dungeon_name050500.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{136,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,42}}</string>
                <key>sourceSize</key>
                <string>{136,42}</string>
            </dict>
            <key>dungeon_name050400.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1},{202,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,42}}</string>
                <key>sourceSize</key>
                <string>{202,42}</string>
            </dict>
            <key>dungeon_name050600.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,45},{313,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,47}}</string>
                <key>sourceSize</key>
                <string>{313,47}</string>
            </dict>
            <key>dungeon_name050300.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,94},{203,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,48}}</string>
                <key>sourceSize</key>
                <string>{203,48}</string>
            </dict>
            <key>dungeon_name050200.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,94},{264,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,48}}</string>
                <key>sourceSize</key>
                <string>{264,48}</string>
            </dict>
            <key>dungeon_name050100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,144},{202,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,48}}</string>
                <key>sourceSize</key>
                <string>{202,48}</string>
            </dict>
            <key>dungeon_name050700.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,45},{179,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,42}}</string>
                <key>sourceSize</key>
                <string>{179,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dungeon_icon050000.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:490533a4dd233aa024365ea0f4a0c661:4f8ccae025e0976dbe10852134fa8182:e8b6bc61e24682e71e96e4df02e719e1$</string>
            <key>textureFileName</key>
            <string>dungeon_icon050000.png</string>
        </dict>
    </dict>
</plist>
