<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2nd_anniversary_keep_balloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,139},{138,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,133}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>2nd_anniversary_keep_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,529},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>2nd_anniversary_keep_button_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,1},{397,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,67}}</string>
                <key>sourceSize</key>
                <string>{397,67}</string>
            </dict>
            <key>2nd_anniversary_keep_button_back_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,36},{397,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,67}}</string>
                <key>sourceSize</key>
                <string>{397,67}</string>
            </dict>
            <key>2nd_anniversary_keep_button_decision.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,112},{400,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,98}}</string>
                <key>sourceSize</key>
                <string>{400,98}</string>
            </dict>
            <key>2nd_anniversary_keep_button_decision_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,139},{400,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,98}}</string>
                <key>sourceSize</key>
                <string>{400,98}</string>
            </dict>
            <key>2nd_anniversary_keep_button_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,26},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>2nd_anniversary_keep_button_info_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,26},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>2nd_anniversary_keep_button_keep.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,1},{323,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,67}}</string>
                <key>sourceSize</key>
                <string>{323,67}</string>
            </dict>
            <key>2nd_anniversary_keep_button_lineup.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,43},{397,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,67}}</string>
                <key>sourceSize</key>
                <string>{397,67}</string>
            </dict>
            <key>2nd_anniversary_keep_button_lineup_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,70},{397,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,67}}</string>
                <key>sourceSize</key>
                <string>{397,67}</string>
            </dict>
            <key>2nd_anniversary_keep_button_summon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,162},{394,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,145}}</string>
                <key>sourceSize</key>
                <string>{394,145}</string>
            </dict>
            <key>2nd_anniversary_keep_button_summon_gloss.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,43},{74,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,100}}</string>
                <key>sourceSize</key>
                <string>{74,100}</string>
            </dict>
            <key>2nd_anniversary_keep_button_summon_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,197},{394,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,145}}</string>
                <key>sourceSize</key>
                <string>{394,145}</string>
            </dict>
            <key>2nd_anniversary_keep_button_summon_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,1},{184,49}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,50},{184,49}}</string>
                <key>sourceSize</key>
                <string>{394,145}</string>
            </dict>
            <key>2nd_anniversary_keep_checkbox_nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,70},{434,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,90}}</string>
                <key>sourceSize</key>
                <string>{434,90}</string>
            </dict>
            <key>2nd_anniversary_keep_checkbox_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,105},{434,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,90}}</string>
                <key>sourceSize</key>
                <string>{434,90}</string>
            </dict>
            <key>2nd_anniversary_keep_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,309},{640,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,218}}</string>
                <key>sourceSize</key>
                <string>{640,218}</string>
            </dict>
            <key>2nd_anniversary_keep_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,455},{640,876}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,876}}</string>
                <key>sourceSize</key>
                <string>{640,876}</string>
            </dict>
            <key>2nd_anniversary_keep_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,239},{511,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,214}}</string>
                <key>sourceSize</key>
                <string>{511,214}</string>
            </dict>
            <key>2nd_anniversary_keep_logo_lineup.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1},{345,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,33}}</string>
                <key>sourceSize</key>
                <string>{345,33}</string>
            </dict>
            <key>2nd_anniversary_keep_text_warning.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{234,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,23}}</string>
                <key>sourceSize</key>
                <string>{234,23}</string>
            </dict>
            <key>2nd_anniversary_keep_unit_name_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1},{493,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,40}}</string>
                <key>sourceSize</key>
                <string>{493,40}</string>
            </dict>
            <key>2nd_anniversary_keepsummon_thumbnail_keeping.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,70},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2nd_anniversary_keep.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71b54a2d890e8e2a4ca565d2d5776ea0:325cd4db158c584b695968d38d90796d:e0cc4006e2aa18524b271a12b8479f9a$</string>
            <key>textureFileName</key>
            <string>2nd_anniversary_keep.png</string>
        </dict>
    </dict>
</plist>
