<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2nd_anniversary_keep_balloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1912},{138,121}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{138,121}}</string>
                <key>sourceSize</key>
                <string>{138,133}</string>
            </dict>
            <key>2nd_anniversary_keep_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>2nd_anniversary_keep_button_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,643},{397,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,67}}</string>
                <key>sourceSize</key>
                <string>{397,67}</string>
            </dict>
            <key>2nd_anniversary_keep_button_back_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1233},{397,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,67}}</string>
                <key>sourceSize</key>
                <string>{397,67}</string>
            </dict>
            <key>2nd_anniversary_keep_button_decision.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1039},{400,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,98}}</string>
                <key>sourceSize</key>
                <string>{400,98}</string>
            </dict>
            <key>2nd_anniversary_keep_button_decision_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1441},{400,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,98}}</string>
                <key>sourceSize</key>
                <string>{400,98}</string>
            </dict>
            <key>2nd_anniversary_keep_button_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1632},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>2nd_anniversary_keep_button_info_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1696},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>2nd_anniversary_keep_button_keep.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1843},{323,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,67}}</string>
                <key>sourceSize</key>
                <string>{323,67}</string>
            </dict>
            <key>2nd_anniversary_keep_button_lineup.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1042},{397,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,67}}</string>
                <key>sourceSize</key>
                <string>{397,67}</string>
            </dict>
            <key>2nd_anniversary_keep_button_lineup_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1441},{397,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,67}}</string>
                <key>sourceSize</key>
                <string>{397,67}</string>
            </dict>
            <key>2nd_anniversary_keep_button_summon.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,428},{394,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,145}}</string>
                <key>sourceSize</key>
                <string>{394,145}</string>
            </dict>
            <key>2nd_anniversary_keep_button_summon_gloss.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1912},{74,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,100}}</string>
                <key>sourceSize</key>
                <string>{74,100}</string>
            </dict>
            <key>2nd_anniversary_keep_button_summon_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,643},{394,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,145}}</string>
                <key>sourceSize</key>
                <string>{394,145}</string>
            </dict>
            <key>2nd_anniversary_keep_button_summon_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,824},{202,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,49},{202,45}}</string>
                <key>sourceSize</key>
                <string>{394,145}</string>
            </dict>
            <key>2nd_anniversary_keep_checkbox_nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,824},{434,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,90}}</string>
                <key>sourceSize</key>
                <string>{434,90}</string>
            </dict>
            <key>2nd_anniversary_keep_checkbox_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1260},{434,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,90}}</string>
                <key>sourceSize</key>
                <string>{434,90}</string>
            </dict>
            <key>2nd_anniversary_keep_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{640,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,218}}</string>
                <key>sourceSize</key>
                <string>{640,218}</string>
            </dict>
            <key>2nd_anniversary_keep_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1139},{640,876}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,876}}</string>
                <key>sourceSize</key>
                <string>{640,876}</string>
            </dict>
            <key>2nd_anniversary_keep_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,1},{425,144}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{425,144}}</string>
                <key>sourceSize</key>
                <string>{505,182}</string>
            </dict>
            <key>2nd_anniversary_keep_logo_lineup.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1028},{203,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{203,33}}</string>
                <key>sourceSize</key>
                <string>{345,33}</string>
            </dict>
            <key>2nd_anniversary_keep_text_warning.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2017},{290,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,23}}</string>
                <key>sourceSize</key>
                <string>{290,23}</string>
            </dict>
            <key>2nd_anniversary_keep_unit_name_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1039},{493,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,40}}</string>
                <key>sourceSize</key>
                <string>{493,40}</string>
            </dict>
            <key>2nd_anniversary_keepsummon_thumbnail_keeping.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1912},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2nd_anniversary_keep.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a3ded34bb22550f05cd0b88c3cf063e:1e0d27b6a6f367f811e4cf160fc2c25f:e0cc4006e2aa18524b271a12b8479f9a$</string>
            <key>textureFileName</key>
            <string>2nd_anniversary_keep.png</string>
        </dict>
    </dict>
</plist>
