<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arena_badge.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,267},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>arena_badge_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,271},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>arena_badge_fighters_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>arena_badge_highrank.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,47},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>arena_badge_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>arena_badge_icon_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>arena_badge_masters.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,37},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>arena_base_total_win_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,383},{291,79}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{291,79}}</string>
                <key>sourceSize</key>
                <string>{301,79}</string>
            </dict>
            <key>arena_battle_top_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,712},{640,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,111}}</string>
                <key>sourceSize</key>
                <string>{640,111}</string>
            </dict>
            <key>arena_bp_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,35},{395,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,34}}</string>
                <key>sourceSize</key>
                <string>{395,34}</string>
            </dict>
            <key>arena_button_battle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,720},{352,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,123}}</string>
                <key>sourceSize</key>
                <string>{352,123}</string>
            </dict>
            <key>arena_button_battle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,949},{352,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,123}}</string>
                <key>sourceSize</key>
                <string>{352,123}</string>
            </dict>
            <key>arena_button_battle_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,969},{352,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,123}}</string>
                <key>sourceSize</key>
                <string>{352,123}</string>
            </dict>
            <key>arena_button_change_fighters.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,127},{232,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,68}}</string>
                <key>sourceSize</key>
                <string>{232,68}</string>
            </dict>
            <key>arena_button_change_general.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,127},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>arena_button_change_masters.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,170},{232,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,68}}</string>
                <key>sourceSize</key>
                <string>{232,68}</string>
            </dict>
            <key>arena_button_change_products.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,81},{124,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,60}}</string>
                <key>sourceSize</key>
                <string>{124,60}</string>
            </dict>
            <key>arena_button_change_weekly.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,197},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>arena_button_help_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,127},{152,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,70}}</string>
                <key>sourceSize</key>
                <string>{152,70}</string>
            </dict>
            <key>arena_button_help_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,129},{152,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,70}}</string>
                <key>sourceSize</key>
                <string>{152,70}</string>
            </dict>
            <key>arena_button_medal_change_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,199},{152,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,70}}</string>
                <key>sourceSize</key>
                <string>{152,70}</string>
            </dict>
            <key>arena_button_medal_change_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,201},{152,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,70}}</string>
                <key>sourceSize</key>
                <string>{152,70}</string>
            </dict>
            <key>arena_button_ranking_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,310},{274,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,71}}</string>
                <key>sourceSize</key>
                <string>{274,71}</string>
            </dict>
            <key>arena_button_ranking_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,339},{274,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,71}}</string>
                <key>sourceSize</key>
                <string>{274,71}</string>
            </dict>
            <key>arena_button_ranking_change_masters.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,197},{232,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,68}}</string>
                <key>sourceSize</key>
                <string>{232,68}</string>
            </dict>
            <key>arena_button_ranking_change_synthesis.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,240},{232,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,68}}</string>
                <key>sourceSize</key>
                <string>{232,68}</string>
            </dict>
            <key>arena_button_reward_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,267},{152,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,70}}</string>
                <key>sourceSize</key>
                <string>{152,70}</string>
            </dict>
            <key>arena_button_reward_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,267},{152,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,70}}</string>
                <key>sourceSize</key>
                <string>{152,70}</string>
            </dict>
            <key>arena_class_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1792},{544,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,177}}</string>
                <key>sourceSize</key>
                <string>{544,177}</string>
            </dict>
            <key>arena_frame_reward_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1},{114,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,32}}</string>
                <key>sourceSize</key>
                <string>{114,32}</string>
            </dict>
            <key>arena_gauge_9slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>arena_gauge_frame_9slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>arena_icon_acquired.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1},{137,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,32}}</string>
                <key>sourceSize</key>
                <string>{137,32}</string>
            </dict>
            <key>arena_icon_classup_chance.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1},{190,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,32}}</string>
                <key>sourceSize</key>
                <string>{190,32}</string>
            </dict>
            <key>arena_icon_goldmedal.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,36},{47,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>arena_item_mbp.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,1},{59,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,23}}</string>
                <key>sourceSize</key>
                <string>{59,23}</string>
            </dict>
            <key>arena_item_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,85},{123,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,83}}</string>
                <key>sourceSize</key>
                <string>{123,83}</string>
            </dict>
            <key>arena_list_reward_fighters.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,508},{557,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,100}}</string>
                <key>sourceSize</key>
                <string>{557,100}</string>
            </dict>
            <key>arena_list_reward_masters.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,610},{557,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,100}}</string>
                <key>sourceSize</key>
                <string>{557,100}</string>
            </dict>
            <key>arena_medal_exchange_limit.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1},{162,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,32}}</string>
                <key>sourceSize</key>
                <string>{162,32}</string>
            </dict>
            <key>arena_object_vs_sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,508},{210,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,194}}</string>
                <key>sourceSize</key>
                <string>{210,194}</string>
            </dict>
            <key>arena_orb_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>arena_party_warning.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,75},{601,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,50}}</string>
                <key>sourceSize</key>
                <string>{601,50}</string>
            </dict>
            <key>arena_player_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,969},{300,174}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{300,174}}</string>
                <key>sourceSize</key>
                <string>{314,174}</string>
            </dict>
            <key>arena_product_list_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1644},{571,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,146}}</string>
                <key>sourceSize</key>
                <string>{571,146}</string>
            </dict>
            <key>arena_ranking_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,273},{144,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,119}}</string>
                <key>sourceSize</key>
                <string>{144,119}</string>
            </dict>
            <key>arena_ranking_icon_1st.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,383},{122,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,133}}</string>
                <key>sourceSize</key>
                <string>{122,133}</string>
            </dict>
            <key>arena_ranking_icon_2nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,412},{122,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,132}}</string>
                <key>sourceSize</key>
                <string>{122,132}</string>
            </dict>
            <key>arena_ranking_icon_3rd.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,412},{122,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,132}}</string>
                <key>sourceSize</key>
                <string>{122,132}</string>
            </dict>
            <key>arena_ranking_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,825},{477,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,122}}</string>
                <key>sourceSize</key>
                <string>{477,122}</string>
            </dict>
            <key>arena_ranking_list_1st.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1271},{484,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,135}}</string>
                <key>sourceSize</key>
                <string>{484,135}</string>
            </dict>
            <key>arena_ranking_list_2nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1271},{484,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,135}}</string>
                <key>sourceSize</key>
                <string>{484,135}</string>
            </dict>
            <key>arena_ranking_list_3rd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1408},{484,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,135}}</string>
                <key>sourceSize</key>
                <string>{484,135}</string>
            </dict>
            <key>arena_ranking_player_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,845},{477,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,122}}</string>
                <key>sourceSize</key>
                <string>{477,122}</string>
            </dict>
            <key>arena_reward_base_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1145},{640,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,124}}</string>
                <key>sourceSize</key>
                <string>{640,124}</string>
            </dict>
            <key>arena_time_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,394},{254,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,112}}</string>
                <key>sourceSize</key>
                <string>{254,112}</string>
            </dict>
            <key>arena_top_base_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1408},{267,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,381}}</string>
                <key>sourceSize</key>
                <string>{267,381}</string>
            </dict>
            <key>arena_top_players_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1074},{318,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,142}}</string>
                <key>sourceSize</key>
                <string>{318,142}</string>
            </dict>
            <key>arena_top_rabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,35},{212,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,38}}</string>
                <key>sourceSize</key>
                <string>{212,38}</string>
            </dict>
            <key>arena_top_ranking_icon_1st.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,35},{44,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>arena_top_ranking_icon_2nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,35},{44,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>arena_top_ranking_icon_3rd.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,35},{44,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>arena_top_ranking_icon_4th.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>arena_top_ranking_icon_5th.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,35},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>quest_common_icon_key01.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>quest_common_icon_key02.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>quest_common_icon_key03.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1408},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>arena_ui_atlas.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ed5f4e224b250a749ec4876a4289ba6:ef01bde6db036641609fe8808475ebb0:753b4e74d34e6755955ef72d4fc1f2a7$</string>
            <key>textureFileName</key>
            <string>arena_ui_atlas.png</string>
        </dict>
    </dict>
</plist>
