<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_menu_field_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,139},{574,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,154}}</string>
                <key>sourceSize</key>
                <string>{574,154}</string>
            </dict>
            <key>battle_menu_field_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{487,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,33}}</string>
                <key>sourceSize</key>
                <string>{487,33}</string>
            </dict>
            <key>battle_menu_field_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1},{487,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,33}}</string>
                <key>sourceSize</key>
                <string>{487,33}</string>
            </dict>
            <key>battle_menu_field_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,36},{487,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,33}}</string>
                <key>sourceSize</key>
                <string>{487,33}</string>
            </dict>
            <key>battle_menu_field_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,36},{487,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,33}}</string>
                <key>sourceSize</key>
                <string>{487,33}</string>
            </dict>
            <key>battle_menu_field_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,71},{487,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,33}}</string>
                <key>sourceSize</key>
                <string>{487,33}</string>
            </dict>
            <key>battle_ui_button_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,71},{137,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,66}}</string>
                <key>sourceSize</key>
                <string>{137,66}</string>
            </dict>
            <key>battle_ui_button_config.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,71},{137,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,66}}</string>
                <key>sourceSize</key>
                <string>{137,66}</string>
            </dict>
            <key>battle_ui_button_recovery.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,71},{137,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,66}}</string>
                <key>sourceSize</key>
                <string>{137,66}</string>
            </dict>
            <key>battle_ui_button_reopen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,106},{175,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,66}}</string>
                <key>sourceSize</key>
                <string>{175,66}</string>
            </dict>
            <key>battle_ui_button_retire.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,106},{140,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{140,68}}</string>
                <key>sourceSize</key>
                <string>{184,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_ui_menu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a43a7eb69a2b1ece7f9ee8a4305df41:14cecad21549895d2c77d32221ab8438:50ec739dee424949309ce049eaa75060$</string>
            <key>textureFileName</key>
            <string>battle_ui_menu.png</string>
        </dict>
    </dict>
</plist>
