<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alchemy_buton_summon_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,362},{506,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,96}}</string>
                <key>sourceSize</key>
                <string>{506,96}</string>
            </dict>
            <key>alchemy_button_orbsummon_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1},{314,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,96}}</string>
                <key>sourceSize</key>
                <string>{314,96}</string>
            </dict>
            <key>alchemy_button_orbsummon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,362},{314,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,96}}</string>
                <key>sourceSize</key>
                <string>{314,96}</string>
            </dict>
            <key>alchemy_button_orbsummon_10_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,362},{314,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,96}}</string>
                <key>sourceSize</key>
                <string>{314,96}</string>
            </dict>
            <key>alchemy_button_orbsummon_10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,99},{314,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,96}}</string>
                <key>sourceSize</key>
                <string>{314,96}</string>
            </dict>
            <key>alchemy_button_sale_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,613},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>alchemy_button_sale_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,293},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>alchemy_button_unitsale_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,521},{290,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>alchemy_button_unitsale_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1},{290,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>alchemy_button_weaponsale_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,678},{290,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>alchemy_button_weaponsale_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,678},{290,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>alchemy_change_consume_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,197},{357,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,46}}</string>
                <key>sourceSize</key>
                <string>{357,46}</string>
            </dict>
            <key>alchemy_change_itemnumber_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,245},{357,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,46}}</string>
                <key>sourceSize</key>
                <string>{357,46}</string>
            </dict>
            <key>alchemy_change_material_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,157},{529,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,203}}</string>
                <key>sourceSize</key>
                <string>{529,203}</string>
            </dict>
            <key>alchemy_change_number_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,362},{454,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,26}}</string>
                <key>sourceSize</key>
                <string>{454,26}</string>
            </dict>
            <key>alchemy_change_number_bar_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,362},{460,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,32}}</string>
                <key>sourceSize</key>
                <string>{460,32}</string>
            </dict>
            <key>alchemy_change_number_handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,293},{67,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,101}}</string>
                <key>sourceSize</key>
                <string>{67,101}</string>
            </dict>
            <key>alchemy_change_popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{610,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,154}}</string>
                <key>sourceSize</key>
                <string>{610,154}</string>
            </dict>
            <key>alchemy_change_popup_titile.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,362},{550,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,64}}</string>
                <key>sourceSize</key>
                <string>{550,64}</string>
            </dict>
            <key>alchemy_menubutton_orbsummon_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,701},{290,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>alchemy_menubutton_orbsummon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,793},{290,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>alchemy_rainbow_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,197},{36,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>archemist_button_orbstore_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,885},{290,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>archemist_button_orbstore_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,701},{290,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>archemist_button_orbstore_campaign_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,293},{290,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{290,112}}</string>
                <key>sourceSize</key>
                <string>{290,114}</string>
            </dict>
            <key>archemist_button_orbstore_campaign_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,407},{290,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{290,112}}</string>
                <key>sourceSize</key>
                <string>{290,114}</string>
            </dict>
            <key>city_alchemy_alchemist_soldout.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,935},{117,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,29}}</string>
                <key>sourceSize</key>
                <string>{117,29}</string>
            </dict>
            <key>city_alchemy_alchemy_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,157},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>city_alchemy_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,362},{571,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,134}}</string>
                <key>sourceSize</key>
                <string>{571,134}</string>
            </dict>
            <key>city_alchemy_title_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,870},{95,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,35}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>city_alchemy.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1001fe76cbd1bc89f17975b29c4e2c50:feb47bac84d60c0d3b9e24fa33d76f4e:52d097ec27c9a76d94606d5c919fd131$</string>
            <key>textureFileName</key>
            <string>city_alchemy.png</string>
        </dict>
    </dict>
</plist>
