<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city_restaurant_title_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,493},{83,33}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,33}}</string>
                <key>sourceSize</key>
                <string>{95,35}</string>
            </dict>
            <key>restaurant_button_action_cook_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,208},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>restaurant_button_action_cook_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,296},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>restaurant_button_cook_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,384},{290,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>restaurant_button_cook_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,476},{290,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>restaurant_button_list_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,462},{290,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>restaurant_button_list_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,568},{290,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>restaurant_button_mynus.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,512},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>restaurant_button_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,567},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>restaurant_button_sale_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,208},{150,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,68}}</string>
                <key>sourceSize</key>
                <string>{150,68}</string>
            </dict>
            <key>restaurant_button_sale_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,360},{150,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,68}}</string>
                <key>sourceSize</key>
                <string>{150,68}</string>
            </dict>
            <key>restaurant_change_itemnumber_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{504,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{504,43}}</string>
                <key>sourceSize</key>
                <string>{506,43}</string>
            </dict>
            <key>restaurant_cocking_button_mynus.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,393},{48,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>restaurant_cocking_button_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,443},{48,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>restaurant_coocking_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,91},{300,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,116}}</string>
                <key>sourceSize</key>
                <string>{300,116}</string>
            </dict>
            <key>restaurant_glan_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,46},{504,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{504,43}}</string>
                <key>sourceSize</key>
                <string>{506,43}</string>
            </dict>
            <key>restaurant_itemnumber_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,160},{357,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,46}}</string>
                <key>sourceSize</key>
                <string>{357,46}</string>
            </dict>
            <key>restaurant_number_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,128},{364,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,30}}</string>
                <key>sourceSize</key>
                <string>{364,30}</string>
            </dict>
            <key>restaurant_number_bar_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,91},{370,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,35}}</string>
                <key>sourceSize</key>
                <string>{370,35}</string>
            </dict>
            <key>restaurant_number_handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,393},{67,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,101}}</string>
                <key>sourceSize</key>
                <string>{67,101}</string>
            </dict>
            <key>restaurant_rabel_material.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,754},{249,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,21}}</string>
                <key>sourceSize</key>
                <string>{249,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>city_restaurant.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cff746a1fe19daad2869c640d62820e:d65d892b858dd32a06b876f51e704317:086bbd39116d4f321a619bdc9bdd84ab$</string>
            <key>textureFileName</key>
            <string>city_restaurant.png</string>
        </dict>
    </dict>
</plist>
