<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city_balloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{339,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,146}}</string>
                <key>sourceSize</key>
                <string>{339,146}</string>
            </dict>
            <key>city_common_icon_alchemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1},{148,254}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{148,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_common_icon_alchemy_campaign.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,403},{148,254}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{148,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_common_icon_arena.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,735},{171,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,92}}</string>
                <key>sourceSize</key>
                <string>{171,92}</string>
            </dict>
            <key>city_common_icon_arena_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,735},{171,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,92}}</string>
                <key>sourceSize</key>
                <string>{171,92}</string>
            </dict>
            <key>city_common_icon_blacksmith.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,433},{174,246}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{174,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_common_icon_blacksmith_campaign.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,257},{174,248}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{174,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_common_icon_guild.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,191},{256,210}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{256,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_common_icon_mine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,908},{108,102}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{108,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>city_common_icon_park.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,735},{120,102}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,135},{120,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_common_icon_restaurant.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,553},{180,206}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,29},{180,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_common_icon_temple.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,908},{102,122}}</string>
                <key>offset</key>
                <string>{3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,115},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,149},{312,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,40}}</string>
                <key>sourceSize</key>
                <string>{312,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>city_common.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7519eb571fd56af87e6b77e8948007fd:d65f1d10a2765283f46fbe3de86959f8:c99ef0b172a4dacec12f2864410cf6b3$</string>
            <key>textureFileName</key>
            <string>city_common.png</string>
        </dict>
    </dict>
</plist>
