<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city_balloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{339,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,146}}</string>
                <key>sourceSize</key>
                <string>{339,146}</string>
            </dict>
            <key>city_common_icon_alchemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,149},{148,254}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{148,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_common_icon_alchemy_campaign.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,251},{148,254}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{148,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_common_icon_arena.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,405},{171,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,92}}</string>
                <key>sourceSize</key>
                <string>{171,92}</string>
            </dict>
            <key>city_common_icon_arena_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,315},{171,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,92}}</string>
                <key>sourceSize</key>
                <string>{171,92}</string>
            </dict>
            <key>city_common_icon_blacksmith.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1},{174,248}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{174,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_common_icon_blacksmith_campaign.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,213},{174,248}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{174,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_common_icon_guild.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1},{256,210}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{256,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_common_icon_mine.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,401},{108,102}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{108,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>city_common_icon_park.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,401},{120,102}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,135},{120,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_common_icon_restaurant.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,149},{180,208}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,29},{180,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_common_icon_temple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,359},{102,122}}</string>
                <key>offset</key>
                <string>{3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,115},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>city_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1},{312,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,40}}</string>
                <key>sourceSize</key>
                <string>{312,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>city_common.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5eef816b4a9e07d2a37b7586dc277b4:810d0d9f869581aa7b0433617a3bc1ca:c99ef0b172a4dacec12f2864410cf6b3$</string>
            <key>textureFileName</key>
            <string>city_common.png</string>
        </dict>
    </dict>
</plist>
