<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blacksmith_arrow_material_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,770},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>blacksmith_base_material.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,397},{631,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,204}}</string>
                <key>sourceSize</key>
                <string>{631,204}</string>
            </dict>
            <key>blacksmith_button_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,803},{187,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,68}}</string>
                <key>sourceSize</key>
                <string>{187,68}</string>
            </dict>
            <key>blacksmith_button_change_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,603},{187,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,68}}</string>
                <key>sourceSize</key>
                <string>{187,68}</string>
            </dict>
            <key>blacksmith_button_create_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,233},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>blacksmith_button_create_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,321},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>blacksmith_button_enforce_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,409},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>blacksmith_button_enforce_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,497},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>blacksmith_button_limitbreak_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,585},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>blacksmith_button_limitbreak_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,603},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>blacksmith_button_lmitbreak_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,239},{186,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,90}}</string>
                <key>sourceSize</key>
                <string>{186,90}</string>
            </dict>
            <key>blacksmith_button_lmitbreak_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,427},{186,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,90}}</string>
                <key>sourceSize</key>
                <string>{186,90}</string>
            </dict>
            <key>blacksmith_button_materiallist_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,673},{290,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,78}}</string>
                <key>sourceSize</key>
                <string>{290,78}</string>
            </dict>
            <key>blacksmith_button_materiallist_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,691},{290,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,78}}</string>
                <key>sourceSize</key>
                <string>{290,78}</string>
            </dict>
            <key>blacksmith_button_sale_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,603},{150,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,68}}</string>
                <key>sourceSize</key>
                <string>{150,68}</string>
            </dict>
            <key>blacksmith_button_sale_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,844},{150,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,68}}</string>
                <key>sourceSize</key>
                <string>{150,68}</string>
            </dict>
            <key>blacksmith_button_strength_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,615},{186,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,90}}</string>
                <key>sourceSize</key>
                <string>{186,90}</string>
            </dict>
            <key>blacksmith_button_strength_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,803},{186,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,90}}</string>
                <key>sourceSize</key>
                <string>{186,90}</string>
            </dict>
            <key>blacksmith_button_weaponlist_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,753},{290,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,78}}</string>
                <key>sourceSize</key>
                <string>{290,78}</string>
            </dict>
            <key>blacksmith_button_weaponlist_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,833},{290,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,78}}</string>
                <key>sourceSize</key>
                <string>{290,78}</string>
            </dict>
            <key>blacksmith_detail_without_ability.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1},{236,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,80}}</string>
                <key>sourceSize</key>
                <string>{236,80}</string>
            </dict>
            <key>blacksmith_frame_material_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{635,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,192}}</string>
                <key>sourceSize</key>
                <string>{635,192}</string>
            </dict>
            <key>blacksmith_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1},{298,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,114}}</string>
                <key>sourceSize</key>
                <string>{298,114}</string>
            </dict>
            <key>blacksmith_list_remove.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,117},{298,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,114}}</string>
                <key>sourceSize</key>
                <string>{298,114}</string>
            </dict>
            <key>blacksmith_menubutton_create_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,603},{186,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,90}}</string>
                <key>sourceSize</key>
                <string>{186,90}</string>
            </dict>
            <key>blacksmith_menubutton_create_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,803},{186,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,90}}</string>
                <key>sourceSize</key>
                <string>{186,90}</string>
            </dict>
            <key>blacksmith_weapon_empty_thumbnail.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,673},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>city_blacksmith_status_bas.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,195},{632,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,200}}</string>
                <key>sourceSize</key>
                <string>{632,200}</string>
            </dict>
            <key>city_blacksmith_title_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,673},{95,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,36}}</string>
                <key>sourceSize</key>
                <string>{95,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>city_blacksmith.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7506bc40ed20637314c1f57cb0dd9c79:5ae358885be0c0d6bd114e7eb7923138:aa5ab5d282893366275fbf1bfc80b646$</string>
            <key>textureFileName</key>
            <string>city_blacksmith.png</string>
        </dict>
    </dict>
</plist>
