<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city_temple_bg_picturebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{634,946}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,86},{634,946}}</string>
                <key>sourceSize</key>
                <string>{640,1118}</string>
            </dict>
            <key>city_temple_bg_picturebook_grd.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,949},{520,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,20}}</string>
                <key>sourceSize</key>
                <string>{520,24}</string>
            </dict>
            <key>city_temple_bg_picturebook_min.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1},{627,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,466}}</string>
                <key>sourceSize</key>
                <string>{627,466}</string>
            </dict>
            <key>city_temple_library_button_weapon_before.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1},{153,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,65}}</string>
                <key>sourceSize</key>
                <string>{153,65}</string>
            </dict>
            <key>common_button_dungeon.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1},{571,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,86}}</string>
                <key>sourceSize</key>
                <string>{571,86}</string>
            </dict>
            <key>common_button_dungeon_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1},{571,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,86}}</string>
                <key>sourceSize</key>
                <string>{571,86}</string>
            </dict>
            <key>temple_button_change_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,156},{153,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,65}}</string>
                <key>sourceSize</key>
                <string>{153,65}</string>
            </dict>
            <key>temple_button_change_illust.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,311},{153,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,65}}</string>
                <key>sourceSize</key>
                <string>{153,65}</string>
            </dict>
            <key>temple_button_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,942},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>temple_button_history_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,630},{290,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>temple_button_history_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,922},{290,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>temple_button_material_food_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,574},{310,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,86}}</string>
                <key>sourceSize</key>
                <string>{310,86}</string>
            </dict>
            <key>temple_button_material_food_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1},{310,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,86}}</string>
                <key>sourceSize</key>
                <string>{310,86}</string>
            </dict>
            <key>temple_button_monster_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,630},{310,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,86}}</string>
                <key>sourceSize</key>
                <string>{310,86}</string>
            </dict>
            <key>temple_button_monster_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,662},{310,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,86}}</string>
                <key>sourceSize</key>
                <string>{310,86}</string>
            </dict>
            <key>temple_button_picturebook_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,630},{290,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>temple_button_picturebook_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,630},{290,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>temple_button_reward_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,313},{208,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,88}}</string>
                <key>sourceSize</key>
                <string>{208,88}</string>
            </dict>
            <key>temple_button_reward_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,1},{208,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,88}}</string>
                <key>sourceSize</key>
                <string>{208,88}</string>
            </dict>
            <key>temple_button_reward_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,91},{208,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,88}}</string>
                <key>sourceSize</key>
                <string>{208,88}</string>
            </dict>
            <key>temple_button_unit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,750},{310,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,86}}</string>
                <key>sourceSize</key>
                <string>{310,86}</string>
            </dict>
            <key>temple_button_unit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,838},{310,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,86}}</string>
                <key>sourceSize</key>
                <string>{310,86}</string>
            </dict>
            <key>temple_button_voice.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,466},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>temple_button_voice_motion.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,949},{454,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,57}}</string>
                <key>sourceSize</key>
                <string>{454,57}</string>
            </dict>
            <key>temple_button_weapon_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,630},{310,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,86}}</string>
                <key>sourceSize</key>
                <string>{310,86}</string>
            </dict>
            <key>temple_button_weapon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,630},{310,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,86}}</string>
                <key>sourceSize</key>
                <string>{310,86}</string>
            </dict>
            <key>temple_icon_female.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,971},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>temple_icon_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1000},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>temple_icon_unknown.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,971},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>temple_library_button_weapon_strength.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,942},{153,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,65}}</string>
                <key>sourceSize</key>
                <string>{153,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>city_temple.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99d27f5aa36532242a802bdef94f7388:fa9e70c949a60fa1f5022c9359c42f63:d340a2a44413c75e06b21090d936ced0$</string>
            <key>textureFileName</key>
            <string>city_temple.png</string>
        </dict>
    </dict>
</plist>
