<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city_guild_title_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,30},{183,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,36}}</string>
                <key>sourceSize</key>
                <string>{183,36}</string>
            </dict>
            <key>guild_base_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1},{299,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,27}}</string>
                <key>sourceSize</key>
                <string>{299,27}</string>
            </dict>
            <key>guild_button_clear_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,37},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>guild_button_clear_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,53},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>guild_button_deliver_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,53},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>guild_button_deliver_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,68},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>guild_button_receive_quest_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,139},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>guild_button_receive_quest_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,155},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>guild_button_received_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,104},{290,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>guild_button_received_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,104},{290,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>guild_button_sub_quest_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,196},{290,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>guild_button_sub_quest_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,196},{290,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>guild_clear_stamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,241},{149,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,139}}</string>
                <key>sourceSize</key>
                <string>{149,139}</string>
            </dict>
            <key>guild_frame_ckear.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,37},{526,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,65}}</string>
                <key>sourceSize</key>
                <string>{526,65}</string>
            </dict>
            <key>guild_frame_missionreward.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1},{430,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,34}}</string>
                <key>sourceSize</key>
                <string>{430,34}</string>
            </dict>
            <key>guild_icon_difficulty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>guild_icon_ongoing.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1},{159,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,50}}</string>
                <key>sourceSize</key>
                <string>{159,50}</string>
            </dict>
            <key>guild_item_guildrank.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,1},{104,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,21}}</string>
                <key>sourceSize</key>
                <string>{104,21}</string>
            </dict>
            <key>guild_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,288},{571,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,146}}</string>
                <key>sourceSize</key>
                <string>{571,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>city_guild.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e47a9fca796b5f758244421b709ad98c:04a533bae27e38a7aebefacabc3fb64d:90afa9ba685733a32ec0ddd950d2c2ee$</string>
            <key>textureFileName</key>
            <string>city_guild.png</string>
        </dict>
    </dict>
</plist>
