<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_arrow_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,103},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>common_arrow_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,141},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>common_badge.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,367},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>common_bar_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,440},{46,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,12}}</string>
                <key>sourceSize</key>
                <string>{46,12}</string>
            </dict>
            <key>common_bar_frame_9slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,995},{47,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,22}}</string>
                <key>sourceSize</key>
                <string>{47,22}</string>
            </dict>
            <key>common_bar_limitbreak.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,488},{46,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,12}}</string>
                <key>sourceSize</key>
                <string>{46,12}</string>
            </dict>
            <key>common_base_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,440},{640,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,103}}</string>
                <key>sourceSize</key>
                <string>{640,103}</string>
            </dict>
            <key>common_base_thumbnail.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1359},{620,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,70}}</string>
                <key>sourceSize</key>
                <string>{620,70}</string>
            </dict>
            <key>common_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,17},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>common_blue_base_9slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,995},{640,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,168}}</string>
                <key>sourceSize</key>
                <string>{640,168}</string>
            </dict>
            <key>common_button_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1981},{124,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,64}}</string>
                <key>sourceSize</key>
                <string>{124,64}</string>
            </dict>
            <key>common_button_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1981},{164,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,66}}</string>
                <key>sourceSize</key>
                <string>{164,66}</string>
            </dict>
            <key>common_button_decidin.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,103},{263,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,86}}</string>
                <key>sourceSize</key>
                <string>{263,86}</string>
            </dict>
            <key>common_button_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,825},{218,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,69}}</string>
                <key>sourceSize</key>
                <string>{218,69}</string>
            </dict>
            <key>common_button_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1418},{416,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,100}}</string>
                <key>sourceSize</key>
                <string>{416,100}</string>
            </dict>
            <key>common_button_list_harf.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,1},{278,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,100}}</string>
                <key>sourceSize</key>
                <string>{278,100}</string>
            </dict>
            <key>common_button_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,293},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>common_button_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1981},{163,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,58}}</string>
                <key>sourceSize</key>
                <string>{163,58}</string>
            </dict>
            <key>common_button_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1981},{164,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,66}}</string>
                <key>sourceSize</key>
                <string>{164,66}</string>
            </dict>
            <key>common_button_sortie.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1},{260,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,87}}</string>
                <key>sourceSize</key>
                <string>{260,87}</string>
            </dict>
            <key>common_button_town_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,912},{205,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,81}}</string>
                <key>sourceSize</key>
                <string>{205,81}</string>
            </dict>
            <key>common_button_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1285},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>common_field_text_9slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1981},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>common_frame_select_thumbnail_9slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1082},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>common_frame_weapon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1087},{147,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,26}}</string>
                <key>sourceSize</key>
                <string>{147,26}</string>
            </dict>
            <key>common_frame_weapon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1418},{147,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,26}}</string>
                <key>sourceSize</key>
                <string>{147,26}</string>
            </dict>
            <key>common_frame_weapon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1567},{147,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,26}}</string>
                <key>sourceSize</key>
                <string>{147,26}</string>
            </dict>
            <key>common_frame_weapon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1716},{147,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,26}}</string>
                <key>sourceSize</key>
                <string>{147,26}</string>
            </dict>
            <key>common_frame_weapon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1799},{147,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,26}}</string>
                <key>sourceSize</key>
                <string>{147,26}</string>
            </dict>
            <key>common_grd_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,191},{632,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,260}}</string>
                <key>sourceSize</key>
                <string>{632,260}</string>
            </dict>
            <key>common_grd_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1369},{640,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,32}}</string>
                <key>sourceSize</key>
                <string>{640,32}</string>
            </dict>
            <key>common_icon_crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,367},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>common_icon_orb.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1054},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>common_info_number_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,825},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,43}}</string>
                <key>sourceSize</key>
                <string>{37,43}</string>
            </dict>
            <key>common_item_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,263},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
            <key>common_line_object.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1155},{640,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,81}}</string>
                <key>sourceSize</key>
                <string>{640,81}</string>
            </dict>
            <key>common_marquee.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1314},{640,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,53}}</string>
                <key>sourceSize</key>
                <string>{640,53}</string>
            </dict>
            <key>common_name_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,870},{413,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,36}}</string>
                <key>sourceSize</key>
                <string>{413,36}</string>
            </dict>
            <key>common_necessarycoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,408},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>common_pagecontrol_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,293},{17,17}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{17,17}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>common_pagecontrol_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1403},{21,19}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{21,19}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>common_rarelty_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,179},{227,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,22}}</string>
                <key>sourceSize</key>
                <string>{227,22}</string>
            </dict>
            <key>common_scroll_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,896},{14,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,213}}</string>
                <key>sourceSize</key>
                <string>{14,213}</string>
            </dict>
            <key>common_scroll_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{14,652}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,652}}</string>
                <key>sourceSize</key>
                <string>{14,652}</string>
            </dict>
            <key>common_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1238},{640,74}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{640,74}}</string>
                <key>sourceSize</key>
                <string>{640,84}</string>
            </dict>
            <key>common_tab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1981},{160,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,62}}</string>
                <key>sourceSize</key>
                <string>{160,62}</string>
            </dict>
            <key>common_tab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1981},{160,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{160,54}}</string>
                <key>sourceSize</key>
                <string>{160,62}</string>
            </dict>
            <key>common_tab_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1637},{160,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{160,54}}</string>
                <key>sourceSize</key>
                <string>{160,62}</string>
            </dict>
            <key>common_thumbnail_badge.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1019},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>common_thumbnail_emprty.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1186},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>common_window_frame_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1290},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common_atlas.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bf3493b4ce31d0e192a91674550f4bd:14cfa469bcdbf66ece591fdc3ba60b7a:bc422bbe82e5fca9ce6e8d5e410412c4$</string>
            <key>textureFileName</key>
            <string>common_atlas.png</string>
        </dict>
    </dict>
</plist>
