<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cook_button_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,300}}</string>
                <key>sourceSize</key>
                <string>{640,300}</string>
            </dict>
            <key>cook_coin_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{502,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,38}}</string>
                <key>sourceSize</key>
                <string>{502,38}</string>
            </dict>
            <key>cook_common_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,513},{494,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,36}}</string>
                <key>sourceSize</key>
                <string>{494,36}</string>
            </dict>
            <key>cook_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,304},{256,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,81}}</string>
                <key>sourceSize</key>
                <string>{256,81}</string>
            </dict>
            <key>cook_ok_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{163,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>cook_popup_window.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{509,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,354}}</string>
                <key>sourceSize</key>
                <string>{509,354}</string>
            </dict>
            <key>cook_skill_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>cook_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,387},{81,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,45}}</string>
                <key>sourceSize</key>
                <string>{81,45}</string>
            </dict>
            <key>food_detail_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,304},{277,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,125}}</string>
                <key>sourceSize</key>
                <string>{277,125}</string>
            </dict>
            <key>food_typeicon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>food_typeicon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,469},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>food_typeicon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,469},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cook_atlas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab30dc3e23d55cb07a923ffad65f01e5:29aee728b92cf539614317ac463d048e:7c4911e0f5b814c9f2db7abd57f8a242$</string>
            <key>textureFileName</key>
            <string>cook_atlas.png</string>
        </dict>
    </dict>
</plist>
