<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>download_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,105},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>download_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,105},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>download_object_gaugeframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{508,102}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,102}}</string>
                <key>sourceSize</key>
                <string>{512,150}</string>
            </dict>
            <key>download_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,105},{177,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,31}}</string>
                <key>sourceSize</key>
                <string>{177,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>download.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69d96c2e55f908ea85d7c04618586072:8a2bf70ec7738d708f9cb04f33d8c9fc:bd30de696a5bc4f1fcb3485c099e729e$</string>
            <key>textureFileName</key>
            <string>download.png</string>
        </dict>
    </dict>
</plist>
