<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fillter_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,179},{60,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,45}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>fillter_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,20}}</string>
                <key>sourceSize</key>
                <string>{640,20}</string>
            </dict>
            <key>fillter_button_all_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,75},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_all_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,75},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,23},{110,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,50}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>fillter_button_favorite_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,23},{184,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,50}}</string>
                <key>sourceSize</key>
                <string>{184,50}</string>
            </dict>
            <key>fillter_button_favorite_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,75},{184,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,50}}</string>
                <key>sourceSize</key>
                <string>{184,50}</string>
            </dict>
            <key>fillter_button_fillter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,179},{125,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,60}}</string>
                <key>sourceSize</key>
                <string>{125,60}</string>
            </dict>
            <key>fillter_button_option.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,75},{125,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,60}}</string>
                <key>sourceSize</key>
                <string>{125,60}</string>
            </dict>
            <key>fillter_button_rarellty1_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,137},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_rarellty1_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,189},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_rarellty2_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,241},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_rarellty2_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,189},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_rarellty3_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,137},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_rarellty3_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,241},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_rarellty4_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,127},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_rarellty4_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,127},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_rarellty5_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,127},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_rarellty5_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,189},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_rarellty_awake_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,241},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_rarellty_awake_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,179},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_rarellty_less_than2_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,179},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_rarellty_less_than2_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,231},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_sharpen_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,23},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>fillter_button_sharpen_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,127},{182,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>fillter_button_type1_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_type1_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_type2_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_type2_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_type3_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,53},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_type3_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,53},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_type4_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,53},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_type4_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,105},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_type5_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,105},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_type5_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,105},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_weapon_type1_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,157},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_weapon_type1_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,157},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_weapon_type2_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,157},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_weapon_type2_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,209},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_weapon_type3_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,209},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_weapon_type3_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,209},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_weapon_type4_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,87},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_weapon_type4_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,87},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_weapon_type5_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,173},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_button_weapon_type5_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,225},{84,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,50}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>fillter_title_max_rarellity.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,241},{116,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,50}}</string>
                <key>sourceSize</key>
                <string>{116,50}</string>
            </dict>
            <key>fillter_title_rarellity.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,241},{116,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,50}}</string>
                <key>sourceSize</key>
                <string>{116,50}</string>
            </dict>
            <key>fillter_title_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,23},{116,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,50}}</string>
                <key>sourceSize</key>
                <string>{116,50}</string>
            </dict>
            <key>fillter_title_weapon_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,75},{116,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,50}}</string>
                <key>sourceSize</key>
                <string>{116,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fillter.png</string>
            <key>size</key>
            <string>{976,292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6708d705ec7688fad1898b909b93cb9d:22eee9203bf627e1fa84561ea077ff69:b494f591fd52a448ef740a868ee8a7ac$</string>
            <key>textureFileName</key>
            <string>fillter.png</string>
        </dict>
    </dict>
</plist>
