<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friend_button_application_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1184},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_application_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,1},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_deactivate_nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1802},{172,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,66}}</string>
                <key>sourceSize</key>
                <string>{172,66}</string>
            </dict>
            <key>friend_button_deactivate_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1809},{174,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,68}}</string>
                <key>sourceSize</key>
                <string>{174,68}</string>
            </dict>
            <key>friend_button_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1767},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>friend_button_invent2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,571},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_invent2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_invent_line_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,115},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_invent_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,229},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_invent_mail_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,343},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_invent_mail_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,457},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_invent_twitter_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,457},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_invent_twitter_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,571},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_invitation_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1154},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_invitation_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,571},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_list_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1154},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_list_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,571},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_search_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1154},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_search_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1154},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_sort_date.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1992},{169,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,50}}</string>
                <key>sourceSize</key>
                <string>{169,50}</string>
            </dict>
            <key>friend_button_sort_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1985},{88,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,50}}</string>
                <key>sourceSize</key>
                <string>{88,50}</string>
            </dict>
            <key>friend_button_sort_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1992},{169,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,50}}</string>
                <key>sourceSize</key>
                <string>{169,50}</string>
            </dict>
            <key>friend_button_sort_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1992},{169,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,50}}</string>
                <key>sourceSize</key>
                <string>{169,50}</string>
            </dict>
            <key>friend_button_sort_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1936},{88,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,50}}</string>
                <key>sourceSize</key>
                <string>{88,50}</string>
            </dict>
            <key>friend_fav_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1767},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>friend_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1184},{626,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,428}}</string>
                <key>sourceSize</key>
                <string>{626,428}</string>
            </dict>
            <key>friend_grd_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1767},{397,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,33}}</string>
                <key>sourceSize</key>
                <string>{397,33}</string>
            </dict>
            <key>friend_icon_first_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1936},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>friend_icon_tag_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1985},{58,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,25}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>friend_invent_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1812},{572,178}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{572,178}}</string>
                <key>sourceSize</key>
                <string>{578,180}</string>
            </dict>
            <key>friend_join_point_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,2026},{385,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,18}}</string>
                <key>sourceSize</key>
                <string>{385,18}</string>
            </dict>
            <key>friend_join_point_bar_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1936},{389,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,22}}</string>
                <key>sourceSize</key>
                <string>{389,22}</string>
            </dict>
            <key>friend_join_point_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1184},{609,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,84}}</string>
                <key>sourceSize</key>
                <string>{609,84}</string>
            </dict>
            <key>friend_join_point_presentbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1976},{78,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,63}}</string>
                <key>sourceSize</key>
                <string>{78,63}</string>
            </dict>
            <key>friend_join_point_tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1992},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>friend_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1802},{568,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,132}}</string>
                <key>sourceSize</key>
                <string>{568,132}</string>
            </dict>
            <key>friend_list_first_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1},{568,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,132}}</string>
                <key>sourceSize</key>
                <string>{568,132}</string>
            </dict>
            <key>friend_tag_battle_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2026},{258,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,18}}</string>
                <key>sourceSize</key>
                <string>{258,18}</string>
            </dict>
            <key>friend_tag_battle_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1960},{262,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,22}}</string>
                <key>sourceSize</key>
                <string>{262,22}</string>
            </dict>
            <key>friend_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{554,1181}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,1181}}</string>
                <key>sourceSize</key>
                <string>{554,1183}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>friend.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd91480f972a671a15c984415aebeffa:60c718874e624fd36de5c1d2be02da52:6b0a64026ae56fd16339d3c912c0f817$</string>
            <key>textureFileName</key>
            <string>friend.png</string>
        </dict>
    </dict>
</plist>
