<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friend_button_application_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,73},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_application_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,122},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_deactivate_nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,25},{172,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,66}}</string>
                <key>sourceSize</key>
                <string>{172,66}</string>
            </dict>
            <key>friend_button_deactivate_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,25},{174,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,68}}</string>
                <key>sourceSize</key>
                <string>{174,68}</string>
            </dict>
            <key>friend_button_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,1},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>friend_button_invent2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,122},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_invent2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,187},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_invent_line_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,236},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_invent_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,236},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_invent_mail_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,301},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_invent_mail_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,350},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_invent_twitter_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,350},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_invent_twitter_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,415},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_invitation_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,464},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_invitation_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,464},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_list_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,529},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_list_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,578},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_search_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,578},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_search_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,643},{581,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,112}}</string>
                <key>sourceSize</key>
                <string>{581,112}</string>
            </dict>
            <key>friend_button_sort_date.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,21},{169,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,50}}</string>
                <key>sourceSize</key>
                <string>{169,50}</string>
            </dict>
            <key>friend_button_sort_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1},{88,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,50}}</string>
                <key>sourceSize</key>
                <string>{88,50}</string>
            </dict>
            <key>friend_button_sort_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,21},{169,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,50}}</string>
                <key>sourceSize</key>
                <string>{169,50}</string>
            </dict>
            <key>friend_button_sort_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,21},{169,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,50}}</string>
                <key>sourceSize</key>
                <string>{169,50}</string>
            </dict>
            <key>friend_button_sort_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,21},{88,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,50}}</string>
                <key>sourceSize</key>
                <string>{88,50}</string>
            </dict>
            <key>friend_fav_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>friend_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,692},{626,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,428}}</string>
                <key>sourceSize</key>
                <string>{626,428}</string>
            </dict>
            <key>friend_grd_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,1},{397,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,33}}</string>
                <key>sourceSize</key>
                <string>{397,33}</string>
            </dict>
            <key>friend_icon_first_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>friend_icon_tag_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,1},{60,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,25}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>friend_invent_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,692},{572,178}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{572,178}}</string>
                <key>sourceSize</key>
                <string>{578,180}</string>
            </dict>
            <key>friend_join_point_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{385,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,18}}</string>
                <key>sourceSize</key>
                <string>{385,18}</string>
            </dict>
            <key>friend_join_point_bar_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1},{389,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,22}}</string>
                <key>sourceSize</key>
                <string>{389,22}</string>
            </dict>
            <key>friend_join_point_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,36},{609,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,84}}</string>
                <key>sourceSize</key>
                <string>{609,84}</string>
            </dict>
            <key>friend_join_point_presentbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,25},{78,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,63}}</string>
                <key>sourceSize</key>
                <string>{78,63}</string>
            </dict>
            <key>friend_join_point_tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,1},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>friend_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,45},{568,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,132}}</string>
                <key>sourceSize</key>
                <string>{568,132}</string>
            </dict>
            <key>friend_list_first_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,55},{568,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,132}}</string>
                <key>sourceSize</key>
                <string>{568,132}</string>
            </dict>
            <key>friend_tag_battle_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1},{258,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,18}}</string>
                <key>sourceSize</key>
                <string>{258,18}</string>
            </dict>
            <key>friend_tag_battle_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,1},{262,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,22}}</string>
                <key>sourceSize</key>
                <string>{262,22}</string>
            </dict>
            <key>friend_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1122},{554,1463}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,1463}}</string>
                <key>sourceSize</key>
                <string>{554,1475}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>friend.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:377f60ab0c3286b47fb7ed06adf33eb2:620dafb39352c8f420a5b742e02e46a5:6b0a64026ae56fd16339d3c912c0f817$</string>
            <key>textureFileName</key>
            <string>friend.png</string>
        </dict>
    </dict>
</plist>
