<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gacha_balloon_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1},{206,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,67}}</string>
                <key>sourceSize</key>
                <string>{206,67}</string>
            </dict>
            <key>gacha_summon_ticket_40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,963},{53,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{53,36}}</string>
                <key>sourceSize</key>
                <string>{53,38}</string>
            </dict>
            <key>orb_summon_button_10_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1224},{294,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{294,85}}</string>
                <key>sourceSize</key>
                <string>{296,85}</string>
            </dict>
            <key>orb_summon_button_10_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1522},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>summon_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1967},{43,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,75}}</string>
                <key>sourceSize</key>
                <string>{43,75}</string>
            </dict>
            <key>summon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,962}}</string>
                <key>offset</key>
                <string>{0,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,158},{640,962}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>summon_box_button_lineup.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1019},{196,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,84}}</string>
                <key>sourceSize</key>
                <string>{196,84}</string>
            </dict>
            <key>summon_box_button_option.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1744},{136,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,58}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>summon_box_button_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,379},{136,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,58}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>summon_box_checkbox_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1466},{54,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{54,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>summon_box_checkbox_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1882},{58,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>summon_box_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1115},{552,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,3}}</string>
                <key>sourceSize</key>
                <string>{552,3}</string>
            </dict>
            <key>summon_box_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1120},{486,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,112}}</string>
                <key>sourceSize</key>
                <string>{486,112}</string>
            </dict>
            <key>summon_box_option_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1120},{512,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,50}}</string>
                <key>sourceSize</key>
                <string>{512,50}</string>
            </dict>
            <key>summon_box_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1172},{512,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,50}}</string>
                <key>sourceSize</key>
                <string>{512,50}</string>
            </dict>
            <key>summon_buton_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1984},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>summon_button_alchemy_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1692},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>summon_button_alchemy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1692},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>summon_button_alchemy_rare_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1778},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>summon_button_alchemy_rare_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1864},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>summon_button_free10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1950},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>summon_button_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1967},{242,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,69}}</string>
                <key>sourceSize</key>
                <string>{242,69}</string>
            </dict>
            <key>summon_button_raresummon_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1954},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>summon_button_raresummon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1744},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>summon_button_raresummon_10_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1830},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>summon_button_raresummon_10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1381},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>summon_button_raresummon_limit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1467},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>summon_button_raresummon_limit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>summon_button_summon_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,293},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>summon_button_summon_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,585},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>summon_button_ticketsummon_continuity_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1105},{296,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,85}}</string>
                <key>sourceSize</key>
                <string>{296,85}</string>
            </dict>
            <key>summon_button_ticketsummon_continuity_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1582},{296,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,85}}</string>
                <key>sourceSize</key>
                <string>{296,85}</string>
            </dict>
            <key>summon_button_ticketsummon_solo_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1224},{296,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,85}}</string>
                <key>sourceSize</key>
                <string>{296,85}</string>
            </dict>
            <key>summon_button_ticketsummon_solo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1224},{296,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,85}}</string>
                <key>sourceSize</key>
                <string>{296,85}</string>
            </dict>
            <key>summon_button_weaponsummon_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,671},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>summon_button_weaponsummon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,671},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>summon_button_weaponsummon_10_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,671},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>summon_button_weaponsummon_10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,671},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>summon_button_weaponsummon_free_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>summon_button_weaponsummon_free_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,293},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>summon_crystal_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1105},{326,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,78}}</string>
                <key>sourceSize</key>
                <string>{326,78}</string>
            </dict>
            <key>summon_date_empty_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1553},{240,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{240,26}}</string>
                <key>sourceSize</key>
                <string>{240,34}</string>
            </dict>
            <key>summon_date_empty_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1581},{240,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{240,26}}</string>
                <key>sourceSize</key>
                <string>{240,34}</string>
            </dict>
            <key>summon_frame_stepup.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1623},{100,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,34}</string>
            </dict>
            <key>summon_icon_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1553},{53,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,38}}</string>
                <key>sourceSize</key>
                <string>{53,38}</string>
            </dict>
            <key>summon_info_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1224},{466,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,42}}</string>
                <key>sourceSize</key>
                <string>{466,42}</string>
            </dict>
            <key>summon_list_frame_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1019},{606,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,46}}</string>
                <key>sourceSize</key>
                <string>{606,46}</string>
            </dict>
            <key>summon_list_frame_info_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1067},{606,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,46}}</string>
                <key>sourceSize</key>
                <string>{606,46}</string>
            </dict>
            <key>summon_list_info_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1853},{160,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,30}}</string>
                <key>sourceSize</key>
                <string>{160,30}</string>
            </dict>
            <key>summon_page_controll.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,965},{640,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,52}}</string>
                <key>sourceSize</key>
                <string>{640,52}</string>
            </dict>
            <key>suummon_date_alchemystone.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1224},{240,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,34}}</string>
                <key>sourceSize</key>
                <string>{240,34}</string>
            </dict>
            <key>suummon_date_crystals.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1916},{240,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,34}}</string>
                <key>sourceSize</key>
                <string>{240,34}</string>
            </dict>
            <key>suummon_date_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1105},{240,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{240,30}}</string>
                <key>sourceSize</key>
                <string>{240,34}</string>
            </dict>
            <key>suummon_date_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1381},{240,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{240,30}}</string>
                <key>sourceSize</key>
                <string>{240,34}</string>
            </dict>
            <key>suummon_date_ticket_40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1623},{240,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{240,30}}</string>
                <key>sourceSize</key>
                <string>{240,34}</string>
            </dict>
            <key>suummon_date_unit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1655},{240,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{240,30}}</string>
                <key>sourceSize</key>
                <string>{240,34}</string>
            </dict>
            <key>ui_baner_flash_back_main_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,965},{194,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,278}}</string>
                <key>sourceSize</key>
                <string>{194,278}</string>
            </dict>
            <key>ui_bottan_flash_a_main_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1582},{269,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,40}}</string>
                <key>sourceSize</key>
                <string>{269,40}</string>
            </dict>
            <key>ui_bottan_flash_main_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1530},{160,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,50}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>ui_bottan_glow_gold_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1245},{345,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,134}}</string>
                <key>sourceSize</key>
                <string>{345,134}</string>
            </dict>
            <key>ui_bottan_glow_red_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1608},{345,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,134}}</string>
                <key>sourceSize</key>
                <string>{345,134}</string>
            </dict>
            <key>ui_bottan_glow_silver_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1608},{344,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,133}}</string>
                <key>sourceSize</key>
                <string>{344,133}</string>
            </dict>
            <key>ui_bottan_particle_main_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1433},{187,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,95}}</string>
                <key>sourceSize</key>
                <string>{187,95}</string>
            </dict>
            <key>ui_bottan_spike_main_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1880},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>unit_summon_button_special_10_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,379},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>unit_summon_button_special_10_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gacha.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73c625147281c92986ce4e696919cc0e:98e87f2a6ae52604e0481924e4e38853:0ee78ab6ba4799a2aaa099e0fb0ca202$</string>
            <key>textureFileName</key>
            <string>gacha.png</string>
        </dict>
    </dict>
</plist>
