<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arena_emblem_thumbnail_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,596},{124,118}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{124,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arena_emblem_thumbnail_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,493},{96,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{96,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arena_emblem_thumbnail_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,596},{104,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{104,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arena_emblem_thumbnail_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,809},{98,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{98,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arena_emblem_thumbnail_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,683},{110,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{110,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arena_emblem_thumbnail_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,716},{104,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{104,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arena_emblem_thumbnail_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,263},{126,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{126,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arena_emblem_thumbnail_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,466},{128,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arena_emblem_thumbnail_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,557},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{124,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arena_emblem_thumbnail_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,137},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arena_emblem_thumbnail_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,206},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arena_emblem_thumbnail_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,336},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arena_orb.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,495},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>arena_orb_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,466},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>common_footer_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1},{640,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,95}}</string>
                <key>sourceSize</key>
                <string>{640,95}</string>
            </dict>
            <key>common_footer_button_friend_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,383},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>common_footer_button_friend_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,137},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>common_footer_button_home_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,247},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>common_footer_button_home_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,591},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>common_footer_button_shop_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,357},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>common_footer_button_shop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,471},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>common_footer_button_summon_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,137},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>common_footer_button_summon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,581},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>common_footer_button_town_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,251},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>common_footer_button_town_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,643},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>common_footer_button_unit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,643},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>common_footer_button_unit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,705},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>common_headder_ap_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,186},{173,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,18}}</string>
                <key>sourceSize</key>
                <string>{173,18}</string>
            </dict>
            <key>common_headder_ap_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,528},{184,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,27}}</string>
                <key>sourceSize</key>
                <string>{184,27}</string>
            </dict>
            <key>common_headder_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,134}}</string>
                <key>sourceSize</key>
                <string>{640,134}</string>
            </dict>
            <key>common_headder_exp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,166},{174,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,18}}</string>
                <key>sourceSize</key>
                <string>{174,18}</string>
            </dict>
            <key>common_headder_exp_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,137},{184,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,27}}</string>
                <key>sourceSize</key>
                <string>{184,27}</string>
            </dict>
            <key>common_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{389,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,64}}</string>
                <key>sourceSize</key>
                <string>{389,64}</string>
            </dict>
            <key>common_top_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{640,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,112}}</string>
                <key>sourceSize</key>
                <string>{640,112}</string>
            </dict>
            <key>footer_button_weapon_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,722},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>footer_button_weapon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,695},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,112}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>headder_ato.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,466},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{36,21}</string>
            </dict>
            <key>headder_crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,489},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>headder_icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,466},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>global_menu_atlas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63c46596b3fb9460b3c043f42e0a586e:d6b5aa16dfd9024b75fd1d6094982982:2eecf6cfa0d1aa49c0745fdb050ad1ea$</string>
            <key>textureFileName</key>
            <string>global_menu_atlas.png</string>
        </dict>
    </dict>
</plist>
