<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_badge.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,650},{50,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,42}}</string>
                <key>sourceSize</key>
                <string>{50,42}</string>
            </dict>
            <key>common_exclamation_badge.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,506},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>home_baloon_mining.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,694},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{156,49}}</string>
                <key>sourceSize</key>
                <string>{158,51}</string>
            </dict>
            <key>home_button_cr.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,880},{89,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,90}}</string>
                <key>sourceSize</key>
                <string>{89,90}</string>
            </dict>
            <key>home_button_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,971},{98,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,77}}</string>
                <key>sourceSize</key>
                <string>{98,77}</string>
            </dict>
            <key>home_button_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1050},{91,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,70}}</string>
                <key>sourceSize</key>
                <string>{91,70}</string>
            </dict>
            <key>home_button_mining_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,527},{276,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,102}}</string>
                <key>sourceSize</key>
                <string>{276,102}</string>
            </dict>
            <key>home_button_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,866},{176,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,66}}</string>
                <key>sourceSize</key>
                <string>{176,66}</string>
            </dict>
            <key>home_button_mission_campaign.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,322},{176,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,80}}</string>
                <key>sourceSize</key>
                <string>{176,80}</string>
            </dict>
            <key>home_button_presentbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,500},{100,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,85}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>home_button_tools.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1341},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{82,77}</string>
            </dict>
            <key>home_event_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1029},{188,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,213}}</string>
                <key>sourceSize</key>
                <string>{188,213}</string>
            </dict>
            <key>home_event_rabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,528},{120,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,44}}</string>
                <key>sourceSize</key>
                <string>{120,44}</string>
            </dict>
            <key>home_grd_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{354,205}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{354,205}}</string>
                <key>sourceSize</key>
                <string>{354,217}</string>
            </dict>
            <key>home_name_grd_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,208},{318,45}}</string>
                <key>offset</key>
                <string>{12,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,25},{318,45}}</string>
                <key>sourceSize</key>
                <string>{354,217}</string>
            </dict>
            <key>mypage_banner_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,1},{22,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,37}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>mypage_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,286}}</string>
                <key>offset</key>
                <string>{0,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,210},{640,286}}</string>
                <key>sourceSize</key>
                <string>{640,496}</string>
            </dict>
            <key>mypage_button_arena_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,667},{242,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,122}}</string>
                <key>sourceSize</key>
                <string>{242,122}</string>
            </dict>
            <key>mypage_button_arena_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,759},{242,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,122}}</string>
                <key>sourceSize</key>
                <string>{242,122}</string>
            </dict>
            <key>mypage_button_arena_campaign_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,881},{242,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,122}}</string>
                <key>sourceSize</key>
                <string>{242,122}</string>
            </dict>
            <key>mypage_button_arena_campaign_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,791},{242,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,122}}</string>
                <key>sourceSize</key>
                <string>{242,122}</string>
            </dict>
            <key>mypage_button_event_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,883},{242,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,122}}</string>
                <key>sourceSize</key>
                <string>{242,122}</string>
            </dict>
            <key>mypage_button_event_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1005},{242,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,122}}</string>
                <key>sourceSize</key>
                <string>{242,122}</string>
            </dict>
            <key>mypage_button_event_campaign_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,915},{242,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,122}}</string>
                <key>sourceSize</key>
                <string>{242,122}</string>
            </dict>
            <key>mypage_button_event_campaign_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1007},{242,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,122}}</string>
                <key>sourceSize</key>
                <string>{242,122}</string>
            </dict>
            <key>mypage_button_malti_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,509},{262,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,123}}</string>
                <key>sourceSize</key>
                <string>{262,123}</string>
            </dict>
            <key>mypage_button_malti_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,542},{262,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,123}}</string>
                <key>sourceSize</key>
                <string>{262,123}</string>
            </dict>
            <key>mypage_button_quest_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1129},{210,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,211}}</string>
                <key>sourceSize</key>
                <string>{210,211}</string>
            </dict>
            <key>mypage_button_quest_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1039},{210,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,211}}</string>
                <key>sourceSize</key>
                <string>{210,211}</string>
            </dict>
            <key>mypage_button_quest_CR_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1244},{210,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,211}}</string>
                <key>sourceSize</key>
                <string>{210,211}</string>
            </dict>
            <key>mypage_button_quest_CR_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1131},{210,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,211}}</string>
                <key>sourceSize</key>
                <string>{210,211}</string>
            </dict>
            <key>mypage_button_raid_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,403},{281,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,104}}</string>
                <key>sourceSize</key>
                <string>{281,104}</string>
            </dict>
            <key>mypage_button_raid_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,436},{281,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,104}}</string>
                <key>sourceSize</key>
                <string>{281,104}</string>
            </dict>
            <key>mypage_button_raid_event_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,289},{284,112}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{284,112}}</string>
                <key>sourceSize</key>
                <string>{320,130}</string>
            </dict>
            <key>mypage_button_raid_event_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,322},{284,112}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{284,112}}</string>
                <key>sourceSize</key>
                <string>{320,130}</string>
            </dict>
            <key>mypage_button_raid_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,421},{281,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,104}}</string>
                <key>sourceSize</key>
                <string>{281,104}</string>
            </dict>
            <key>mypage_button_town_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,602},{262,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,123}}</string>
                <key>sourceSize</key>
                <string>{262,123}</string>
            </dict>
            <key>mypage_button_town_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,631},{262,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,123}}</string>
                <key>sourceSize</key>
                <string>{262,123}</string>
            </dict>
            <key>mypage_button_town_campaign_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,634},{262,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,123}}</string>
                <key>sourceSize</key>
                <string>{262,123}</string>
            </dict>
            <key>mypage_button_town_campaign_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,756},{262,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,123}}</string>
                <key>sourceSize</key>
                <string>{262,123}</string>
            </dict>
            <key>mypage_button_wiki.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1341},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{64,64}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>mypage_frame_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,289},{320,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,130}}</string>
                <key>sourceSize</key>
                <string>{320,130}</string>
            </dict>
            <key>mypage_info_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,208},{332,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,112}}</string>
                <key>sourceSize</key>
                <string>{332,112}</string>
            </dict>
            <key>mypage_raid_orb_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,421},{83,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,35}}</string>
                <key>sourceSize</key>
                <string>{83,35}</string>
            </dict>
            <key>quest_campaign_free_stamina.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,934},{167,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,93}}</string>
                <key>sourceSize</key>
                <string>{167,93}</string>
            </dict>
            <key>quest_campaign_quest.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1122},{142,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,81}}</string>
                <key>sourceSize</key>
                <string>{142,81}</string>
            </dict>
            <key>raid_orb.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,40},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>raid_relief_request.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,667},{211,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,70}}</string>
                <key>sourceSize</key>
                <string>{211,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebf083255eb9e22613a210dc257547ba:95ea7f08bd75f4e9555082e79a5614ae:10101cf27d0f1c17e861425c0e9b5b27$</string>
            <key>textureFileName</key>
            <string>home.png</string>
        </dict>
    </dict>
</plist>
