<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_badge.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,454},{50,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,42}}</string>
                <key>sourceSize</key>
                <string>{50,42}</string>
            </dict>
            <key>common_exclamation_badge.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,818},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>home_baloon_mining.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,687},{182,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,47}}</string>
                <key>sourceSize</key>
                <string>{182,47}</string>
            </dict>
            <key>home_button_cr.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,697},{89,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,90}}</string>
                <key>sourceSize</key>
                <string>{89,90}</string>
            </dict>
            <key>home_button_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,765},{99,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,84}}</string>
                <key>sourceSize</key>
                <string>{99,84}</string>
            </dict>
            <key>home_button_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,513},{91,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,70}}</string>
                <key>sourceSize</key>
                <string>{91,70}</string>
            </dict>
            <key>home_button_mining_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,443},{276,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,102}}</string>
                <key>sourceSize</key>
                <string>{276,102}</string>
            </dict>
            <key>home_button_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,335},{176,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,68}}</string>
                <key>sourceSize</key>
                <string>{176,70}</string>
            </dict>
            <key>home_button_mission_campaign.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,988},{176,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,80}}</string>
                <key>sourceSize</key>
                <string>{176,80}</string>
            </dict>
            <key>home_button_presentbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,993},{79,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,74}}</string>
                <key>sourceSize</key>
                <string>{79,74}</string>
            </dict>
            <key>home_button_tools.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,909},{82,77}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{82,77}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>home_event_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1066},{188,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,213}}</string>
                <key>sourceSize</key>
                <string>{188,213}</string>
            </dict>
            <key>home_event_rabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,871},{120,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,44}}</string>
                <key>sourceSize</key>
                <string>{120,44}</string>
            </dict>
            <key>home_grd_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{354,205}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{354,205}}</string>
                <key>sourceSize</key>
                <string>{354,217}</string>
            </dict>
            <key>home_name_grd_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,208},{318,45}}</string>
                <key>offset</key>
                <string>{12,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,25},{318,45}}</string>
                <key>sourceSize</key>
                <string>{354,217}</string>
            </dict>
            <key>mypage_banner_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,1},{22,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,37}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>mypage_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,332}}</string>
                <key>offset</key>
                <string>{0,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,164},{640,332}}</string>
                <key>sourceSize</key>
                <string>{640,496}</string>
            </dict>
            <key>mypage_button_arena_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,811},{242,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,122}}</string>
                <key>sourceSize</key>
                <string>{242,122}</string>
            </dict>
            <key>mypage_button_arena_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,818},{242,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,122}}</string>
                <key>sourceSize</key>
                <string>{242,122}</string>
            </dict>
            <key>mypage_button_arena_campaign_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,921},{242,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,122}}</string>
                <key>sourceSize</key>
                <string>{242,122}</string>
            </dict>
            <key>mypage_button_arena_campaign_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,854},{242,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,122}}</string>
                <key>sourceSize</key>
                <string>{242,122}</string>
            </dict>
            <key>mypage_button_event_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,942},{242,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,122}}</string>
                <key>sourceSize</key>
                <string>{242,122}</string>
            </dict>
            <key>mypage_button_event_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1045},{242,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,122}}</string>
                <key>sourceSize</key>
                <string>{242,122}</string>
            </dict>
            <key>mypage_button_event_campaign_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,797},{244,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,122}}</string>
                <key>sourceSize</key>
                <string>{244,122}</string>
            </dict>
            <key>mypage_button_event_campaign_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,687},{244,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,122}}</string>
                <key>sourceSize</key>
                <string>{244,122}</string>
            </dict>
            <key>mypage_button_malti_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,443},{262,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,123}}</string>
                <key>sourceSize</key>
                <string>{262,125}</string>
            </dict>
            <key>mypage_button_malti_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,547},{262,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,123}}</string>
                <key>sourceSize</key>
                <string>{262,125}</string>
            </dict>
            <key>mypage_button_quest_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1169},{210,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,211}}</string>
                <key>sourceSize</key>
                <string>{210,211}</string>
            </dict>
            <key>mypage_button_quest_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,935},{210,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,211}}</string>
                <key>sourceSize</key>
                <string>{210,211}</string>
            </dict>
            <key>mypage_button_raid_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,335},{284,106}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{284,106}}</string>
                <key>sourceSize</key>
                <string>{320,130}</string>
            </dict>
            <key>mypage_button_raid_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,335},{284,106}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{284,106}}</string>
                <key>sourceSize</key>
                <string>{320,130}</string>
            </dict>
            <key>mypage_button_raid_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,454},{284,106}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{284,106}}</string>
                <key>sourceSize</key>
                <string>{320,130}</string>
            </dict>
            <key>mypage_button_town_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,568},{262,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,123}}</string>
                <key>sourceSize</key>
                <string>{262,125}</string>
            </dict>
            <key>mypage_button_town_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,672},{262,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,123}}</string>
                <key>sourceSize</key>
                <string>{262,125}</string>
            </dict>
            <key>mypage_button_town_campaign_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,562},{262,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,123}}</string>
                <key>sourceSize</key>
                <string>{262,125}</string>
            </dict>
            <key>mypage_button_town_campaign_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,693},{262,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,123}}</string>
                <key>sourceSize</key>
                <string>{262,125}</string>
            </dict>
            <key>mypage_button_wiki.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,825},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{82,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>mypage_frame_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,322},{320,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,130}}</string>
                <key>sourceSize</key>
                <string>{320,130}</string>
            </dict>
            <key>mypage_info_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,208},{332,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,112}}</string>
                <key>sourceSize</key>
                <string>{332,112}</string>
            </dict>
            <key>mypage_raid_orb_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,788},{83,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,35}}</string>
                <key>sourceSize</key>
                <string>{83,35}</string>
            </dict>
            <key>quest_campaign_free_stamina.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,528},{167,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,93}}</string>
                <key>sourceSize</key>
                <string>{167,93}</string>
            </dict>
            <key>quest_campaign_quest.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,585},{178,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,101}}</string>
                <key>sourceSize</key>
                <string>{178,101}</string>
            </dict>
            <key>raid_orb.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,40},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>raid_relief_request.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1069},{211,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,70}}</string>
                <key>sourceSize</key>
                <string>{211,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:525b44a5d4135c4bd6d8f0bcca68f4e8:6ff1aa284182211e795882040985d3df:10101cf27d0f1c17e861425c0e9b5b27$</string>
            <key>textureFileName</key>
            <string>home.png</string>
        </dict>
    </dict>
</plist>
