<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>info_article_type_icon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1},{543,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,32}}</string>
                <key>sourceSize</key>
                <string>{543,32}</string>
            </dict>
            <key>info_article_type_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1},{543,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,32}}</string>
                <key>sourceSize</key>
                <string>{543,32}</string>
            </dict>
            <key>info_article_type_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,35},{543,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,32}}</string>
                <key>sourceSize</key>
                <string>{543,32}</string>
            </dict>
            <key>info_article_type_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,35},{543,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,32}}</string>
                <key>sourceSize</key>
                <string>{543,32}</string>
            </dict>
            <key>info_article_type_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,43},{543,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,32}}</string>
                <key>sourceSize</key>
                <string>{543,32}</string>
            </dict>
            <key>info_article_type_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,69},{543,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,32}}</string>
                <key>sourceSize</key>
                <string>{543,32}</string>
            </dict>
            <key>info_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{536,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,16}}</string>
                <key>sourceSize</key>
                <string>{536,16}</string>
            </dict>
            <key>info_button_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,1},{108,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>info_button_detail_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,1},{108,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>info_button_freesummon_unit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,43},{303,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,157}}</string>
                <key>sourceSize</key>
                <string>{303,157}</string>
            </dict>
            <key>info_button_freesummon_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,77},{302,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,157}}</string>
                <key>sourceSize</key>
                <string>{302,157}</string>
            </dict>
            <key>info_window_parts_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,113},{610,280}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,280}}</string>
                <key>sourceSize</key>
                <string>{612,280}</string>
            </dict>
            <key>info_window_parts_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,77},{584,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,34}}</string>
                <key>sourceSize</key>
                <string>{584,34}</string>
            </dict>
            <key>info_window_parts_short.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,202},{610,280}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,280}}</string>
                <key>sourceSize</key>
                <string>{612,280}</string>
            </dict>
            <key>info_window_parts_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,236},{610,739}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,739}}</string>
                <key>sourceSize</key>
                <string>{612,739}</string>
            </dict>
            <key>info_button_mirrativ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,956},{174,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,68}}</string>
                <key>sourceSize</key>
                <string>{174,68}</string>
            </dict>
            <key>info_button_mirrativ_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,956},{174,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,68}}</string>
                <key>sourceSize</key>
                <string>{174,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>info.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:007bcbe7f2020622aed66c2286845bbd:90b6a6adafac31e2ba4896d199b9be1f:2f9b5bfb6f02f6e6340338b248159e03$</string>
            <key>textureFileName</key>
            <string>info.png</string>
        </dict>
    </dict>
</plist>
