<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,2},{335,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,89}}</string>
                <key>sourceSize</key>
                <string>{335,89}</string>
            </dict>
            <key>item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>item_detail_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{623,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,243}}</string>
                <key>sourceSize</key>
                <string>{623,243}</string>
            </dict>
            <key>item_detail_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,976},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>item_generation_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,315},{313,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,153}}</string>
                <key>sourceSize</key>
                <string>{313,153}</string>
            </dict>
            <key>item_itemlist_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,339},{297,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,81}}</string>
                <key>sourceSize</key>
                <string>{297,81}</string>
            </dict>
            <key>item_list_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{490,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,54}}</string>
                <key>sourceSize</key>
                <string>{490,54}</string>
            </dict>
            <key>item_magicstone_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,627},{301,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,168}}</string>
                <key>sourceSize</key>
                <string>{301,168}</string>
            </dict>
            <key>item_magicstone_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,964},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>item_magicstone_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,538},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>item_magicstone_list_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,638},{297,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,81}}</string>
                <key>sourceSize</key>
                <string>{297,81}</string>
            </dict>
            <key>item_magicstone_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,571},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>item_magicstonel_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,604},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>item_magicstoneset_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,2},{311,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,157}}</string>
                <key>sourceSize</key>
                <string>{311,157}</string>
            </dict>
            <key>item_material_list_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,638},{297,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,81}}</string>
                <key>sourceSize</key>
                <string>{297,81}</string>
            </dict>
            <key>item_sale_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,937},{297,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,81}}</string>
                <key>sourceSize</key>
                <string>{297,81}</string>
            </dict>
            <key>item_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,339},{197,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,30}}</string>
                <key>sourceSize</key>
                <string>{197,30}</string>
            </dict>
            <key>item_strengthening_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,630},{297,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,170}}</string>
                <key>sourceSize</key>
                <string>{297,170}</string>
            </dict>
            <key>item_strengthening_gage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,2},{168,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,27}}</string>
                <key>sourceSize</key>
                <string>{168,27}</string>
            </dict>
            <key>item_strengthening_gage_flame.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,937},{178,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,37}}</string>
                <key>sourceSize</key>
                <string>{178,37}</string>
            </dict>
            <key>item_strengthening_gage_scale.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,964},{105,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,30}}</string>
                <key>sourceSize</key>
                <string>{105,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>item_page_atlas.png</string>
            <key>size</key>
            <string>{1168,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f96e2a1e292ce01518f21d06d0e4cba8:cc0a093d33faac50b108e923f47cc9c2:510c8c4ef175252e017737b8868c686e$</string>
            <key>textureFileName</key>
            <string>item_page_atlas.png</string>
        </dict>
    </dict>
</plist>
