<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dot_colon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,643},{115,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,146}}</string>
                <key>sourceSize</key>
                <string>{115,146}</string>
            </dict>
            <key>dot_colon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,643},{128,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,151}}</string>
                <key>sourceSize</key>
                <string>{128,151}</string>
            </dict>
            <key>login_base_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,389},{512,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,187}}</string>
                <key>sourceSize</key>
                <string>{512,187}</string>
            </dict>
            <key>login_bonus_thumbnail_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,791},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>login_date_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,908},{96,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>login_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,386}}</string>
                <key>sourceSize</key>
                <string>{640,386}</string>
            </dict>
            <key>login_frame_period.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,965},{488,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,40}}</string>
                <key>sourceSize</key>
                <string>{488,40}</string>
            </dict>
            <key>login_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,773},{114,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,133}}</string>
                <key>sourceSize</key>
                <string>{114,133}</string>
            </dict>
            <key>login_number_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,906},{113,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,20}}</string>
                <key>sourceSize</key>
                <string>{113,20}</string>
            </dict>
            <key>login_stamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,578},{123,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{123,122}</string>
            </dict>
            <key>login_text_day.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,908},{84,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,26}}</string>
                <key>sourceSize</key>
                <string>{84,26}</string>
            </dict>
            <key>login_text_day_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,990},{55,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,23}}</string>
                <key>sourceSize</key>
                <string>{55,23}</string>
            </dict>
            <key>login_text_day_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,994},{71,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,23}}</string>
                <key>sourceSize</key>
                <string>{71,23}</string>
            </dict>
            <key>login_text_day_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,965},{57,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,23}}</string>
                <key>sourceSize</key>
                <string>{57,23}</string>
            </dict>
            <key>login_text_day_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,908},{58,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,23}}</string>
                <key>sourceSize</key>
                <string>{58,23}</string>
            </dict>
            <key>login_text_day_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,908},{58,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,23}}</string>
                <key>sourceSize</key>
                <string>{58,23}</string>
            </dict>
            <key>login_text_day_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,965},{57,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,23}}</string>
                <key>sourceSize</key>
                <string>{57,23}</string>
            </dict>
            <key>login_text_day_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,956},{58,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,23}}</string>
                <key>sourceSize</key>
                <string>{58,23}</string>
            </dict>
            <key>login_text_day_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,990},{57,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,23}}</string>
                <key>sourceSize</key>
                <string>{57,23}</string>
            </dict>
            <key>login_text_day_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,981},{58,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,23}}</string>
                <key>sourceSize</key>
                <string>{58,23}</string>
            </dict>
            <key>login_text_day_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,981},{58,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,23}}</string>
                <key>sourceSize</key>
                <string>{58,23}</string>
            </dict>
            <key>login_text_days.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,923},{48,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,31}}</string>
                <key>sourceSize</key>
                <string>{48,31}</string>
            </dict>
            <key>login_text_totallogin.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,773},{131,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,32}}</string>
                <key>sourceSize</key>
                <string>{131,32}</string>
            </dict>
            <key>login_text_totallogin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,974},{125,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,26}}</string>
                <key>sourceSize</key>
                <string>{125,26}</string>
            </dict>
            <key>login_thumbnail_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,578},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{124,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>login_title_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,389},{574,116}}</string>
                <key>offset</key>
                <string>{0,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{574,116}}</string>
                <key>sourceSize</key>
                <string>{640,248}</string>
            </dict>
            <key>login_weekly_ribon.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,923},{129,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,49}}</string>
                <key>sourceSize</key>
                <string>{129,49}</string>
            </dict>
            <key>total_login_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{640,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,200}}</string>
                <key>sourceSize</key>
                <string>{640,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0c7b8dd77bf2214cd2d8acd72529138:f46cce792d305878eeb19b0b52bd78f2:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
