<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>config_battle_button_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,135},{196,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>config_battle_button_nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,189},{196,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>config_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,229},{550,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,62}}</string>
                <key>sourceSize</key>
                <string>{550,62}</string>
            </dict>
            <key>config_other_button_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,204},{196,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>config_other_button_nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,258},{196,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>config_sound_button_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,273},{196,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>config_sound_button_nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,293},{196,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>config_tun_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,17},{640,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,20}}</string>
                <key>sourceSize</key>
                <string>{640,20}</string>
            </dict>
            <key>menu_battle_autobattle_ndividual_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{538,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,10}}</string>
                <key>sourceSize</key>
                <string>{538,10}</string>
            </dict>
            <key>menu_battle_button_autobattle_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1},{108,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,37}}</string>
                <key>sourceSize</key>
                <string>{108,37}</string>
            </dict>
            <key>menu_battle_button_autobattle_ougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,17},{108,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,38}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>menu_battle_button_autobattle_shinougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,17},{108,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,37}}</string>
                <key>sourceSize</key>
                <string>{108,37}</string>
            </dict>
            <key>menu_button_list_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,293},{420,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,102}}</string>
                <key>sourceSize</key>
                <string>{420,102}</string>
            </dict>
            <key>menu_button_list_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,397},{420,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,102}}</string>
                <key>sourceSize</key>
                <string>{420,102}</string>
            </dict>
            <key>menu_button_list_browser_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,454},{420,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,102}}</string>
                <key>sourceSize</key>
                <string>{420,102}</string>
            </dict>
            <key>menu_button_list_browser_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,501},{420,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,102}}</string>
                <key>sourceSize</key>
                <string>{420,102}</string>
            </dict>
            <key>menu_option_autobattle_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,605},{550,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,126}}</string>
                <key>sourceSize</key>
                <string>{550,126}</string>
            </dict>
            <key>menu_option_base_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,362},{470,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,90}}</string>
                <key>sourceSize</key>
                <string>{470,90}</string>
            </dict>
            <key>menu_option_base_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,167},{470,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,60}}</string>
                <key>sourceSize</key>
                <string>{470,60}</string>
            </dict>
            <key>menu_option_button_auto_bossonly.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,113},{152,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,52}}</string>
                <key>sourceSize</key>
                <string>{152,52}</string>
            </dict>
            <key>menu_option_button_auto_ndividual.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,39},{132,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,46}}</string>
                <key>sourceSize</key>
                <string>{132,46}</string>
            </dict>
            <key>menu_option_button_auto_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,113},{152,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,52}}</string>
                <key>sourceSize</key>
                <string>{152,52}</string>
            </dict>
            <key>menu_option_button_auto_ougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,56},{133,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,46}}</string>
                <key>sourceSize</key>
                <string>{133,46}</string>
            </dict>
            <key>menu_option_button_auto_shinougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,65},{134,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,46}}</string>
                <key>sourceSize</key>
                <string>{134,46}</string>
            </dict>
            <key>menu_option_button_auto_usually.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,126},{152,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,52}}</string>
                <key>sourceSize</key>
                <string>{152,52}</string>
            </dict>
            <key>menu_option_button_hide.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,65},{133,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,46}}</string>
                <key>sourceSize</key>
                <string>{133,46}</string>
            </dict>
            <key>menu_option_button_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,78},{133,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,46}}</string>
                <key>sourceSize</key>
                <string>{133,46}</string>
            </dict>
            <key>menu_option_button_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,78},{133,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,46}}</string>
                <key>sourceSize</key>
                <string>{133,46}</string>
            </dict>
            <key>menu_option_button_ougi_ndividual.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,135},{152,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,52}}</string>
                <key>sourceSize</key>
                <string>{152,52}</string>
            </dict>
            <key>menu_option_button_skill_info_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,87},{134,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,46}}</string>
                <key>sourceSize</key>
                <string>{134,46}</string>
            </dict>
            <key>menu_option_button_skill_info_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,87},{133,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,46}}</string>
                <key>sourceSize</key>
                <string>{133,46}</string>
            </dict>
            <key>menu_option_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1},{370,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,14}}</string>
                <key>sourceSize</key>
                <string>{370,14}</string>
            </dict>
            <key>menu_option_gauge_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,39},{390,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,37}}</string>
                <key>sourceSize</key>
                <string>{390,37}</string>
            </dict>
            <key>menu_option_gauge_handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,17},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>option_switch_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,104},{160,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,48}}</string>
                <key>sourceSize</key>
                <string>{160,48}</string>
            </dict>
            <key>option_switch_handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,39},{86,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,46}}</string>
                <key>sourceSize</key>
                <string>{86,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5750c1da3a39aaff851ac8732c5cd390:3e33a60857cf1b44c96256e1202ec688:9622c220910f706aac7e93396e53b943$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
