<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alchemy_bar_scale.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,0},{502,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,13}}</string>
                <key>sourceSize</key>
                <string>{502,13}</string>
            </dict>
            <key>alchemy_bar_scale_short.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,0},{3,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,6}}</string>
                <key>sourceSize</key>
                <string>{3,6}</string>
            </dict>
            <key>alchemy_bar_under_scale.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{502,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,4}}</string>
                <key>sourceSize</key>
                <string>{502,4}</string>
            </dict>
            <key>alchemy_scale.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,0},{3,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,10}}</string>
                <key>sourceSize</key>
                <string>{3,10}</string>
            </dict>
            <key>mine_button_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,149},{152,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,76}}</string>
                <key>sourceSize</key>
                <string>{152,76}</string>
            </dict>
            <key>mine_button_floorchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,84},{121,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,65}}</string>
                <key>sourceSize</key>
                <string>{121,65}</string>
            </dict>
            <key>mine_button_floorchange_ct.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,84},{121,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,65}}</string>
                <key>sourceSize</key>
                <string>{121,65}</string>
            </dict>
            <key>mine_button_floorchange_deselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,306},{462,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,86}}</string>
                <key>sourceSize</key>
                <string>{462,86}</string>
            </dict>
            <key>mine_button_floorchange_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{462,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,86}}</string>
                <key>sourceSize</key>
                <string>{462,86}</string>
            </dict>
            <key>mine_button_gomountain.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,402},{400,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,120}}</string>
                <key>sourceSize</key>
                <string>{400,120}</string>
            </dict>
            <key>mine_button_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,402},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>mine_button_helper_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,149},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,66}}</string>
                <key>sourceSize</key>
                <string>{230,66}</string>
            </dict>
            <key>mine_button_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,34},{158,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,50}}</string>
                <key>sourceSize</key>
                <string>{158,50}</string>
            </dict>
            <key>mine_button_memory.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,225},{152,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,76}}</string>
                <key>sourceSize</key>
                <string>{152,76}</string>
            </dict>
            <key>mine_button_mining.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,149},{226,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,72}}</string>
                <key>sourceSize</key>
                <string>{226,72}</string>
            </dict>
            <key>mine_button_monsterdate.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,149},{152,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,76}}</string>
                <key>sourceSize</key>
                <string>{152,76}</string>
            </dict>
            <key>mine_button_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,149},{228,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,76}}</string>
                <key>sourceSize</key>
                <string>{228,76}</string>
            </dict>
            <key>mine_button_reward_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,84},{124,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,60}}</string>
                <key>sourceSize</key>
                <string>{124,60}</string>
            </dict>
            <key>mine_button_select_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,225},{478,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,81}}</string>
                <key>sourceSize</key>
                <string>{478,81}</string>
            </dict>
            <key>mine_button_select_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,225},{478,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,81}}</string>
                <key>sourceSize</key>
                <string>{478,81}</string>
            </dict>
            <key>mine_frame_drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,524},{536,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,161}}</string>
                <key>sourceSize</key>
                <string>{536,161}</string>
            </dict>
            <key>mine_frame_race.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,34},{186,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,40}}</string>
                <key>sourceSize</key>
                <string>{186,40}</string>
            </dict>
            <key>mine_frame_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,34},{186,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,40}}</string>
                <key>sourceSize</key>
                <string>{186,40}</string>
            </dict>
            <key>mine_friends_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,0},{237,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,34}}</string>
                <key>sourceSize</key>
                <string>{237,34}</string>
            </dict>
            <key>mine_item_spawn_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,402},{316,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,118}}</string>
                <key>sourceSize</key>
                <string>{316,118}</string>
            </dict>
            <key>mine_monsterdate_nameframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,149},{550,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,66}}</string>
                <key>sourceSize</key>
                <string>{550,66}</string>
            </dict>
            <key>mine_party_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,0},{142,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,34}}</string>
                <key>sourceSize</key>
                <string>{142,34}</string>
            </dict>
            <key>mine_party_labeltext.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,0},{140,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,34}}</string>
                <key>sourceSize</key>
                <string>{140,34}</string>
            </dict>
            <key>mine_record_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{570,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,51}}</string>
                <key>sourceSize</key>
                <string>{570,51}</string>
            </dict>
            <key>mine_record_list_cleartime.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,34},{153,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,41}}</string>
                <key>sourceSize</key>
                <string>{153,41}</string>
            </dict>
            <key>mine_record_list_quartz.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,34},{85,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,41}}</string>
                <key>sourceSize</key>
                <string>{85,41}</string>
            </dict>
            <key>mine_record_list_valuation.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,34},{85,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,41}}</string>
                <key>sourceSize</key>
                <string>{85,41}</string>
            </dict>
            <key>mine_record_stamp_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,402},{92,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
            <key>mine_record_stamp_unclear.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,402},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>mine_result_animation_stamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,524},{183,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,182}}</string>
                <key>sourceSize</key>
                <string>{183,182}</string>
            </dict>
            <key>mine_result_badge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,402},{123,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{123,122}</string>
            </dict>
            <key>mine_result_text_arrival.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,149},{154,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,67}}</string>
                <key>sourceSize</key>
                <string>{154,67}</string>
            </dict>
            <key>mine_result_window.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,886},{600,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,419}}</string>
                <key>sourceSize</key>
                <string>{600,419}</string>
            </dict>
            <key>mine_select_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,524},{31,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,362}}</string>
                <key>sourceSize</key>
                <string>{31,362}</string>
            </dict>
            <key>mine_stone_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,84},{503,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,64}}</string>
                <key>sourceSize</key>
                <string>{503,64}</string>
            </dict>
            <key>mine_stone_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,0},{152,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,26}}</string>
                <key>sourceSize</key>
                <string>{152,26}</string>
            </dict>
            <key>mine_stone_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,524},{515,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,151}}</string>
                <key>sourceSize</key>
                <string>{515,151}</string>
            </dict>
            <key>mine_stone_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,149},{14,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,73}}</string>
                <key>sourceSize</key>
                <string>{14,73}</string>
            </dict>
            <key>mine_text_subjugation1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,225},{292,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,76}}</string>
                <key>sourceSize</key>
                <string>{292,76}</string>
            </dict>
            <key>mine_text_subjugation2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,34},{292,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,34}}</string>
                <key>sourceSize</key>
                <string>{292,34}</string>
            </dict>
            <key>mine_valuation_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,34},{502,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,44}}</string>
                <key>sourceSize</key>
                <string>{502,44}</string>
            </dict>
            <key>mine_valuation_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,0},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>mine_valuation_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,306},{514,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,89}}</string>
                <key>sourceSize</key>
                <string>{514,89}</string>
            </dict>
            <key>mine_window.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,886},{600,732}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,732}}</string>
                <key>sourceSize</key>
                <string>{600,732}</string>
            </dict>
            <key>mine_window_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,84},{550,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,58}}</string>
                <key>sourceSize</key>
                <string>{550,58}</string>
            </dict>
            <key>mining_button_helper_unit_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,149},{218,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,66}}</string>
                <key>sourceSize</key>
                <string>{218,66}</string>
            </dict>
            <key>mining_helper_unit.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,225},{245,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,77}}</string>
                <key>sourceSize</key>
                <string>{245,77}</string>
            </dict>
            <key>mining_helper_unit_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,524},{168,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,238}}</string>
                <key>sourceSize</key>
                <string>{168,238}</string>
            </dict>
            <key>mining_item_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,0},{80,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,24}}</string>
                <key>sourceSize</key>
                <string>{80,24}</string>
            </dict>
            <key>mining_item_helper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,0},{80,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,24}}</string>
                <key>sourceSize</key>
                <string>{80,24}</string>
            </dict>
            <key>mining_list_helper.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,524},{578,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,142}}</string>
                <key>sourceSize</key>
                <string>{578,142}</string>
            </dict>
            <key>result_font_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,402},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>result_font_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,402},{50,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,96}}</string>
                <key>sourceSize</key>
                <string>{50,96}</string>
            </dict>
            <key>result_font_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,402},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>result_font_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,402},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>result_font_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,306},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>result_font_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,306},{83,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,96}}</string>
                <key>sourceSize</key>
                <string>{83,96}</string>
            </dict>
            <key>result_font_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,306},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>result_font_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,306},{78,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,96}}</string>
                <key>sourceSize</key>
                <string>{78,96}</string>
            </dict>
            <key>result_font_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,306},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>result_font_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,306},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>result_font_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>result_font_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,306},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>result_number_font_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,34},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>result_number_font_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,34},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,36}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>result_number_font_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,34},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,36}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>result_number_font_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,34},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>result_number_font_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,34},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,36}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>result_number_font_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,34},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>result_number_font_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,34},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>result_number_font_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,34},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>result_number_font_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,34},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>result_number_font_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,34},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,36}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>result_number_font_minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,34},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,36}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>result_number_font_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,34},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,36}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mine.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43f1548af4e6c994a49fce370819aa17:038d5071b201359b503413fb6ebd7ec6:c43f17b22dce678643ba16fa40df6f87$</string>
            <key>textureFileName</key>
            <string>mine.png</string>
        </dict>
    </dict>
</plist>
