<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>badge_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,236},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>badge_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,54}</string>
            </dict>
            <key>mission_button_4_daily.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,80},{140,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,77}}</string>
                <key>sourceSize</key>
                <string>{140,77}</string>
            </dict>
            <key>mission_button_4_daily_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,159},{140,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,77}}</string>
                <key>sourceSize</key>
                <string>{140,77}</string>
            </dict>
            <key>mission_button_4_limited.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,80},{140,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,77}}</string>
                <key>sourceSize</key>
                <string>{140,77}</string>
            </dict>
            <key>mission_button_4_limited_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,392},{140,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,77}}</string>
                <key>sourceSize</key>
                <string>{140,77}</string>
            </dict>
            <key>mission_button_4_nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,323},{140,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,67}}</string>
                <key>sourceSize</key>
                <string>{140,67}</string>
            </dict>
            <key>mission_button_4_nomal_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,238},{140,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,67}}</string>
                <key>sourceSize</key>
                <string>{140,67}</string>
            </dict>
            <key>mission_button_4_weekly.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,392},{140,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,77}}</string>
                <key>sourceSize</key>
                <string>{140,77}</string>
            </dict>
            <key>mission_button_4_weekly_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,392},{140,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,77}}</string>
                <key>sourceSize</key>
                <string>{140,77}</string>
            </dict>
            <key>mission_button_daily.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,399},{186,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,77}}</string>
                <key>sourceSize</key>
                <string>{186,77}</string>
            </dict>
            <key>mission_button_daily_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,157},{186,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,77}}</string>
                <key>sourceSize</key>
                <string>{186,77}</string>
            </dict>
            <key>mission_button_nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,323},{186,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,67}}</string>
                <key>sourceSize</key>
                <string>{186,67}</string>
            </dict>
            <key>mission_button_nomal_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,323},{186,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,67}}</string>
                <key>sourceSize</key>
                <string>{186,67}</string>
            </dict>
            <key>mission_button_received.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1},{193,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,74}}</string>
                <key>sourceSize</key>
                <string>{193,74}</string>
            </dict>
            <key>mission_button_unclaimed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,323},{193,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,74}}</string>
                <key>sourceSize</key>
                <string>{193,74}</string>
            </dict>
            <key>mission_button_weekly.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,77},{186,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,78}}</string>
                <key>sourceSize</key>
                <string>{186,78}</string>
            </dict>
            <key>mission_button_weekly_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1},{186,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,77}}</string>
                <key>sourceSize</key>
                <string>{186,77}</string>
            </dict>
            <key>mission_icon_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,392},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>mission_icon_received.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,307},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>mission_icon_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,478},{47,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,27}}</string>
                <key>sourceSize</key>
                <string>{47,27}</string>
            </dict>
            <key>mission_icon_unclear.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,409},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>mission_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{573,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{573,148}}</string>
                <key>sourceSize</key>
                <string>{575,150}</string>
            </dict>
            <key>mission_list_received.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,151},{573,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{573,148}}</string>
                <key>sourceSize</key>
                <string>{575,150}</string>
            </dict>
            <key>mission_tab_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,301},{640,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,20}}</string>
                <key>sourceSize</key>
                <string>{640,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mission.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c60fb7c551f27128ee1ebe564d58a2f4:5a87eb45d1a04e71c36de622361b9f0b:221c57480d967819db1b6d53ded399de$</string>
            <key>textureFileName</key>
            <string>mission.png</string>
        </dict>
    </dict>
</plist>
