<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>multi_resolution_side_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{100,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,1136}}</string>
                <key>sourceSize</key>
                <string>{100,1136}</string>
            </dict>
            <key>multi_resolution_side_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{100,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,1136}}</string>
                <key>sourceSize</key>
                <string>{100,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>multi_resolution.png</string>
            <key>size</key>
            <string>{128,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b28cf0afe59d99ce4f09d5e324192d8e:aba5c75ff078d936a4570c5b2ff442e6:ffdc2e3cc80c5bdefb97f4808d6d3bd7$</string>
            <key>textureFileName</key>
            <string>multi_resolution.png</string>
        </dict>
    </dict>
</plist>
