<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>side_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,1000}}</string>
                <key>sourceSize</key>
                <string>{116,1000}</string>
            </dict>
            <key>side_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,1000}}</string>
                <key>sourceSize</key>
                <string>{116,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>multiresolution.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cdab600a365323851ddbf457305fba6:8ad78d5aac7c3ac9b4b113328fa0140d:85b05b5cd909725a57113d35aed9a27b$</string>
            <key>textureFileName</key>
            <string>multiresolution.png</string>
        </dict>
    </dict>
</plist>
