<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_flare_H_blue_a_main_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,192},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>ball_flare_H_rainbow_a_main_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,23},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>ball_flare_H_yellow_a_main_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,588},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ball_particle2_blue_main_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,613},{114,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,141}}</string>
                <key>sourceSize</key>
                <string>{114,141}</string>
            </dict>
            <key>ball_particle2_blue_main_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,492},{94,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,125}}</string>
                <key>sourceSize</key>
                <string>{94,125}</string>
            </dict>
            <key>ball_particle2_rainbow_main_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1},{202,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,215}}</string>
                <key>sourceSize</key>
                <string>{202,215}</string>
            </dict>
            <key>ball_particle2_yellow_main_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,218},{146,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,179}}</string>
                <key>sourceSize</key>
                <string>{146,179}</string>
            </dict>
            <key>ball_particle2_yellow_main_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,492},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,161}</string>
            </dict>
            <key>ball_particle_blue_main_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,613},{124,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,130}}</string>
                <key>sourceSize</key>
                <string>{124,130}</string>
            </dict>
            <key>ball_particle_main_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,565},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ball_particle_main_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,399},{147,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,150}}</string>
                <key>sourceSize</key>
                <string>{147,150}</string>
            </dict>
            <key>ball_particle_main_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,192},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ball_particle_rainbow_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,565},{165,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,168}}</string>
                <key>sourceSize</key>
                <string>{165,168}</string>
            </dict>
            <key>ball_particle_rainbow_main_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,23},{164,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,167}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>ball_particle_yellow_main_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,613},{119,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,123}}</string>
                <key>sourceSize</key>
                <string>{119,123}</string>
            </dict>
            <key>ball_wave_blue_main_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,344},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>ball_wave_rainbow_main_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,187},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ball_wave_yellow_main_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,344},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>ball_white_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,565},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>ball_white_main_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,495},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,574},{96,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,55}}</string>
                <key>sourceSize</key>
                <string>{96,55}</string>
            </dict>
            <key>text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,23},{162,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,63}}</string>
                <key>sourceSize</key>
                <string>{162,63}</string>
            </dict>
            <key>ui_bar_flash_main_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,218},{340,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,60}}</string>
                <key>sourceSize</key>
                <string>{340,60}</string>
            </dict>
            <key>ui_bar_glow_main_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1},{338,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{338,20}}</string>
                <key>sourceSize</key>
                <string>{340,20}</string>
            </dict>
            <key>ui_flash_blue_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,283},{210,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,40}}</string>
                <key>sourceSize</key>
                <string>{210,40}</string>
            </dict>
            <key>ui_flash_yellow_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,283},{210,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,40}}</string>
                <key>sourceSize</key>
                <string>{210,40}</string>
            </dict>
            <key>ui_fractal_blue_main_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{160,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,280}}</string>
                <key>sourceSize</key>
                <string>{160,280}</string>
            </dict>
            <key>ui_fractal_blue_main_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,283},{160,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,280}}</string>
                <key>sourceSize</key>
                <string>{160,280}</string>
            </dict>
            <key>ui_fractal_yellow_main_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1},{160,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,280}}</string>
                <key>sourceSize</key>
                <string>{160,280}</string>
            </dict>
            <key>ui_fractal_yellow_main_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,283},{160,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,280}}</string>
                <key>sourceSize</key>
                <string>{160,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>powerup_effects.png</string>
            <key>size</key>
            <string>{920,744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e48a640fd547cb78d3677704dd91f66:46f375c717185d4f7872c7ba36822da3:99d92a4d4ebf80eba15472518e161024$</string>
            <key>textureFileName</key>
            <string>powerup_effects.png</string>
        </dict>
    </dict>
</plist>
