<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_flare_H_blue_a_main_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,641},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>ball_flare_H_rainbow_a_main_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,346},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>ball_flare_H_yellow_a_main_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,507},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ball_particle2_blue_main_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,225},{114,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,141}}</string>
                <key>sourceSize</key>
                <string>{114,141}</string>
            </dict>
            <key>ball_particle2_blue_main_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,325},{94,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,125}}</string>
                <key>sourceSize</key>
                <string>{94,125}</string>
            </dict>
            <key>ball_particle2_rainbow_main_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,185},{202,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,215}}</string>
                <key>sourceSize</key>
                <string>{202,215}</string>
            </dict>
            <key>ball_particle2_yellow_main_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,325},{146,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,179}}</string>
                <key>sourceSize</key>
                <string>{146,179}</string>
            </dict>
            <key>ball_particle2_yellow_main_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,225},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,161}</string>
            </dict>
            <key>ball_particle_blue_main_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,655},{124,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,130}}</string>
                <key>sourceSize</key>
                <string>{124,130}</string>
            </dict>
            <key>ball_particle_main_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,389},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ball_particle_main_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,473},{147,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,150}}</string>
                <key>sourceSize</key>
                <string>{147,150}</string>
            </dict>
            <key>ball_particle_main_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,453},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ball_particle_rainbow_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,283},{165,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,168}}</string>
                <key>sourceSize</key>
                <string>{165,168}</string>
            </dict>
            <key>ball_particle_rainbow_main_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,456},{164,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,167}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>ball_particle_yellow_main_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,368},{119,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,123}}</string>
                <key>sourceSize</key>
                <string>{119,123}</string>
            </dict>
            <key>ball_wave_blue_main_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,507},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>ball_wave_rainbow_main_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,185},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ball_wave_yellow_main_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,541},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>ball_white_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,23},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>ball_white_main_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,377},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,63},{96,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{96,39}}</string>
                <key>sourceSize</key>
                <string>{96,55}</string>
            </dict>
            <key>text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1},{162,47}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{162,47}}</string>
                <key>sourceSize</key>
                <string>{162,63}</string>
            </dict>
            <key>ui_bar_flash_main_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{340,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,60}}</string>
                <key>sourceSize</key>
                <string>{340,60}</string>
            </dict>
            <key>ui_bar_glow_main_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1},{338,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{338,20}}</string>
                <key>sourceSize</key>
                <string>{340,20}</string>
            </dict>
            <key>ui_flash_blue_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,71},{210,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,40}}</string>
                <key>sourceSize</key>
                <string>{210,40}</string>
            </dict>
            <key>ui_flash_yellow_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,165},{210,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,40}}</string>
                <key>sourceSize</key>
                <string>{210,40}</string>
            </dict>
            <key>ui_fractal_blue_main_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1},{160,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,280}}</string>
                <key>sourceSize</key>
                <string>{160,280}</string>
            </dict>
            <key>ui_fractal_blue_main_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,23},{160,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,280}}</string>
                <key>sourceSize</key>
                <string>{160,280}</string>
            </dict>
            <key>ui_fractal_yellow_main_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,163},{160,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,280}}</string>
                <key>sourceSize</key>
                <string>{160,280}</string>
            </dict>
            <key>ui_fractal_yellow_main_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,63},{160,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,280}}</string>
                <key>sourceSize</key>
                <string>{160,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>powerup_effects.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1143a0cea56a896f9b9172af06cf6393:236a58a2f1883c0941cfc8564c863efe:99d92a4d4ebf80eba15472518e161024$</string>
            <key>textureFileName</key>
            <string>powerup_effects.png</string>
        </dict>
    </dict>
</plist>
