<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>present_button_next_page.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,907},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>present_button_receive_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,907},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>present_button_receive_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,907},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>present_item_deadline.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,907},{249,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,29}}</string>
                <key>sourceSize</key>
                <string>{249,29}</string>
            </dict>
            <key>present_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,783},{534,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,122}}</string>
                <key>sourceSize</key>
                <string>{534,122}</string>
            </dict>
            <key>present_window.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{608,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,780}}</string>
                <key>sourceSize</key>
                <string>{608,780}</string>
            </dict>
            <key>present_window_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,975},{586,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,32}}</string>
                <key>sourceSize</key>
                <string>{586,32}</string>
            </dict>
            <key>presentbox_title_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,783},{222,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,34}}</string>
                <key>sourceSize</key>
                <string>{222,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>present.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b4c44724fe91721b0525dc98651c6ea:e324af8616e57f3cb417aafdc2bb246a:5de2fc05c0386af17dc5259eba2db8b7$</string>
            <key>textureFileName</key>
            <string>present.png</string>
        </dict>
    </dict>
</plist>
