<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>quest_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{556,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,118}}</string>
                <key>sourceSize</key>
                <string>{556,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>quest_page_atlas.png</string>
            <key>size</key>
            <string>{560,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7508bacfe4ccaca44e8edad5f28574f8:ac2cccd4bf28f865c55e4c17e14d95b9:f1173bc0742a1a9d10179ee5f96ab661$</string>
            <key>textureFileName</key>
            <string>quest_page_atlas.png</string>
        </dict>
    </dict>
</plist>
