<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>quest_button_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{530,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,151}}</string>
                <key>sourceSize</key>
                <string>{530,151}</string>
            </dict>
            <key>quest_icon_cleard.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1},{94,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,31}}</string>
                <key>sourceSize</key>
                <string>{94,31}</string>
            </dict>
            <key>quest_icon_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,34},{77,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,22}}</string>
                <key>sourceSize</key>
                <string>{77,22}</string>
            </dict>
            <key>quest_icon_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,126},{59,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,31}}</string>
                <key>sourceSize</key>
                <string>{59,31}</string>
            </dict>
            <key>quest_icon_torophy.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,58},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>quest_icon_torophy_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,126},{55,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,62}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>quest_list_atlas.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:289e523f49ac6d0e25a14ccb9a506f65:b82d84a83f601a6db8d2dbfce0006346:1e14ed5b2f17ca26687d988cfcd28945$</string>
            <key>textureFileName</key>
            <string>quest_list_atlas.png</string>
        </dict>
    </dict>
</plist>
