<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RandomLoginBonus_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,409},{320,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,444}}</string>
                <key>sourceSize</key>
                <string>{320,444}</string>
            </dict>
            <key>RandomLoginBonus_Chara1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1},{406,512}}</string>
                <key>offset</key>
                <string>{117,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,14},{406,512}}</string>
                <key>sourceSize</key>
                <string>{640,526}</string>
            </dict>
            <key>RandomLoginBonus_Chara2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1},{406,512}}</string>
                <key>offset</key>
                <string>{117,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,14},{406,512}}</string>
                <key>sourceSize</key>
                <string>{640,526}</string>
            </dict>
            <key>RandomLoginBonus_Crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,692},{214,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,157}}</string>
                <key>sourceSize</key>
                <string>{214,157}</string>
            </dict>
            <key>RandomLoginBonus_FudaEffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,486},{100,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,182}}</string>
                <key>sourceSize</key>
                <string>{100,182}</string>
            </dict>
            <key>RandomLoginBonus_Fuda_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1},{239,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,483}}</string>
                <key>sourceSize</key>
                <string>{239,483}</string>
            </dict>
            <key>RandomLoginBonus_Fuda_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,746},{239,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,483}}</string>
                <key>sourceSize</key>
                <string>{239,483}</string>
            </dict>
            <key>RandomLoginBonus_Fuda_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,451},{239,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,483}}</string>
                <key>sourceSize</key>
                <string>{239,483}</string>
            </dict>
            <key>RandomLoginBonus_Fuda_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,922},{173,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,67}}</string>
                <key>sourceSize</key>
                <string>{173,67}</string>
            </dict>
            <key>RandomLoginBonus_Landscape.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{448,769}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,769}}</string>
                <key>sourceSize</key>
                <string>{448,769}</string>
            </dict>
            <key>RandomLoginBonus_StartButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,409},{418,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,86}}</string>
                <key>sourceSize</key>
                <string>{418,86}</string>
            </dict>
            <key>RandomLoginBonus_StartButton_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,409},{418,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,86}}</string>
                <key>sourceSize</key>
                <string>{418,86}</string>
            </dict>
            <key>RandomLoginBonus_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,515},{640,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,229}}</string>
                <key>sourceSize</key>
                <string>{640,229}</string>
            </dict>
            <key>RandomLoginBonus_effect_pow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,746},{227,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,174}}</string>
                <key>sourceSize</key>
                <string>{227,174}</string>
            </dict>
            <key>RandomLoginBonus_effect_pow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,829},{166,123}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,123}}</string>
                <key>sourceSize</key>
                <string>{182,123}</string>
            </dict>
            <key>RandomLogin_Flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,692},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>RewardImageView.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,451},{358,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,263}}</string>
                <key>sourceSize</key>
                <string>{358,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RandomLoginBonus.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94ec1c9fbd986dbc1da7f3ea470ff7c1:c8f1b2476f61f40012ce0d1c70343116:8378ad2be979475a1d518fd1c180c6e8$</string>
            <key>textureFileName</key>
            <string>RandomLoginBonus.png</string>
        </dict>
    </dict>
</plist>
