<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>refine_weapon_button_seal_ability_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,3},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>refine_weapon_button_seal_ability_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,587},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>refine_weapon_button_seal_status_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,93},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>refine_weapon_button_seal_status_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,183},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>refine_weapon_select_seal_button_l_again_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,273},{270,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,68}}</string>
                <key>sourceSize</key>
                <string>{270,68}</string>
            </dict>
            <key>refine_weapon_select_seal_button_l_again_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,345},{270,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,68}}</string>
                <key>sourceSize</key>
                <string>{270,68}</string>
            </dict>
            <key>refine_weapon_select_seal_button_l_ok_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,417},{270,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,68}}</string>
                <key>sourceSize</key>
                <string>{270,68}</string>
            </dict>
            <key>refine_weapon_select_seal_button_l_ok_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,489},{270,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,68}}</string>
                <key>sourceSize</key>
                <string>{270,68}</string>
            </dict>
            <key>refine_weapon_select_seal_flame_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,587},{408,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,62}}</string>
                <key>sourceSize</key>
                <string>{408,62}</string>
            </dict>
            <key>refine_weapon_sharpen_help_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{580,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,170}}</string>
                <key>sourceSize</key>
                <string>{580,170}</string>
            </dict>
            <key>refine_weapon_window_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,887},{144,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,85}}</string>
                <key>sourceSize</key>
                <string>{144,85}</string>
            </dict>
            <key>refine_weapon_window_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,561},{144,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,85}}</string>
                <key>sourceSize</key>
                <string>{144,85}</string>
            </dict>
            <key>refine_weapon_window_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,650},{144,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,85}}</string>
                <key>sourceSize</key>
                <string>{144,85}</string>
            </dict>
            <key>refine_weapon_window_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,739},{144,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,85}}</string>
                <key>sourceSize</key>
                <string>{144,85}</string>
            </dict>
            <key>refine_weapon_window_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,561},{144,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,85}}</string>
                <key>sourceSize</key>
                <string>{144,85}</string>
            </dict>
            <key>refine_weapon_window_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,650},{144,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,85}}</string>
                <key>sourceSize</key>
                <string>{144,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>refine_weapon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6c4c5f6533f1c44a5acb49aa031d0eb:74e6a725c2b232ad0f10d3b9fd776f01:ff660775001d5fb2055a5c8515a2b751$</string>
            <key>textureFileName</key>
            <string>refine_weapon.png</string>
        </dict>
    </dict>
</plist>
