<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>refine_weapon_button_seal_ability_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,583},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>refine_weapon_button_seal_ability_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,671},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>refine_weapon_button_seal_status_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,823},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>refine_weapon_button_seal_status_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,911},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>refine_weapon_select_seal_button_l_again_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1},{270,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,68}}</string>
                <key>sourceSize</key>
                <string>{270,68}</string>
            </dict>
            <key>refine_weapon_select_seal_button_l_again_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,360},{270,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,68}}</string>
                <key>sourceSize</key>
                <string>{270,68}</string>
            </dict>
            <key>refine_weapon_select_seal_button_l_ok_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1},{270,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,68}}</string>
                <key>sourceSize</key>
                <string>{270,68}</string>
            </dict>
            <key>refine_weapon_select_seal_button_l_ok_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1},{270,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,68}}</string>
                <key>sourceSize</key>
                <string>{270,68}</string>
            </dict>
            <key>refine_weapon_select_seal_flame_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,759},{408,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,62}}</string>
                <key>sourceSize</key>
                <string>{408,62}</string>
            </dict>
            <key>refine_weapon_sharpen_help_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{580,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,170}}</string>
                <key>sourceSize</key>
                <string>{580,170}</string>
            </dict>
            <key>refine_weapon_window_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,823},{143,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,85}}</string>
                <key>sourceSize</key>
                <string>{143,85}</string>
            </dict>
            <key>refine_weapon_window_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,273},{138,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,85}}</string>
                <key>sourceSize</key>
                <string>{138,85}</string>
            </dict>
            <key>refine_weapon_window_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,910},{143,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,85}}</string>
                <key>sourceSize</key>
                <string>{143,85}</string>
            </dict>
            <key>refine_weapon_window_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,273},{143,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,85}}</string>
                <key>sourceSize</key>
                <string>{143,85}</string>
            </dict>
            <key>refine_weapon_window_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,632},{143,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,85}}</string>
                <key>sourceSize</key>
                <string>{143,85}</string>
            </dict>
            <key>refine_weapon_window_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,360},{143,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,85}}</string>
                <key>sourceSize</key>
                <string>{143,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>refine_weapon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:148c360cf84e1cab535f29ad3ea4f342:c7a6d69dde68d1de8fab2abd1988cad1:ff660775001d5fb2055a5c8515a2b751$</string>
            <key>textureFileName</key>
            <string>refine_weapon.png</string>
        </dict>
    </dict>
</plist>
