<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>create_rune_button_decision.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,113},{230,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,68}}</string>
                <key>sourceSize</key>
                <string>{230,68}</string>
            </dict>
            <key>create_rune_flame_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1035},{408,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,62}}</string>
                <key>sourceSize</key>
                <string>{408,62}</string>
            </dict>
            <key>result_base_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{324,55}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{324,55}}</string>
                <key>sourceSize</key>
                <string>{324,347}</string>
            </dict>
            <key>result_rune_button_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,256},{233,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,70}}</string>
                <key>sourceSize</key>
                <string>{233,70}</string>
            </dict>
            <key>result_rune_button_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,623},{233,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,70}}</string>
                <key>sourceSize</key>
                <string>{233,70}</string>
            </dict>
            <key>result_rune_button_create.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,345},{230,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,68}}</string>
                <key>sourceSize</key>
                <string>{230,68}</string>
            </dict>
            <key>result_rune_button_decision.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,577},{230,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,68}}</string>
                <key>sourceSize</key>
                <string>{230,68}</string>
            </dict>
            <key>result_rune_button_piece.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,623},{233,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,70}}</string>
                <key>sourceSize</key>
                <string>{233,70}</string>
            </dict>
            <key>result_rune_flame_existing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,223},{563,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,208}}</string>
                <key>sourceSize</key>
                <string>{563,208}</string>
            </dict>
            <key>result_rune_flame_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,58},{563,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,309}}</string>
                <key>sourceSize</key>
                <string>{563,309}</string>
            </dict>
            <key>result_rune_flame_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,805},{507,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,110}}</string>
                <key>sourceSize</key>
                <string>{507,110}</string>
            </dict>
            <key>result_rune_flame_select_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,433},{562,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,184}}</string>
                <key>sourceSize</key>
                <string>{562,184}</string>
            </dict>
            <key>result_rune_flame_select_magic_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1099},{399,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,399}}</string>
                <key>sourceSize</key>
                <string>{399,399}</string>
            </dict>
            <key>result_rune_flame_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1065},{408,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,62}}</string>
                <key>sourceSize</key>
                <string>{408,62}</string>
            </dict>
            <key>result_rune_flame_unselect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,619},{562,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,184}}</string>
                <key>sourceSize</key>
                <string>{562,184}</string>
            </dict>
            <key>result_rune_flame_unselect_magic_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1618},{399,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,399}}</string>
                <key>sourceSize</key>
                <string>{399,399}</string>
            </dict>
            <key>rune_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,805},{122,52}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,76},{122,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rune_button_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,647},{220,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,68}}</string>
                <key>sourceSize</key>
                <string>{220,68}</string>
            </dict>
            <key>rune_checkbox_off_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1},{54,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{54,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>rune_checkbox_off_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,57},{54,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{54,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>rune_checkbox_on_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1111},{58,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>rune_checkbox_on_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1171},{58,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>rune_create_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,879},{412,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,154}}</string>
                <key>sourceSize</key>
                <string>{412,154}</string>
            </dict>
            <key>rune_flame.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,695},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rune_flame_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1057},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>rune_flame_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,825},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>rune_icon_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1007},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>rune_icon_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,223},{73,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,31}}</string>
                <key>sourceSize</key>
                <string>{73,31}</string>
            </dict>
            <key>rune_icon_teardrop.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1405},{47,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>rune_list_acquire_rune.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,917},{490,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,136}}</string>
                <key>sourceSize</key>
                <string>{490,136}</string>
            </dict>
            <key>rune_list_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1486},{130,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,26}}</string>
                <key>sourceSize</key>
                <string>{130,26}</string>
            </dict>
            <key>rune_list_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,220}}</string>
                <key>sourceSize</key>
                <string>{640,220}</string>
            </dict>
            <key>rune_piece_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1502},{106,108}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{106,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rune_piece_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1502},{106,108}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{106,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rune_piece_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1502},{104,108}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{104,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rune_piece_level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,695},{104,108}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{104,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rune_text_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1055},{478,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,124}}</string>
                <key>sourceSize</key>
                <string>{478,124}</string>
            </dict>
            <key>runestone_large_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,491},{76,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>runestone_large_001_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,569},{76,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>runestone_large_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1289},{98,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{98,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>runestone_large_002_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1475},{102,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{102,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>runestone_large_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1389},{88,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{88,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>runestone_large_003_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1289},{90,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{90,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>runestone_large_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1181},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>runestone_large_004_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1500},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{116,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>runestone_middle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,835},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{30,30}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>runestone_middle_001_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1465},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{30,30}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>runestone_middle_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,825},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{38,38}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>runestone_middle_002_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,923},{40,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>runestone_middle_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,801},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{34,32}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>runestone_middle_003_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,965},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{40,40}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>runestone_middle_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,879},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{42,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>runestone_middle_004_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1454},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>runestone_result_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1289},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{56,56}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>runestone_result_001_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1347},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{56,56}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>runestone_result_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,809},{70,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{70,68}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>runestone_result_002_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,999},{64,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{64,64}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>runestone_result_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,929},{68,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{68,68}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>runestone_result_003_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1231},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{58,56}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>runestone_result_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1381},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>runestone_result_004_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1389},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>runestone_small_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2019},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{24,24}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>runestone_small_001_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,2019},{24,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{24,24}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>runestone_small_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,801},{32,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{32,32}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>runestone_small_002_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,837},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{34,32}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>runestone_small_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1454},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{30,28}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>runestone_small_003_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1465},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{30,30}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>runestone_small_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,825},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,34}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>runestone_small_004_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,825},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rune.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:417ad08c1142a1ee4bf4df74bbe2f83e:b56ebdb8ab453252935446ec8615c518:58490f22039db182dd43674203b2cbbd$</string>
            <key>textureFileName</key>
            <string>rune.png</string>
        </dict>
    </dict>
</plist>
