<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>create_rune_button_decision.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1654},{230,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,68}}</string>
                <key>sourceSize</key>
                <string>{230,68}</string>
            </dict>
            <key>create_rune_flame_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1124},{408,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,62}}</string>
                <key>sourceSize</key>
                <string>{408,62}</string>
            </dict>
            <key>result_base_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,612},{324,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,347}}</string>
                <key>sourceSize</key>
                <string>{324,347}</string>
            </dict>
            <key>result_rune_button_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,612},{233,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,70}}</string>
                <key>sourceSize</key>
                <string>{233,70}</string>
            </dict>
            <key>result_rune_button_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,894},{233,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,70}}</string>
                <key>sourceSize</key>
                <string>{233,70}</string>
            </dict>
            <key>result_rune_button_create.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1662},{233,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,70}}</string>
                <key>sourceSize</key>
                <string>{233,70}</string>
            </dict>
            <key>result_rune_button_decision.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1697},{230,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,68}}</string>
                <key>sourceSize</key>
                <string>{230,68}</string>
            </dict>
            <key>result_rune_button_piece.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1662},{233,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,70}}</string>
                <key>sourceSize</key>
                <string>{233,70}</string>
            </dict>
            <key>result_rune_flame_existing.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,402},{563,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,208}}</string>
                <key>sourceSize</key>
                <string>{563,208}</string>
            </dict>
            <key>result_rune_flame_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,643},{563,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,309}}</string>
                <key>sourceSize</key>
                <string>{563,309}</string>
            </dict>
            <key>result_rune_flame_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1188},{507,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,110}}</string>
                <key>sourceSize</key>
                <string>{507,110}</string>
            </dict>
            <key>result_rune_flame_select_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1208},{562,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,184}}</string>
                <key>sourceSize</key>
                <string>{562,184}</string>
            </dict>
            <key>result_rune_flame_select_magic_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1},{399,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,399}}</string>
                <key>sourceSize</key>
                <string>{399,399}</string>
            </dict>
            <key>result_rune_flame_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,402},{408,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,62}}</string>
                <key>sourceSize</key>
                <string>{408,62}</string>
            </dict>
            <key>result_rune_flame_unselect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,938},{562,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,184}}</string>
                <key>sourceSize</key>
                <string>{562,184}</string>
            </dict>
            <key>result_rune_flame_unselect_magic_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1},{399,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,399}}</string>
                <key>sourceSize</key>
                <string>{399,399}</string>
            </dict>
            <key>rune_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1668},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rune_button_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1697},{220,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,68}}</string>
                <key>sourceSize</key>
                <string>{220,68}</string>
            </dict>
            <key>rune_checkbox_off_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1124},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>rune_checkbox_off_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1124},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>rune_checkbox_on_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1600},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>rune_checkbox_on_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1600},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>rune_create_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1186},{412,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,154}}</string>
                <key>sourceSize</key>
                <string>{412,154}</string>
            </dict>
            <key>rune_flame.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1697},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rune_flame_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1124},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>rune_flame_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,869},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>rune_icon_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,819},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>rune_icon_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,744},{73,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,31}}</string>
                <key>sourceSize</key>
                <string>{73,31}</string>
            </dict>
            <key>rune_icon_teardrop.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1399},{47,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>rune_list_acquire_rune.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,402},{490,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,136}}</string>
                <key>sourceSize</key>
                <string>{490,136}</string>
            </dict>
            <key>rune_list_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,612},{130,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,26}}</string>
                <key>sourceSize</key>
                <string>{130,26}</string>
            </dict>
            <key>rune_list_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,220}}</string>
                <key>sourceSize</key>
                <string>{640,220}</string>
            </dict>
            <key>rune_piece_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1798},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rune_piece_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1897},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rune_piece_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1767},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rune_piece_level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1767},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rune_text_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1188},{478,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,124}}</string>
                <key>sourceSize</key>
                <string>{478,124}</string>
            </dict>
            <key>runestone_large_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1767},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>runestone_large_001_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1827},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>runestone_large_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1897},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>runestone_large_002_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1897},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>runestone_large_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1897},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>runestone_large_003_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1394},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>runestone_large_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1394},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>runestone_large_004_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1394},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>runestone_middle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1129},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>runestone_middle_001_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1129},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>runestone_middle_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,1600},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>runestone_middle_002_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1886},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>runestone_middle_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1183},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>runestone_middle_003_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1237},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>runestone_middle_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1291},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>runestone_middle_004_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1345},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>runestone_result_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,812},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>runestone_result_001_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1798},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>runestone_result_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1897},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>runestone_result_002_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1940},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>runestone_result_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1928},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>runestone_result_003_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1928},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>runestone_result_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1697},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>runestone_result_004_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,847},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>runestone_small_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,894},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>runestone_small_001_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,894},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>runestone_small_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,894},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>runestone_small_002_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,892},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>runestone_small_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,932},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>runestone_small_003_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,972},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>runestone_small_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1012},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>runestone_small_004_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1052},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rune.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aded418ee68b6b510b8360f8aea8aabd:61ad228a97f1689b78fb46c2ecaf8d45:58490f22039db182dd43674203b2cbbd$</string>
            <key>textureFileName</key>
            <string>rune.png</string>
        </dict>
    </dict>
</plist>
