<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scenario_button_skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,221},{105,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,29}}</string>
                <key>sourceSize</key>
                <string>{105,29}</string>
            </dict>
            <key>scenario_frame_9slice(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{128,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,120}}</string>
                <key>sourceSize</key>
                <string>{128,120}</string>
            </dict>
            <key>scenario_frame_9slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,132},{128,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,120}}</string>
                <key>sourceSize</key>
                <string>{128,120}</string>
            </dict>
            <key>scenario_frame_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{217,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,40}}</string>
                <key>sourceSize</key>
                <string>{217,40}</string>
            </dict>
            <key>scenario_grd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{95,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,155}}</string>
                <key>sourceSize</key>
                <string>{95,155}</string>
            </dict>
            <key>scenario_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{213,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{213,34}}</string>
                <key>sourceSize</key>
                <string>{217,40}</string>
            </dict>
            <key>scenario_pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,116},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>tutorial_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>tutorial_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,148}}</string>
                <key>sourceSize</key>
                <string>{151,148}</string>
            </dict>
            <key>tutorial_pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,116},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scenario_main_atlas.png</string>
            <key>size</key>
            <string>{466,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d11b4524c6007f4de0c7ebf8fa47ca0:2eb239b45699e12760e8b19d438caf64:a2b12ab66a2249c7f2e297d56fbbe8bd$</string>
            <key>textureFileName</key>
            <string>scenario_main_atlas.png</string>
        </dict>
    </dict>
</plist>
