<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scenaria_button_skip_tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{204,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,76}}</string>
                <key>sourceSize</key>
                <string>{204,76}</string>
            </dict>
            <key>scenario_base_grd.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,192},{20,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,101}}</string>
                <key>sourceSize</key>
                <string>{20,101}</string>
            </dict>
            <key>scenario_button_skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,161},{105,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,29}}</string>
                <key>sourceSize</key>
                <string>{105,29}</string>
            </dict>
            <key>scenario_frame_9slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,161},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>scenario_frame_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,79},{217,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,40}}</string>
                <key>sourceSize</key>
                <string>{217,40}</string>
            </dict>
            <key>scenario_frame_name_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,121},{215,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,38}}</string>
                <key>sourceSize</key>
                <string>{215,38}</string>
            </dict>
            <key>scenario_pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>scenario_main.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cc8f57e2a3aef395fada273d38becbf:5b36d81fed8dc8a42a445076860f5c79:402edce093239b0085c4b8b0517a21b7$</string>
            <key>textureFileName</key>
            <string>scenario_main.png</string>
        </dict>
    </dict>
</plist>
