<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>schedule_button_check_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,111},{142,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,50}}</string>
                <key>sourceSize</key>
                <string>{142,50}</string>
            </dict>
            <key>schedule_button_check_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,111},{142,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,50}}</string>
                <key>sourceSize</key>
                <string>{142,50}</string>
            </dict>
            <key>schedule_button_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1},{187,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,68}}</string>
                <key>sourceSize</key>
                <string>{187,68}</string>
            </dict>
            <key>schedule_checkbox_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,145},{54,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{54,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>schedule_checkbox_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,172},{58,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>schedule_date_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,145},{75,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,62}}</string>
                <key>sourceSize</key>
                <string>{75,62}</string>
            </dict>
            <key>schedule_list_frame_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{567,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,108}}</string>
                <key>sourceSize</key>
                <string>{567,108}</string>
            </dict>
            <key>schedule_quest_category_assault.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,145},{100,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,25}}</string>
                <key>sourceSize</key>
                <string>{100,25}</string>
            </dict>
            <key>schedule_quest_category_crest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,163},{100,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,25}}</string>
                <key>sourceSize</key>
                <string>{100,25}</string>
            </dict>
            <key>schedule_quest_category_daily.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,222},{100,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,24}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
            <key>schedule_quest_category_feature.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,163},{100,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,25}}</string>
                <key>sourceSize</key>
                <string>{100,25}</string>
            </dict>
            <key>schedule_quest_category_giant.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,224},{100,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,25}}</string>
                <key>sourceSize</key>
                <string>{100,25}</string>
            </dict>
            <key>schedule_quest_category_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,224},{100,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,25}}</string>
                <key>sourceSize</key>
                <string>{100,25}</string>
            </dict>
            <key>schedule_quest_category_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,145},{100,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,25}}</string>
                <key>sourceSize</key>
                <string>{100,25}</string>
            </dict>
            <key>schedule_quest_category_trial.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,145},{100,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,25}}</string>
                <key>sourceSize</key>
                <string>{100,25}</string>
            </dict>
            <key>schedule_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,111},{250,32}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,32}}</string>
                <key>sourceSize</key>
                <string>{296,32}</string>
            </dict>
            <key>schedule_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,190},{296,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,32}}</string>
                <key>sourceSize</key>
                <string>{296,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>schedule.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16708db75720a20ec14b482af7b6cde1:074e0f31153a8530f3e03dd342dfcc25:88a2a07e25213bd9fd95759d3918f44d$</string>
            <key>textureFileName</key>
            <string>schedule.png</string>
        </dict>
    </dict>
</plist>
