<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,679},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>shop_button_buy_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1151},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shop_button_buy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1223},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shop_button_campaign_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1167},{231,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,74}}</string>
                <key>sourceSize</key>
                <string>{231,74}</string>
            </dict>
            <key>shop_button_campaign_buy_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1208},{231,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,74}}</string>
                <key>sourceSize</key>
                <string>{231,74}</string>
            </dict>
            <key>shop_button_crystalstore_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,759},{264,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,116}}</string>
                <key>sourceSize</key>
                <string>{264,116}</string>
            </dict>
            <key>shop_button_crystalstore_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,797},{264,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,116}}</string>
                <key>sourceSize</key>
                <string>{264,116}</string>
            </dict>
            <key>shop_button_crystalstore_big_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,313},{540,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,116}}</string>
                <key>sourceSize</key>
                <string>{540,116}</string>
            </dict>
            <key>shop_button_crystalstore_big_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,431},{540,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,116}}</string>
                <key>sourceSize</key>
                <string>{540,116}</string>
            </dict>
            <key>shop_button_exchange_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,797},{264,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,116}}</string>
                <key>sourceSize</key>
                <string>{264,116}</string>
            </dict>
            <key>shop_button_exchange_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,877},{264,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,116}}</string>
                <key>sourceSize</key>
                <string>{264,116}</string>
            </dict>
            <key>shop_button_exchange_action_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1253},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shop_button_exchange_action_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1255},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shop_button_exchange_raidticket_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,313},{264,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,93}}</string>
                <key>sourceSize</key>
                <string>{264,93}</string>
            </dict>
            <key>shop_button_exchange_raidticket_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1033},{264,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,93}}</string>
                <key>sourceSize</key>
                <string>{264,93}</string>
            </dict>
            <key>shop_button_extend_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1223},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shop_button_extend_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1223},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shop_button_grapass_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,915},{264,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,116}}</string>
                <key>sourceSize</key>
                <string>{264,116}</string>
            </dict>
            <key>shop_button_grapass_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,915},{264,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,116}}</string>
                <key>sourceSize</key>
                <string>{264,116}</string>
            </dict>
            <key>shop_button_grapass_purchased_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,995},{264,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,116}}</string>
                <key>sourceSize</key>
                <string>{264,116}</string>
            </dict>
            <key>shop_button_grapass_purchased_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1033},{264,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,116}}</string>
                <key>sourceSize</key>
                <string>{264,116}</string>
            </dict>
            <key>shop_button_policy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,549},{534,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,122}}</string>
                <key>sourceSize</key>
                <string>{534,122}</string>
            </dict>
            <key>shop_button_refill_raidorb_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1113},{264,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,93}}</string>
                <key>sourceSize</key>
                <string>{264,93}</string>
            </dict>
            <key>shop_button_refill_raidorb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1128},{264,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,93}}</string>
                <key>sourceSize</key>
                <string>{264,93}</string>
            </dict>
            <key>shop_button_refilla_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,759},{134,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,84}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>shop_button_refilla_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,759},{134,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,84}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>shop_button_refillarenaorb_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,845},{134,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,84}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>shop_button_refillarenaorb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,895},{134,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,84}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>shop_button_unit_extension_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,931},{134,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,84}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>shop_button_unit_extension_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1017},{134,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,84}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>shop_button_weapon_extension_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1031},{134,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,84}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>shop_button_weapon_extension_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1103},{134,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,84}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>shop_campaign_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{554,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,320}}</string>
                <key>sourceSize</key>
                <string>{554,320}</string>
            </dict>
            <key>shop_crystal_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,673},{534,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,122}}</string>
                <key>sourceSize</key>
                <string>{534,122}</string>
            </dict>
            <key>shop_extension_top_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,579},{416,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,88}}</string>
                <key>sourceSize</key>
                <string>{416,88}</string>
            </dict>
            <key>shop_frame_text_9slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1},{550,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,47}}</string>
                <key>sourceSize</key>
                <string>{550,47}</string>
            </dict>
            <key>shop_icon_crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,679},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>shop_pack_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,310}}</string>
                <key>sourceSize</key>
                <string>{640,310}</string>
            </dict>
            <key>shop_text_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,669},{416,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,88}}</string>
                <key>sourceSize</key>
                <string>{416,88}</string>
            </dict>
            <key>shop_title_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,553},{124,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,34}}</string>
                <key>sourceSize</key>
                <string>{124,34}</string>
            </dict>
            <key>shop_unit_thubmanail.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1189},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>shop_weapon_thubmanail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1151},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d1ac55b39a0ae4f15d916724129b28a:3cd9173f0a8e76f568d79a3ef52498ea:0c3382addd4ddbdf7ff3d469abaa2ba6$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
