<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_change_fillter.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,583},{253,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,67}}</string>
                <key>sourceSize</key>
                <string>{253,67}</string>
            </dict>
            <key>button_change_sort.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,583},{253,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,67}}</string>
                <key>sourceSize</key>
                <string>{253,67}</string>
            </dict>
            <key>button_changed_fillter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,611},{253,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,67}}</string>
                <key>sourceSize</key>
                <string>{253,67}</string>
            </dict>
            <key>button_changed_sort.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,611},{253,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,67}}</string>
                <key>sourceSize</key>
                <string>{253,67}</string>
            </dict>
            <key>common_buton_orange_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,583},{293,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,76}}</string>
                <key>sourceSize</key>
                <string>{293,76}</string>
            </dict>
            <key>multi_fillter_button_pulldown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,878},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>multi_fillter_button_pulldown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,679},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>multi_fillter_common_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1},{580,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,150}}</string>
                <key>sourceSize</key>
                <string>{580,150}</string>
            </dict>
            <key>multi_fillter_quest_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1},{504,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,82}}</string>
                <key>sourceSize</key>
                <string>{504,82}</string>
            </dict>
            <key>sort_filter_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,412}}</string>
                <key>sourceSize</key>
                <string>{640,412}</string>
            </dict>
            <key>sort_filter_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,507},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>sort_filter_button_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,611},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>sort_filter_button_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,838},{184,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,66}}</string>
                <key>sourceSize</key>
                <string>{184,66}</string>
            </dict>
            <key>sort_filter_button_pressed_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,611},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>sort_filter_button_pressed_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,743},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>sort_filter_button_pressed_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,611},{184,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,66}}</string>
                <key>sourceSize</key>
                <string>{184,66}</string>
            </dict>
            <key>sort_filter_frame_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{608,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,104}}</string>
                <key>sourceSize</key>
                <string>{608,104}</string>
            </dict>
            <key>sort_filter_icon_rarelitystar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>sort_filter_icon_rarelitystar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,39},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>sort_filter_icon_rarelitystar_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,769},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>sort_filter_icon_rarelitystar_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,679},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>sort_filter_icon_rarelitystar_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,731},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>sort_filter_icon_rarelitystar_awake.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,507},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sort_filter_icon_rarelitystar_less_than2.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,717},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sort_filter_icon_weapon_type_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,728},{46,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>sort_filter_icon_weapon_type_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,834},{48,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>sort_filter_icon_weapon_type_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,878},{42,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{42,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>sort_filter_icon_weapon_type_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,783},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,49}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>sort_filter_icon_weapon_type_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,776},{46,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>sort_filter_title_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,575},{140,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,51}}</string>
                <key>sourceSize</key>
                <string>{140,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sort_filter.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06ae842190b13bd8ea8bea2ed55737b7:5b7d2902a9b4b38940eb0e716c61d641:3012d22e946ac4a250675d2a79c14775$</string>
            <key>textureFileName</key>
            <string>sort_filter.png</string>
        </dict>
    </dict>
</plist>
