<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_change_fillter.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,79},{253,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,67}}</string>
                <key>sourceSize</key>
                <string>{253,67}</string>
            </dict>
            <key>button_change_sort.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,148},{253,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,67}}</string>
                <key>sourceSize</key>
                <string>{253,67}</string>
            </dict>
            <key>button_changed_fillter.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,217},{253,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,67}}</string>
                <key>sourceSize</key>
                <string>{253,67}</string>
            </dict>
            <key>button_changed_sort.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,286},{253,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,67}}</string>
                <key>sourceSize</key>
                <string>{253,67}</string>
            </dict>
            <key>common_buton_orange_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{293,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,76}}</string>
                <key>sourceSize</key>
                <string>{293,76}</string>
            </dict>
            <key>multi_fillter_button_pulldown_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,781},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>multi_fillter_button_pulldown_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,649},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>multi_fillter_common_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,415},{580,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,150}}</string>
                <key>sourceSize</key>
                <string>{580,150}</string>
            </dict>
            <key>multi_fillter_quest_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1},{504,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,82}}</string>
                <key>sourceSize</key>
                <string>{504,82}</string>
            </dict>
            <key>sort_filter_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,412}}</string>
                <key>sourceSize</key>
                <string>{640,412}</string>
            </dict>
            <key>sort_filter_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,541},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>sort_filter_button_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,507},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>sort_filter_button_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,355},{184,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,66}}</string>
                <key>sourceSize</key>
                <string>{184,66}</string>
            </dict>
            <key>sort_filter_button_pressed_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,423},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>sort_filter_button_pressed_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,649},{130,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>sort_filter_button_pressed_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,355},{184,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,66}}</string>
                <key>sourceSize</key>
                <string>{184,66}</string>
            </dict>
            <key>sort_filter_frame_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,415},{608,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,104}}</string>
                <key>sourceSize</key>
                <string>{608,104}</string>
            </dict>
            <key>sort_filter_icon_rarelitystar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,79},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>sort_filter_icon_rarelitystar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,116},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>sort_filter_icon_rarelitystar_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,833},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>sort_filter_icon_rarelitystar_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,885},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>sort_filter_icon_rarelitystar_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,937},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>sort_filter_icon_rarelitystar_awake.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,423},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sort_filter_icon_rarelitystar_less_than2.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,781},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sort_filter_icon_weapon_type_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,698},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>sort_filter_icon_weapon_type_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,491},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>sort_filter_icon_weapon_type_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,491},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{42,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>sort_filter_icon_weapon_type_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,833},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,49}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>sort_filter_icon_weapon_type_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,746},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>sort_filter_title_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,507},{140,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,51}}</string>
                <key>sourceSize</key>
                <string>{140,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sort_filter.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:065fdd42155fbb8cd61cda34ff026e79:826d0f3210a0a2d3847e1558974e076d:3012d22e946ac4a250675d2a79c14775$</string>
            <key>textureFileName</key>
            <string>sort_filter.png</string>
        </dict>
    </dict>
</plist>
