<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mypage_button_suroroku.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,373},{82,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{82,77}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>num_b_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,958},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>num_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,596},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,26}}</string>
                <key>sourceSize</key>
                <string>{15,26}</string>
            </dict>
            <key>num_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1280},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>num_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1182},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>num_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1253},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>num_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1280},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>num_b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1208},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>num_b_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1288},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>num_b_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1234},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>num_b_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1260},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>num_b_minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,530},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>num_b_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1315},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>num_r_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1286},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>num_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,624},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,26}}</string>
                <key>sourceSize</key>
                <string>{15,26}</string>
            </dict>
            <key>num_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1290},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>num_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1312},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>num_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1253},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>num_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1305},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>num_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1201},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>num_r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1313},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>num_r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1227},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>num_r_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1264},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>num_r_minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,547},{15,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,10}}</string>
                <key>sourceSize</key>
                <string>{15,10}</string>
            </dict>
            <key>num_r_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1305},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>sugoroku_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>sugoroku_bg_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{380,370}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{380,370}}</string>
                <key>sourceSize</key>
                <string>{382,382}</string>
            </dict>
            <key>sugoroku_button_help_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,530},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>sugoroku_button_help_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,452},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>sugoroku_button_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,596},{397,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,67}}</string>
                <key>sourceSize</key>
                <string>{397,67}</string>
            </dict>
            <key>sugoroku_button_home_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1201},{397,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,67}}</string>
                <key>sourceSize</key>
                <string>{397,67}</string>
            </dict>
            <key>sugoroku_button_shake_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,373},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>sugoroku_button_shake_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,461},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>sugoroku_count_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,995},{156,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,62}}</string>
                <key>sourceSize</key>
                <string>{156,62}</string>
            </dict>
            <key>sugoroku_no_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,958},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>sugoroku_no_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1237},{25,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,38}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>sugoroku_no_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1143},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>sugoroku_no_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,958},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>sugoroku_no_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1180},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>sugoroku_no_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,995},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>sugoroku_no_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1032},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>sugoroku_no_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,1217},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>sugoroku_no_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1069},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>sugoroku_no_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1106},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>sugoroku_square_back_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,549},{104,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,110}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>sugoroku_square_item_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,867},{89,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,90}}</string>
                <key>sourceSize</key>
                <string>{89,90}</string>
            </dict>
            <key>sugoroku_square_move_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,655},{104,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,110}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>sugoroku_square_secret_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,761},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>sugoroku_square_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1059},{140,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>sugoroku_square_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1182},{140,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>sugoroku_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1139},{640,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,155}}</string>
                <key>sourceSize</key>
                <string>{640,155}</string>
            </dict>
            <key>sugoroku_txt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,549},{631,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,181}}</string>
                <key>sourceSize</key>
                <string>{631,181}</string>
            </dict>
            <key>sugoroku_txt_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1201},{51,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,34}}</string>
                <key>sourceSize</key>
                <string>{51,34}</string>
            </dict>
            <key>sugoroku_txt_times.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1253},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sugoroku.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee909185c6ab19d5b762d273e5cb31df:4eb30de218e37e1970494c1ec22579f9:c3f7f86283fc65b8a3501ad4768c2d6d$</string>
            <key>textureFileName</key>
            <string>sugoroku.png</string>
        </dict>
    </dict>
</plist>
