<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_item_button_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{196,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>item_item_button_nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1},{196,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>item_key_button_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1},{196,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>item_key_button_nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1},{196,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>item_list_remove.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,70},{299,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,117}}</string>
                <key>sourceSize</key>
                <string>{299,117}</string>
            </dict>
            <key>item_ticket_button_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1},{196,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>item_ticket_button_nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,70},{196,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>tool_button_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,70},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>tool_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,189},{571,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,146}}</string>
                <key>sourceSize</key>
                <string>{571,146}</string>
            </dict>
            <key>tool_list_half.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,70},{299,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,117}}</string>
                <key>sourceSize</key>
                <string>{299,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tool.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b3c4200fa51af39c62fe203c1f5efd8:9b1a6e7c12160a5270b4ca07dfb95642:4a45113de3f6adf37c51c83ea3417587$</string>
            <key>textureFileName</key>
            <string>tool.png</string>
        </dict>
    </dict>
</plist>
