<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>old_archemist_button_orbstore_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,1},{310,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,88}}</string>
			<key>sourceSize</key>
			<string>{310,88}</string>
		</dict>
		<key>old_archemist_button_orbstore_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,91},{310,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,88}}</string>
			<key>sourceSize</key>
			<string>{310,88}</string>
		</dict>
		<key>archemist_button_orbsummon_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,113},{310,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,88}}</string>
			<key>sourceSize</key>
			<string>{310,88}</string>
		</dict>
		<key>archemist_button_orbsummon_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,133},{310,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,88}}</string>
			<key>sourceSize</key>
			<string>{310,88}</string>
		</dict>
		<key>archemist_button_unitsale_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{637,181},{310,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,88}}</string>
			<key>sourceSize</key>
			<string>{310,88}</string>
		</dict>
		<key>archemist_button_unitsale_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,203},{310,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,88}}</string>
			<key>sourceSize</key>
			<string>{310,88}</string>
		</dict>
		<key>archemist_button_weaponsale_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,223},{310,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,88}}</string>
			<key>sourceSize</key>
			<string>{310,88}</string>
		</dict>
		<key>archemist_button_weaponsale_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{625,271},{310,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,88}}</string>
			<key>sourceSize</key>
			<string>{310,88}</string>
		</dict>
		<key>blacksmith_button_create_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,813},{208,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,88}}</string>
			<key>sourceSize</key>
			<string>{208,88}</string>
		</dict>
		<key>blacksmith_button_create_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,813},{208,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,88}}</string>
			<key>sourceSize</key>
			<string>{208,88}</string>
		</dict>
		<key>blacksmith_button_limitbreak_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,813},{208,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,88}}</string>
			<key>sourceSize</key>
			<string>{208,88}</string>
		</dict>
		<key>blacksmith_button_lmitbreak_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{583,813},{208,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,88}}</string>
			<key>sourceSize</key>
			<string>{208,88}</string>
		</dict>
		<key>blacksmith_button_materiallist_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,181},{310,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,72}}</string>
			<key>sourceSize</key>
			<string>{310,72}</string>
		</dict>
		<key>blacksmith_button_materiallist_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,739},{310,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,72}}</string>
			<key>sourceSize</key>
			<string>{310,72}</string>
		</dict>
		<key>blacksmith_button_strength_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,807},{208,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,88}}</string>
			<key>sourceSize</key>
			<string>{208,88}</string>
		</dict>
		<key>blacksmith_button_strength_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,807},{208,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,88}}</string>
			<key>sourceSize</key>
			<string>{208,88}</string>
		</dict>
		<key>blacksmith_button_weaponlist_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,757},{310,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,72}}</string>
			<key>sourceSize</key>
			<string>{310,72}</string>
		</dict>
		<key>blacksmith_button_weaponlist_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,831},{310,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,72}}</string>
			<key>sourceSize</key>
			<string>{310,72}</string>
		</dict>
		<key>common_balloon_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,1},{322,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{322,110}}</string>
			<key>sourceSize</key>
			<string>{322,110}</string>
		</dict>
		<key>common_balloon_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{322,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{322,130}}</string>
			<key>sourceSize</key>
			<string>{322,130}</string>
		</dict>
		<key>guild_button_complete_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,293},{310,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,88}}</string>
			<key>sourceSize</key>
			<string>{310,88}</string>
		</dict>
		<key>guild_button_complete_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,313},{310,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,88}}</string>
			<key>sourceSize</key>
			<string>{310,88}</string>
		</dict>
		<key>guild_button_subquest_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{625,361},{310,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,88}}</string>
			<key>sourceSize</key>
			<string>{310,88}</string>
		</dict>
		<key>guild_button_subquest_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,383},{310,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,88}}</string>
			<key>sourceSize</key>
			<string>{310,88}</string>
		</dict>
		<key>picturebook_button_material_food_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{937,493},{310,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,86}}</string>
			<key>sourceSize</key>
			<string>{310,86}</string>
		</dict>
		<key>picturebook_button_material_food_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,493},{310,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,86}}</string>
			<key>sourceSize</key>
			<string>{310,86}</string>
		</dict>
		<key>picturebook_button_monster_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,563},{310,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,86}}</string>
			<key>sourceSize</key>
			<string>{310,86}</string>
		</dict>
		<key>picturebook_button_monster_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{625,631},{310,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,86}}</string>
			<key>sourceSize</key>
			<string>{310,86}</string>
		</dict>
		<key>picturebook_button_unit_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,581},{310,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,86}}</string>
			<key>sourceSize</key>
			<string>{310,86}</string>
		</dict>
		<key>picturebook_button_unit_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,651},{310,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,86}}</string>
			<key>sourceSize</key>
			<string>{310,86}</string>
		</dict>
		<key>picturebook_button_weapon_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{625,719},{310,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,86}}</string>
			<key>sourceSize</key>
			<string>{310,86}</string>
		</dict>
		<key>picturebook_button_weapon_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,669},{310,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,86}}</string>
			<key>sourceSize</key>
			<string>{310,86}</string>
		</dict>
		<key>restaurant_button_cook_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,403},{310,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,88}}</string>
			<key>sourceSize</key>
			<string>{310,88}</string>
		</dict>
		<key>restaurant_button_cook_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{625,451},{310,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,88}}</string>
			<key>sourceSize</key>
			<string>{310,88}</string>
		</dict>
		<key>restaurant_button_foodlist_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,473},{310,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,88}}</string>
			<key>sourceSize</key>
			<string>{310,88}</string>
		</dict>
		<key>restaurant_button_foodlist_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{625,541},{310,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,88}}</string>
			<key>sourceSize</key>
			<string>{310,88}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>town_ui.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:86f7b367abbc4802c50212b0de24de27:84dad4c28a8e376a38df99a9ecddd54b:9ff2506fb02fbbcb5818d84b40c6f0a1$</string>
		<key>textureFileName</key>
		<string>town_ui.png</string>
	</dict>
</dict>
</plist>
