<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_box_flare_blue_main_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,791},{132,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,99}}</string>
                <key>sourceSize</key>
                <string>{132,99}</string>
            </dict>
            <key>ui_box_flare_rainbow_main_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,925},{128,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,99}}</string>
                <key>sourceSize</key>
                <string>{130,99}</string>
            </dict>
            <key>ui_box_flare_white_main_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,450},{109,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,93}}</string>
                <key>sourceSize</key>
                <string>{111,93}</string>
            </dict>
            <key>ui_box_flare_yellow_main_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,654},{135,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,99}}</string>
                <key>sourceSize</key>
                <string>{135,99}</string>
            </dict>
            <key>ui_cristal_flare_rev_blue_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{213,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{213,177}}</string>
                <key>sourceSize</key>
                <string>{215,177}</string>
            </dict>
            <key>ui_cristal_flare_rev_rainbow_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,785},{209,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,175}}</string>
                <key>sourceSize</key>
                <string>{209,175}</string>
            </dict>
            <key>ui_cristal_flare_rev_white_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,748},{202,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,172}}</string>
                <key>sourceSize</key>
                <string>{202,172}</string>
            </dict>
            <key>ui_cristal_flare_rev_yellow_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{209,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,175}}</string>
                <key>sourceSize</key>
                <string>{209,175}</string>
            </dict>
            <key>ui_cristal_line_rev_blue_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1326},{160,154}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,154}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_cristal_line_rev_blue_main_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1469},{160,152}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_cristal_line_rev_blue_main_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1007},{152,132}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{152,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_cristal_line_rev_rainbow_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1356},{160,152}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_cristal_line_rev_rainbow_main_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1623},{152,146}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{152,146}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_cristal_line_rev_rainbow_main_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1161},{152,132}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{152,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_cristal_line_rev_white_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1315},{152,132}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{152,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_cristal_line_rev_white_main_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1666},{152,132}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{152,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_cristal_line_rev_yellow_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1450},{160,152}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_cristal_line_rev_yellow_main_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1613},{152,146}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{152,146}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_cristal_line_rev_yellow_main_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1758},{152,132}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{152,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_emblem_particle_cross_yellow_main_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1411},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,70}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>ui_emblem_particle_pop_yellow_main_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1771},{122,146}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,146}}</string>
                <key>sourceSize</key>
                <string>{126,146}</string>
            </dict>
            <key>ui_emblem_particle_pop_yellow_main_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{171,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,235}}</string>
                <key>sourceSize</key>
                <string>{171,235}</string>
            </dict>
            <key>ui_emblem_particle_pop_yellow_main_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,540},{206,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,282}}</string>
                <key>sourceSize</key>
                <string>{206,282}</string>
            </dict>
            <key>ui_emblem_pop_yellow_main_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1151},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>ui_emblem_pop_yellow_main_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1290},{168,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,183}}</string>
                <key>sourceSize</key>
                <string>{168,183}</string>
            </dict>
            <key>ui_emblem_wave_yellow_main_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1892},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>ui_unit_back_rainbow_main_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1328},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>ui_unit_back_rainbow_main_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1460},{151,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,160}}</string>
                <key>sourceSize</key>
                <string>{151,160}</string>
            </dict>
            <key>ui_unit_back_yellow_main_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1244},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>ui_unit_back_yellow_main_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1482},{151,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,159}}</string>
                <key>sourceSize</key>
                <string>{151,159}</string>
            </dict>
            <key>ui_unit_circle_blue_main_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,922},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ui_unit_circle_rainbow_main_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,962},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ui_unit_circle_white_main_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1124},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ui_unit_circle_yellow_main_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1107},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ui_unit_flare_S_rainbow_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,883},{124,122}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{124,122}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ui_unit_flare_S_yellow_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1919},{124,122}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{124,122}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ui_unit_fractal_blue_main_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,820},{152,134}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{152,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_unit_particle_pop_blue_main_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,697},{103,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,121}}</string>
                <key>sourceSize</key>
                <string>{103,121}</string>
            </dict>
            <key>ui_unit_particle_pop_blue_main_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1309},{139,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,177}}</string>
                <key>sourceSize</key>
                <string>{139,177}</string>
            </dict>
            <key>ui_unit_particle_pop_rainbow_main_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,2},{287,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,315}}</string>
                <key>sourceSize</key>
                <string>{287,315}</string>
            </dict>
            <key>ui_unit_particle_pop_rainbow_main_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{335,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,366}}</string>
                <key>sourceSize</key>
                <string>{335,366}</string>
            </dict>
            <key>ui_unit_particle_pop_yellow_main_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,599},{184,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,225}}</string>
                <key>sourceSize</key>
                <string>{184,225}</string>
            </dict>
            <key>ui_unit_particle_pop_yellow_main_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,291},{247,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,291}}</string>
                <key>sourceSize</key>
                <string>{247,291}</string>
            </dict>
            <key>ui_unit_particle_pop_yellow_main_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{271,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,331}}</string>
                <key>sourceSize</key>
                <string>{271,331}</string>
            </dict>
            <key>ui_unit_pop_blue_main_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,599},{96,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,104}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>ui_unit_pop_blue_main_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1139},{149,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,162}}</string>
                <key>sourceSize</key>
                <string>{149,162}</string>
            </dict>
            <key>ui_unit_pop_rainbow_main_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,748},{124,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,133}}</string>
                <key>sourceSize</key>
                <string>{124,133}</string>
            </dict>
            <key>ui_unit_pop_rainbow_main_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,275},{326,322}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,322}}</string>
                <key>sourceSize</key>
                <string>{328,322}</string>
            </dict>
            <key>ui_unit_pop_yellow_main_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,339},{109,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,111}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>ui_unit_pop_yellow_main_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{237,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,244}}</string>
                <key>sourceSize</key>
                <string>{237,244}</string>
            </dict>
            <key>ui_unit_sam_flash_blue_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1800},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{146,146}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ui_unit_sam_flash_rainbow_main_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1510},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,154}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>ui_unit_sam_flash_white_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{154,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,152}}</string>
                <key>sourceSize</key>
                <string>{156,154}</string>
            </dict>
            <key>ui_unit_sam_flash_yellow_main_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1892},{144,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{144,148}}</string>
                <key>sourceSize</key>
                <string>{146,150}</string>
            </dict>
            <key>ui_unit_wave_blue_main_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,545},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>ui_unit_wave_rainbow_main_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,974},{163,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,163}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>ui_unit_wave_white_main_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1055},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{94,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ui_unit_wave_yellow_main_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1164},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_effect.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abebd3e7680419c5be82d5a2d219cf74:81d7d538d84eece493094fb5f0e0818e:7dcd3f0c54f6cae58f4c848dd7a9a343$</string>
            <key>textureFileName</key>
            <string>ui_effect.png</string>
        </dict>
    </dict>
</plist>
