<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_ability_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,87},{218,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,30}}</string>
                <key>sourceSize</key>
                <string>{218,30}</string>
            </dict>
            <key>item_name_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{435,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,30}}</string>
                <key>sourceSize</key>
                <string>{435,30}</string>
            </dict>
            <key>item_slot_rerity_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,33},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>item_slot_rerity_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,33},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>item_slot_rerity_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,33},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>item_slot_rerity_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,33},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>item_slot_rerity_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,33},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>unit_ability_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,87},{288,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,108}}</string>
                <key>sourceSize</key>
                <string>{288,108}</string>
            </dict>
            <key>unit_item_frame_9slice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,377},{135,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,112}}</string>
                <key>sourceSize</key>
                <string>{135,112}</string>
            </dict>
            <key>unit_item_frame_9slice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,373},{135,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,112}}</string>
                <key>sourceSize</key>
                <string>{135,112}</string>
            </dict>
            <key>unit_item_frame_9slice_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,33},{135,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,112}}</string>
                <key>sourceSize</key>
                <string>{135,112}</string>
            </dict>
            <key>unit_item_frame_9slice_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,87},{135,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,112}}</string>
                <key>sourceSize</key>
                <string>{135,112}</string>
            </dict>
            <key>unit_item_frame_9slice_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,147},{135,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,112}}</string>
                <key>sourceSize</key>
                <string>{135,112}</string>
            </dict>
            <key>unit_skill1_frame_9slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1},{64,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,84}}</string>
                <key>sourceSize</key>
                <string>{64,84}</string>
            </dict>
            <key>unit_skill2_frame_9slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,307},{64,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,84}}</string>
                <key>sourceSize</key>
                <string>{64,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_detail_atlas.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:400ac65493cd3cb5283000b0ec2606ae:ce7d2b351908cf287dc2c4e36e2d6b11:93e00fcf1d54655675d5927ecf5ab8e9$</string>
            <key>textureFileName</key>
            <string>unit_detail_atlas.png</string>
        </dict>
    </dict>
</plist>
