<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_ui_window_renkeiougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1421},{604,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,236}}</string>
                <key>sourceSize</key>
                <string>{604,236}</string>
            </dict>
            <key>common_bar_ougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,2014},{356,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,30}}</string>
                <key>sourceSize</key>
                <string>{356,30}</string>
            </dict>
            <key>common_bar_renkeiougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1589},{359,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,35}}</string>
                <key>sourceSize</key>
                <string>{359,35}</string>
            </dict>
            <key>common_bar_shinougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2006},{359,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,35}}</string>
                <key>sourceSize</key>
                <string>{359,35}</string>
            </dict>
            <key>common_bar_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,543},{359,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,35}}</string>
                <key>sourceSize</key>
                <string>{359,35}</string>
            </dict>
            <key>common_buton_back_popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,893},{293,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,76}}</string>
                <key>sourceSize</key>
                <string>{293,76}</string>
            </dict>
            <key>common_button_action_limitbreak_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1740},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>common_button_action_limitbreak_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1828},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>common_frame_fold_9slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,1917},{604,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,121}}</string>
                <key>sourceSize</key>
                <string>{604,121}</string>
            </dict>
            <key>common_item_gran.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2006},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>common_item_limitbreak.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1920},{83,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,25}}</string>
                <key>sourceSize</key>
                <string>{83,25}</string>
            </dict>
            <key>common_item_limitbreak_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1740},{131,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,25}}</string>
                <key>sourceSize</key>
                <string>{131,25}</string>
            </dict>
            <key>common_item_renkeiougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,145},{114,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,32}}</string>
                <key>sourceSize</key>
                <string>{114,32}</string>
            </dict>
            <key>icon_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,1246},{52,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,79}}</string>
                <key>sourceSize</key>
                <string>{52,79}</string>
            </dict>
            <key>txt_new_awakening.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,893},{136,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,59}}</string>
                <key>sourceSize</key>
                <string>{136,59}</string>
            </dict>
            <key>unit_abillity_lv_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,1421},{402,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,10}}</string>
                <key>sourceSize</key>
                <string>{402,10}</string>
            </dict>
            <key>unit_abillity_lv_bar_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,1421},{416,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,24}}</string>
                <key>sourceSize</key>
                <string>{416,24}</string>
            </dict>
            <key>unit_abillity_lv_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1},{560,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,56}}</string>
                <key>sourceSize</key>
                <string>{560,56}</string>
            </dict>
            <key>unit_abillity_lv_list_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,543},{560,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,56}}</string>
                <key>sourceSize</key>
                <string>{560,56}</string>
            </dict>
            <key>unit_abillity_rabel_unit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,1105},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,30}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>unit_abillity_rabel_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1118},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,30}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>unit_arrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,2022},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>unit_arrow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,2021},{26,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{26,44}</string>
            </dict>
            <key>unit_arrow_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,1096},{99,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,61}}</string>
                <key>sourceSize</key>
                <string>{99,61}</string>
            </dict>
            <key>unit_arrow_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,1989},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>unit_buton_unit_party_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,992},{293,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,76}}</string>
                <key>sourceSize</key>
                <string>{293,76}</string>
            </dict>
            <key>unit_buton_unit_strength_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,597},{293,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,76}}</string>
                <key>sourceSize</key>
                <string>{293,76}</string>
            </dict>
            <key>unit_button_abillity_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1523,675},{128,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,50}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
            <key>unit_button_awake_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1916},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>unit_button_awake_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,319},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>unit_button_change_ougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1737},{200,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,73}}</string>
                <key>sourceSize</key>
                <string>{200,73}</string>
            </dict>
            <key>unit_button_change_shinougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1812},{200,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,73}}</string>
                <key>sourceSize</key>
                <string>{200,73}</string>
            </dict>
            <key>unit_button_enforce_action_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,407},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>unit_button_enforce_action_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,1},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>unit_button_evolution_action_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,1},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>unit_button_evolution_action_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,904},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>unit_button_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1887},{150,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,61}}</string>
                <key>sourceSize</key>
                <string>{150,61}</string>
            </dict>
            <key>unit_button_ougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,1917},{155,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,65}}</string>
                <key>sourceSize</key>
                <string>{155,65}</string>
            </dict>
            <key>unit_button_ougi_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1118},{155,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,65}}</string>
                <key>sourceSize</key>
                <string>{155,65}</string>
            </dict>
            <key>unit_button_shinougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,915},{155,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,65}}</string>
                <key>sourceSize</key>
                <string>{155,65}</string>
            </dict>
            <key>unit_detail_abilityicon_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,1226},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>unit_detail_type_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,736},{243,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,50}}</string>
                <key>sourceSize</key>
                <string>{243,50}</string>
            </dict>
            <key>unit_detail_weapon_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,864},{327,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,27}}</string>
                <key>sourceSize</key>
                <string>{327,27}</string>
            </dict>
            <key>unit_evolution_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1421},{314,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,278}}</string>
                <key>sourceSize</key>
                <string>{314,278}</string>
            </dict>
            <key>unit_gauge_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1345},{624,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,74}}</string>
                <key>sourceSize</key>
                <string>{624,74}</string>
            </dict>
            <key>unit_info_frame_abillity.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1589},{415,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,108}}</string>
                <key>sourceSize</key>
                <string>{415,108}</string>
            </dict>
            <key>unit_info_frame_rune.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1589},{386,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,149}}</string>
                <key>sourceSize</key>
                <string>{386,149}</string>
            </dict>
            <key>unit_item_get_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1873},{94,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,24}}</string>
                <key>sourceSize</key>
                <string>{94,24}</string>
            </dict>
            <key>unit_item_get_rainbowstone.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,495},{265,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,46}}</string>
                <key>sourceSize</key>
                <string>{265,46}</string>
            </dict>
            <key>unit_item_get_rainbowstone.png-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1070},{265,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,46}}</string>
                <key>sourceSize</key>
                <string>{265,46}</string>
            </dict>
            <key>unit_list_skin_choosing.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,563},{558,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,128}}</string>
                <key>sourceSize</key>
                <string>{558,128}</string>
            </dict>
            <key>unit_material_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1139},{631,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,204}}</string>
                <key>sourceSize</key>
                <string>{631,204}</string>
            </dict>
            <key>unit_name_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1589},{423,46}}</string>
                <key>offset</key>
                <string>{-40,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{423,46}}</string>
                <key>sourceSize</key>
                <string>{511,52}</string>
            </dict>
            <key>unit_newabillity_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,1345},{570,598}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,598}}</string>
                <key>sourceSize</key>
                <string>{570,598}</string>
            </dict>
            <key>unit_party_button_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,1118},{198,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,63}}</string>
                <key>sourceSize</key>
                <string>{198,63}</string>
            </dict>
            <key>unit_party_button_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,1086},{148,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,63}}</string>
                <key>sourceSize</key>
                <string>{148,63}</string>
            </dict>
            <key>unit_party_button_decision.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,1031},{198,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,63}}</string>
                <key>sourceSize</key>
                <string>{198,63}</string>
            </dict>
            <key>unit_party_button_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,1096},{148,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,63}}</string>
                <key>sourceSize</key>
                <string>{148,63}</string>
            </dict>
            <key>unit_party_button_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1275},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>unit_party_button_newparty.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1740},{250,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,59}}</string>
                <key>sourceSize</key>
                <string>{250,59}</string>
            </dict>
            <key>unit_party_button_newparty_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,675},{250,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,59}}</string>
                <key>sourceSize</key>
                <string>{250,59}</string>
            </dict>
            <key>unit_party_button_reflect.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1},{316,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,70}}</string>
                <key>sourceSize</key>
                <string>{316,70}</string>
            </dict>
            <key>unit_party_button_reflect_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,597},{316,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,70}}</string>
                <key>sourceSize</key>
                <string>{316,70}</string>
            </dict>
            <key>unit_party_button_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,1188},{148,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,63}}</string>
                <key>sourceSize</key>
                <string>{148,63}</string>
            </dict>
            <key>unit_party_list_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1},{564,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,128}}</string>
                <key>sourceSize</key>
                <string>{564,128}</string>
            </dict>
            <key>unit_party_list_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{564,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,128}}</string>
                <key>sourceSize</key>
                <string>{564,128}</string>
            </dict>
            <key>unit_party_list_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1},{564,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,128}}</string>
                <key>sourceSize</key>
                <string>{564,128}</string>
            </dict>
            <key>unit_party_name_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,543},{544,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,45}}</string>
                <key>sourceSize</key>
                <string>{544,45}</string>
            </dict>
            <key>unit_party_rabel_copy_destination.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,1839},{181,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,30}}</string>
                <key>sourceSize</key>
                <string>{181,30}</string>
            </dict>
            <key>unit_party_rabel_copy_source.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1737},{181,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,30}}</string>
                <key>sourceSize</key>
                <string>{181,30}</string>
            </dict>
            <key>unit_rabel_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,1984},{154,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,38}}</string>
                <key>sourceSize</key>
                <string>{154,38}</string>
            </dict>
            <key>unit_rabel_material.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,543},{337,30}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{337,30}}</string>
                <key>sourceSize</key>
                <string>{343,32}</string>
            </dict>
            <key>unit_rabel_material_unit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,495},{337,30}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{337,30}}</string>
                <key>sourceSize</key>
                <string>{343,32}</string>
            </dict>
            <key>unit_rabel_material_unit_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,543},{343,30}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{343,30}}</string>
                <key>sourceSize</key>
                <string>{349,32}</string>
            </dict>
            <key>unit_rabel_newawake01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,834},{337,28}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,28}}</string>
                <key>sourceSize</key>
                <string>{371,28}</string>
            </dict>
            <key>unit_rabel_newawake02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,567},{337,28}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,28}}</string>
                <key>sourceSize</key>
                <string>{371,28}</string>
            </dict>
            <key>unit_rabel_plus_luck.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1950},{281,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,21}}</string>
                <key>sourceSize</key>
                <string>{281,21}</string>
            </dict>
            <key>unit_rabel_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1737},{249,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,21}}</string>
                <key>sourceSize</key>
                <string>{249,21}</string>
            </dict>
            <key>unit_rabel_status.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1973},{281,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,21}}</string>
                <key>sourceSize</key>
                <string>{281,21}</string>
            </dict>
            <key>unit_rabel_weaponframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1},{281,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,21}}</string>
                <key>sourceSize</key>
                <string>{281,21}</string>
            </dict>
            <key>unit_rune_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1589},{424,52}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{424,52}}</string>
                <key>sourceSize</key>
                <string>{452,68}</string>
            </dict>
            <key>unit_skill_thumbnail_sample.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,982},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>unit_skin_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,1096},{128,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,50}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
            <key>unit_skin_icon_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,788},{87,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,37}}</string>
                <key>sourceSize</key>
                <string>{87,37}</string>
            </dict>
            <key>unit_skin_list_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,1421},{566,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,64}}</string>
                <key>sourceSize</key>
                <string>{566,64}</string>
            </dict>
            <key>unit_skin_list_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,567},{558,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,128}}</string>
                <key>sourceSize</key>
                <string>{558,128}</string>
            </dict>
            <key>unit_skin_list_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,567},{558,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,128}}</string>
                <key>sourceSize</key>
                <string>{558,128}</string>
            </dict>
            <key>unit_status_panel_9slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1151},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>unit_strength_select_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1139},{636,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,448}}</string>
                <key>sourceSize</key>
                <string>{636,448}</string>
            </dict>
            <key>unit_temple_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>unit_weapon_frame_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1},{142,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,38}}</string>
                <key>sourceSize</key>
                <string>{142,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unit_page_atlas.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e91b19eabcc8aac65a8d62461c5d295:5b5df73eda08cf76b9fddc3f93aebf1b:d354aaeb7c36d50f01f2a833bdcf011c$</string>
            <key>textureFileName</key>
            <string>unit_page_atlas.png</string>
        </dict>
    </dict>
</plist>
