<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_bar_ougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1745},{356,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,30}}</string>
                <key>sourceSize</key>
                <string>{356,30}</string>
            </dict>
            <key>common_bar_shinougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,1},{359,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,35}}</string>
                <key>sourceSize</key>
                <string>{359,35}</string>
            </dict>
            <key>common_bar_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,38},{359,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,35}}</string>
                <key>sourceSize</key>
                <string>{359,35}</string>
            </dict>
            <key>common_buton_back_popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,493},{293,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,76}}</string>
                <key>sourceSize</key>
                <string>{293,76}</string>
            </dict>
            <key>common_button_action_limitbreak_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,232},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>common_button_action_limitbreak_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,320},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>common_frame_fold_9slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1139},{604,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,121}}</string>
                <key>sourceSize</key>
                <string>{604,121}</string>
            </dict>
            <key>common_item_gran.png</key>
            <dict>
                <key>frame</key>
                <string>{{2011,781},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>common_item_limitbreak.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2008},{83,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,23}}</string>
                <key>sourceSize</key>
                <string>{83,25}</string>
            </dict>
            <key>common_item_limitbreak_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1983},{131,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{131,23}}</string>
                <key>sourceSize</key>
                <string>{131,25}</string>
            </dict>
            <key>icon_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,491},{52,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,79}}</string>
                <key>sourceSize</key>
                <string>{52,79}</string>
            </dict>
            <key>txt_new_awakening.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,1769},{165,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,51}}</string>
                <key>sourceSize</key>
                <string>{165,51}</string>
            </dict>
            <key>unit_abillity_lv_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2034},{402,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,10}}</string>
                <key>sourceSize</key>
                <string>{402,10}</string>
            </dict>
            <key>unit_abillity_lv_bar_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,769},{416,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,24}}</string>
                <key>sourceSize</key>
                <string>{416,24}</string>
            </dict>
            <key>unit_abillity_lv_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,703},{560,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,56}}</string>
                <key>sourceSize</key>
                <string>{560,56}</string>
            </dict>
            <key>unit_abillity_lv_list_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,761},{560,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,56}}</string>
                <key>sourceSize</key>
                <string>{560,56}</string>
            </dict>
            <key>unit_abillity_rabel_unit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,573},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,30}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>unit_abillity_rabel_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,671},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,30}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>unit_arrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1744},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>unit_arrow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,778},{26,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{26,44}</string>
            </dict>
            <key>unit_arrow_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,831},{99,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,61}}</string>
                <key>sourceSize</key>
                <string>{99,61}</string>
            </dict>
            <key>unit_arrow_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,55},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>unit_buton_unit_party_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,571},{293,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,76}}</string>
                <key>sourceSize</key>
                <string>{293,76}</string>
            </dict>
            <key>unit_buton_unit_strength_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,649},{293,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,76}}</string>
                <key>sourceSize</key>
                <string>{293,76}</string>
            </dict>
            <key>unit_button_abillity_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1769},{161,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,63}}</string>
                <key>sourceSize</key>
                <string>{161,63}</string>
            </dict>
            <key>unit_button_awake_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,408},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>unit_button_awake_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,496},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>unit_button_change_ougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1771},{200,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,73}}</string>
                <key>sourceSize</key>
                <string>{200,73}</string>
            </dict>
            <key>unit_button_change_shinougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,1973},{200,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,73}}</string>
                <key>sourceSize</key>
                <string>{200,73}</string>
            </dict>
            <key>unit_button_enforce_action_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,584},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>unit_button_enforce_action_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,672},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>unit_button_evolution_action_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,760},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>unit_button_evolution_action_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,949},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>unit_button_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,1769},{150,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,61}}</string>
                <key>sourceSize</key>
                <string>{150,61}</string>
            </dict>
            <key>unit_button_ougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,175},{155,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,65}}</string>
                <key>sourceSize</key>
                <string>{155,65}</string>
            </dict>
            <key>unit_button_ougi_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,332},{155,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,65}}</string>
                <key>sourceSize</key>
                <string>{155,65}</string>
            </dict>
            <key>unit_button_shinougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,727},{155,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,65}}</string>
                <key>sourceSize</key>
                <string>{155,65}</string>
            </dict>
            <key>unit_detail_abilityicon_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,55},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>unit_detail_type_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1777},{243,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,50}}</string>
                <key>sourceSize</key>
                <string>{243,50}</string>
            </dict>
            <key>unit_detail_weapon_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,203},{327,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,27}}</string>
                <key>sourceSize</key>
                <string>{327,27}</string>
            </dict>
            <key>unit_evolution_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,175},{314,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,278}}</string>
                <key>sourceSize</key>
                <string>{314,278}</string>
            </dict>
            <key>unit_gauge_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1139},{624,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,74}}</string>
                <key>sourceSize</key>
                <string>{624,74}</string>
            </dict>
            <key>unit_info_frame_abillity.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,727},{415,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,108}}</string>
                <key>sourceSize</key>
                <string>{415,108}</string>
            </dict>
            <key>unit_info_frame_rune.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,913},{386,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,149}}</string>
                <key>sourceSize</key>
                <string>{386,149}</string>
            </dict>
            <key>unit_item_get_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,894},{94,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,22}}</string>
                <key>sourceSize</key>
                <string>{94,24}</string>
            </dict>
            <key>unit_item_get_rainbowstone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1777},{265,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,46}}</string>
                <key>sourceSize</key>
                <string>{265,46}</string>
            </dict>
            <key>unit_item_get_rainbowstone.png-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1777},{265,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,46}}</string>
                <key>sourceSize</key>
                <string>{265,46}</string>
            </dict>
            <key>unit_list_skin_choosing.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1144},{558,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,128}}</string>
                <key>sourceSize</key>
                <string>{558,128}</string>
            </dict>
            <key>unit_material_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1777},{631,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,204}}</string>
                <key>sourceSize</key>
                <string>{631,204}</string>
            </dict>
            <key>unit_name_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,127},{423,46}}</string>
                <key>offset</key>
                <string>{-40,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{423,46}}</string>
                <key>sourceSize</key>
                <string>{511,52}</string>
            </dict>
            <key>unit_newabillity_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,1},{570,598}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,598}}</string>
                <key>sourceSize</key>
                <string>{570,598}</string>
            </dict>
            <key>unit_party_button_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,848},{198,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,63}}</string>
                <key>sourceSize</key>
                <string>{198,63}</string>
            </dict>
            <key>unit_party_button_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,848},{148,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,63}}</string>
                <key>sourceSize</key>
                <string>{148,63}</string>
            </dict>
            <key>unit_party_button_decision.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1704},{198,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,63}}</string>
                <key>sourceSize</key>
                <string>{198,63}</string>
            </dict>
            <key>unit_party_button_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,949},{148,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,63}}</string>
                <key>sourceSize</key>
                <string>{148,63}</string>
            </dict>
            <key>unit_party_button_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,491},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>unit_party_button_newparty.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1777},{250,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,59}}</string>
                <key>sourceSize</key>
                <string>{250,59}</string>
            </dict>
            <key>unit_party_button_newparty_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1777},{250,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,59}}</string>
                <key>sourceSize</key>
                <string>{250,59}</string>
            </dict>
            <key>unit_party_button_reflect.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,55},{316,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,70}}</string>
                <key>sourceSize</key>
                <string>{316,70}</string>
            </dict>
            <key>unit_party_button_reflect_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,175},{316,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,70}}</string>
                <key>sourceSize</key>
                <string>{316,70}</string>
            </dict>
            <key>unit_party_button_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,949},{148,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,63}}</string>
                <key>sourceSize</key>
                <string>{148,63}</string>
            </dict>
            <key>unit_party_list_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,573},{564,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,128}}</string>
                <key>sourceSize</key>
                <string>{564,128}</string>
            </dict>
            <key>unit_party_list_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1139},{564,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,128}}</string>
                <key>sourceSize</key>
                <string>{564,128}</string>
            </dict>
            <key>unit_party_list_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,573},{564,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,128}}</string>
                <key>sourceSize</key>
                <string>{564,128}</string>
            </dict>
            <key>unit_party_name_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,232},{544,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,45}}</string>
                <key>sourceSize</key>
                <string>{544,45}</string>
            </dict>
            <key>unit_party_rabel_copy_destination.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,415},{181,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,30}}</string>
                <key>sourceSize</key>
                <string>{181,30}</string>
            </dict>
            <key>unit_party_rabel_copy_source.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,598},{181,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,30}}</string>
                <key>sourceSize</key>
                <string>{181,30}</string>
            </dict>
            <key>unit_rabel_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1705},{154,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,38}}</string>
                <key>sourceSize</key>
                <string>{154,38}</string>
            </dict>
            <key>unit_rabel_material.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,139},{337,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,30}}</string>
                <key>sourceSize</key>
                <string>{337,30}</string>
            </dict>
            <key>unit_rabel_material_unit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,171},{337,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,30}}</string>
                <key>sourceSize</key>
                <string>{337,30}</string>
            </dict>
            <key>unit_rabel_material_unit_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,75},{343,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,30}}</string>
                <key>sourceSize</key>
                <string>{343,30}</string>
            </dict>
            <key>unit_rabel_newawake01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,75},{338,30}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{338,30}}</string>
                <key>sourceSize</key>
                <string>{346,32}</string>
            </dict>
            <key>unit_rabel_newawake02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,107},{338,30}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{338,30}}</string>
                <key>sourceSize</key>
                <string>{346,32}</string>
            </dict>
            <key>unit_rabel_plus_luck.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1777},{255,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{255,21}}</string>
                <key>sourceSize</key>
                <string>{281,21}</string>
            </dict>
            <key>unit_rabel_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1777},{233,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{233,21}}</string>
                <key>sourceSize</key>
                <string>{249,21}</string>
            </dict>
            <key>unit_rabel_status.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1777},{255,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{255,21}}</string>
                <key>sourceSize</key>
                <string>{281,21}</string>
            </dict>
            <key>unit_rabel_weaponframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1777},{255,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{255,21}}</string>
                <key>sourceSize</key>
                <string>{281,21}</string>
            </dict>
            <key>unit_rune_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{424,52}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{424,52}}</string>
                <key>sourceSize</key>
                <string>{452,68}</string>
            </dict>
            <key>unit_skill_thumbnail_sample.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,727},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>unit_skin_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,949},{192,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,58}}</string>
                <key>sourceSize</key>
                <string>{192,58}</string>
            </dict>
            <key>unit_skin_icon_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1744},{83,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{83,25}}</string>
                <key>sourceSize</key>
                <string>{87,37}</string>
            </dict>
            <key>unit_skin_list_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1983},{566,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,64}}</string>
                <key>sourceSize</key>
                <string>{566,64}</string>
            </dict>
            <key>unit_skin_list_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1144},{558,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,128}}</string>
                <key>sourceSize</key>
                <string>{558,128}</string>
            </dict>
            <key>unit_skin_list_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,819},{558,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,128}}</string>
                <key>sourceSize</key>
                <string>{558,128}</string>
            </dict>
            <key>unit_status_panel_9slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,918},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>unit_strength_select_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1139},{636,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,448}}</string>
                <key>sourceSize</key>
                <string>{636,448}</string>
            </dict>
            <key>unit_temple_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>unit_weapon_frame_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1704},{142,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,38}}</string>
                <key>sourceSize</key>
                <string>{142,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unit_page_atlas.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7436df8cad51bc31e5723f38fb97a4e:88816f0f5012fd54fb63db8957b208b2:d354aaeb7c36d50f01f2a833bdcf011c$</string>
            <key>textureFileName</key>
            <string>unit_page_atlas.png</string>
        </dict>
    </dict>
</plist>
