<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{48,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,21}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>common_party.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,1},{72,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,21}}</string>
                <key>sourceSize</key>
                <string>{72,21}</string>
            </dict>
            <key>icon_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,48},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>icon_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,52},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>thumbnail_luck_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,24},{74,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,26}}</string>
                <key>sourceSize</key>
                <string>{74,26}</string>
            </dict>
            <key>thumbnail_rebirth_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,24},{41,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,22}}</string>
                <key>sourceSize</key>
                <string>{41,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unit_thumb_atlas.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52c9f442e32689e96bf6f3ec91ea8af9:84a299bdab2fcdf18a4850b7b54b1fca:af5a950ab24179ad902dec10609348ee$</string>
            <key>textureFileName</key>
            <string>unit_thumb_atlas.png</string>
        </dict>
    </dict>
</plist>
