<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unit_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{158,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,338}}</string>
                <key>sourceSize</key>
                <string>{158,338}</string>
            </dict>
            <key>unit_base_controll.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,356},{640,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,77}}</string>
                <key>sourceSize</key>
                <string>{640,77}</string>
            </dict>
            <key>unit_button_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,331},{300,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,92}}</string>
                <key>sourceSize</key>
                <string>{300,92}</string>
            </dict>
            <key>unit_button_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,556},{222,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,69}}</string>
                <key>sourceSize</key>
                <string>{222,69}</string>
            </dict>
            <key>unit_button_limitbreak.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,260},{300,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,94}}</string>
                <key>sourceSize</key>
                <string>{300,94}</string>
            </dict>
            <key>unit_button_revilusion.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,161},{300,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,97}}</string>
                <key>sourceSize</key>
                <string>{300,97}</string>
            </dict>
            <key>unit_button_strengthen.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,29},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>unit_button_weaponorganization.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,331},{223,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,69}}</string>
                <key>sourceSize</key>
                <string>{223,69}</string>
            </dict>
            <key>unit_frame_status.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>unit_item_leader.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,161},{85,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,25}}</string>
                <key>sourceSize</key>
                <string>{85,25}</string>
            </dict>
            <key>unit_weapon_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,29},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unit_base_atlas.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2de313960558c1257e1e8a268b89cf4e:fc45d637127221c963926c5e9d6b81e7:46714079f1ea7487905e935d89ab5957$</string>
            <key>textureFileName</key>
            <string>unit_base_atlas.png</string>
        </dict>
    </dict>
</plist>
