<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_bar_ougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,1},{359,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,35}}</string>
                <key>sourceSize</key>
                <string>{359,35}</string>
            </dict>
            <key>common_bar_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,849},{359,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,35}}</string>
                <key>sourceSize</key>
                <string>{359,35}</string>
            </dict>
            <key>common_buton_back_popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,751},{293,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,76}}</string>
                <key>sourceSize</key>
                <string>{293,76}</string>
            </dict>
            <key>common_button_action_limitbreak_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,1},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>common_button_action_limitbreak_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,886},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>common_item_gran.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,527},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>common_item_limitbreak.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,849},{83,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,25}}</string>
                <key>sourceSize</key>
                <string>{83,25}</string>
            </dict>
            <key>common_item_limitbreak_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,974},{131,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,25}}</string>
                <key>sourceSize</key>
                <string>{131,25}</string>
            </dict>
            <key>unit_abillity_rabel_unit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,418},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,30}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>unit_abillity_rabel_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,901},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,30}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>unit_arrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,527},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>unit_arrow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,299},{26,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{26,44}</string>
            </dict>
            <key>unit_arrow_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,886},{99,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,61}}</string>
                <key>sourceSize</key>
                <string>{99,61}</string>
            </dict>
            <key>unit_arrow_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,362},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>unit_buton_unit_party_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,829},{293,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,76}}</string>
                <key>sourceSize</key>
                <string>{293,76}</string>
            </dict>
            <key>unit_buton_unit_strength_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,907},{293,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,76}}</string>
                <key>sourceSize</key>
                <string>{293,76}</string>
            </dict>
            <key>unit_button_enforce_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,643},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>unit_button_enforce_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,643},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>unit_button_evolution_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,575},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>unit_button_evolution_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,663},{296,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,86}}</string>
                <key>sourceSize</key>
                <string>{296,86}</string>
            </dict>
            <key>unit_detail_abilityicon_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,575},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>unit_detail_type_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,849},{243,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,50}}</string>
                <key>sourceSize</key>
                <string>{243,50}</string>
            </dict>
            <key>unit_detail_weapon_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,1},{327,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,27}}</string>
                <key>sourceSize</key>
                <string>{327,27}</string>
            </dict>
            <key>unit_evolution_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,643},{314,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,278}}</string>
                <key>sourceSize</key>
                <string>{314,278}</string>
            </dict>
            <key>unit_gauge_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,451},{624,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,74}}</string>
                <key>sourceSize</key>
                <string>{624,74}</string>
            </dict>
            <key>unit_info_frame_abillity.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,1},{415,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,108}}</string>
                <key>sourceSize</key>
                <string>{415,108}</string>
            </dict>
            <key>unit_item_get_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,974},{94,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,24}}</string>
                <key>sourceSize</key>
                <string>{94,24}</string>
            </dict>
            <key>unit_material_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,643},{631,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,204}}</string>
                <key>sourceSize</key>
                <string>{631,204}</string>
            </dict>
            <key>unit_name_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,527},{423,46}}</string>
                <key>offset</key>
                <string>{-40,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{423,46}}</string>
                <key>sourceSize</key>
                <string>{511,52}</string>
            </dict>
            <key>unit_strength_select_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,1},{636,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,448}}</string>
                <key>sourceSize</key>
                <string>{636,448}</string>
            </dict>
            <key>unit_temple_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unit.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e0d75585849b541960c289badd923fb:c37790d083a1d9353f936b32fe384685:dae5054432da464a317ea311e88efda6$</string>
            <key>textureFileName</key>
            <string>unit.png</string>
        </dict>
    </dict>
</plist>
