<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_ui_flame_ougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,449},{617,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,90}}</string>
                <key>sourceSize</key>
                <string>{617,90}</string>
            </dict>
            <key>battle_ui_flame_renkeiougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,299},{618,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,148}}</string>
                <key>sourceSize</key>
                <string>{618,148}</string>
            </dict>
            <key>battle_ui_flame_shinougi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,541},{617,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,90}}</string>
                <key>sourceSize</key>
                <string>{617,90}</string>
            </dict>
            <key>battle_ui_flame_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,633},{617,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,90}}</string>
                <key>sourceSize</key>
                <string>{617,90}</string>
            </dict>
            <key>battle_ui_frame_unit_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{637,296}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,296}}</string>
                <key>sourceSize</key>
                <string>{639,296}</string>
            </dict>
            <key>battle_ui_frame_unit_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,725},{532,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,40}}</string>
                <key>sourceSize</key>
                <string>{532,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_ui_unit_info.png</string>
            <key>size</key>
            <string>{639,766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44569c7196f97a90866537679d52f4eb:74c8d9ff8b8b37acef220defcbff4476:bb060fc78a5fff5df7f5c549ca9eb53c$</string>
            <key>textureFileName</key>
            <string>battle_ui_unit_info.png</string>
        </dict>
    </dict>
</plist>
