<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>link_burst_effect_lightning_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{564,134}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,80},{564,134}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>link_burst_effect_lightning_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1},{564,134}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,80},{564,134}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>link_burst_effect_lightning_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,137},{564,134}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,80},{564,134}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>link_burst_effect_lightning_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,273},{564,134}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,80},{564,134}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>link_burst_effect_lightning_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,409},{564,134}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,80},{564,134}}</string>
                <key>sourceSize</key>
                <string>{600,300}</string>
            </dict>
            <key>link_burst_effect_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,567},{300,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,139},{300,20}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>link_burst_effect_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,545},{300,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,139},{300,20}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>link_burst_effect_line_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,589},{300,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,139},{300,20}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>link_burst_effect_line_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,567},{300,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,139},{300,20}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>link_burst_effect_line_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,589},{300,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,139},{300,20}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Link_Burst_Effect.png</string>
            <key>size</key>
            <string>{702,610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b027f10b0d0e74506655d501c4f9c186:15e0def8d339010e5aac36803e4fdfcc:c4397689a720908cb4f20af416860489$</string>
            <key>textureFileName</key>
            <string>Link_Burst_Effect.png</string>
        </dict>
    </dict>
</plist>
