<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_lastb_bg1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{477,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,99}}</string>
                <key>sourceSize</key>
                <string>{477,99}</string>
            </dict>
            <key>UI_lastb_bg1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1},{477,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,99}}</string>
                <key>sourceSize</key>
                <string>{477,99}</string>
            </dict>
            <key>UI_lastb_bg1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,102},{477,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,99}}</string>
                <key>sourceSize</key>
                <string>{477,99}</string>
            </dict>
            <key>UI_lastb_bg1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,102},{477,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,99}}</string>
                <key>sourceSize</key>
                <string>{477,99}</string>
            </dict>
            <key>UI_lastb_slash1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1},{465,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,28}}</string>
                <key>sourceSize</key>
                <string>{465,28}</string>
            </dict>
            <key>UI_lastb_wave1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,705},{199,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,197}}</string>
                <key>sourceSize</key>
                <string>{199,197}</string>
            </dict>
            <key>UI_lastb_wave1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,203},{298,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,297}}</string>
                <key>sourceSize</key>
                <string>{298,297}</string>
            </dict>
            <key>a.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,921},{136,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{136,132}}</string>
                <key>sourceSize</key>
                <string>{138,146}</string>
            </dict>
            <key>b.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,823},{138,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,146}}</string>
                <key>sourceSize</key>
                <string>{138,146}</string>
            </dict>
            <key>e.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,827},{122,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{122,142}}</string>
                <key>sourceSize</key>
                <string>{138,146}</string>
            </dict>
            <key>l.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,924},{124,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{124,140}}</string>
                <key>sourceSize</key>
                <string>{138,146}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,203},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>qc_UI_clear_light1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,505},{198,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,202}}</string>
                <key>sourceSize</key>
                <string>{198,202}</string>
            </dict>
            <key>qc_UI_clear_light2a_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,502},{85,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,203}}</string>
                <key>sourceSize</key>
                <string>{85,203}</string>
            </dict>
            <key>qc_UI_clear_light2b_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,589},{85,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,204}}</string>
                <key>sourceSize</key>
                <string>{85,204}</string>
            </dict>
            <key>qc_UI_clear_shine2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,203},{240,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,101}}</string>
                <key>sourceSize</key>
                <string>{240,101}</string>
            </dict>
            <key>qc_UI_clear_shine2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,349},{240,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,98}}</string>
                <key>sourceSize</key>
                <string>{240,98}</string>
            </dict>
            <key>qc_UI_clear_wave1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,203},{250,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,144}}</string>
                <key>sourceSize</key>
                <string>{250,144}</string>
            </dict>
            <key>qc_UI_clear_wave2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,951},{131,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,130}}</string>
                <key>sourceSize</key>
                <string>{131,130}</string>
            </dict>
            <key>qc_UI_clear_wave2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,449},{214,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,212}}</string>
                <key>sourceSize</key>
                <string>{214,212}</string>
            </dict>
            <key>qc_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1150},{120,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,123}}</string>
                <key>sourceSize</key>
                <string>{120,123}</string>
            </dict>
            <key>qc_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,676},{145,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,162}}</string>
                <key>sourceSize</key>
                <string>{145,162}</string>
            </dict>
            <key>qc_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,676},{107,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,123}}</string>
                <key>sourceSize</key>
                <string>{107,123}</string>
            </dict>
            <key>qc_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,801},{106,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,121}}</string>
                <key>sourceSize</key>
                <string>{106,121}</string>
            </dict>
            <key>qc_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,589},{186,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,200}}</string>
                <key>sourceSize</key>
                <string>{186,200}</string>
            </dict>
            <key>qc_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,589},{172,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,171}}</string>
                <key>sourceSize</key>
                <string>{172,171}</string>
            </dict>
            <key>qc_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1048},{100,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,134}}</string>
                <key>sourceSize</key>
                <string>{100,134}</string>
            </dict>
            <key>qc_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1028},{124,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,131}}</string>
                <key>sourceSize</key>
                <string>{124,131}</string>
            </dict>
            <key>qc_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1055},{125,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,123}}</string>
                <key>sourceSize</key>
                <string>{125,123}</string>
            </dict>
            <key>ql_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,777},{142,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{142,164}}</string>
                <key>sourceSize</key>
                <string>{162,168}</string>
            </dict>
            <key>ql_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,904},{142,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{142,164}}</string>
                <key>sourceSize</key>
                <string>{162,168}</string>
            </dict>
            <key>ql_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,663},{162,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,168}}</string>
                <key>sourceSize</key>
                <string>{162,168}</string>
            </dict>
            <key>ql_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,762},{134,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{134,168}}</string>
                <key>sourceSize</key>
                <string>{162,168}</string>
            </dict>
            <key>s.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,445},{108,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{108,142}}</string>
                <key>sourceSize</key>
                <string>{138,146}</string>
            </dict>
            <key>t.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,898},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{128,138}}</string>
                <key>sourceSize</key>
                <string>{138,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>last_battle.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1e130d0fcae905fd4c90fc1497a08b0:d37ab401d36bd8ffdb1010d04c8b6da7:363effaef8cbe884198ba0f2cea3e9e7$</string>
            <key>textureFileName</key>
            <string>last_battle.png</string>
        </dict>
    </dict>
</plist>
