<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_board_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,63},{20,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,130}}</string>
                <key>sourceSize</key>
                <string>{20,130}</string>
            </dict>
            <key>ui_start_fire_main_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,63},{287,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,288}}</string>
                <key>sourceSize</key>
                <string>{287,288}</string>
            </dict>
            <key>ui_start_fire_main_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,63},{283,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,285}}</string>
                <key>sourceSize</key>
                <string>{283,285}</string>
            </dict>
            <key>ui_start_flare_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,449},{566,172}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{566,172}}</string>
                <key>sourceSize</key>
                <string>{580,180}</string>
            </dict>
            <key>ui_start_line_main_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{620,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,60}}</string>
                <key>sourceSize</key>
                <string>{620,60}</string>
            </dict>
            <key>ui_start_monsyo_glow_main_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1},{380,446}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,446}}</string>
                <key>sourceSize</key>
                <string>{380,470}</string>
            </dict>
            <key>ui_start_particle_main_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,348},{255,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,203}}</string>
                <key>sourceSize</key>
                <string>{255,203}</string>
            </dict>
            <key>ui_start_wave_main_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,790},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>ui_start_wave_main_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,553},{235,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,235}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>quest_start.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c8d0ef0642dd8e35fa89b8d0c437bd7:07aeec014fd31530cd44d5b373addeb6:5ddbf33ccaf01fcd6330bcb9c5461b83$</string>
            <key>textureFileName</key>
            <string>quest_start.png</string>
        </dict>
    </dict>
</plist>
