<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2nd_anniversary_roulette_close_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,907},{252,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,76}}</string>
                <key>sourceSize</key>
                <string>{252,76}</string>
            </dict>
            <key>2nd_anniversary_roulette_close_button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,907},{252,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,76}}</string>
                <key>sourceSize</key>
                <string>{252,76}</string>
            </dict>
            <key>2nd_anniversary_roulette_summon_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,907},{252,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,76}}</string>
                <key>sourceSize</key>
                <string>{252,76}</string>
            </dict>
            <key>2nd_anniversary_roulette_summon_button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,907},{252,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,76}}</string>
                <key>sourceSize</key>
                <string>{252,76}</string>
            </dict>
            <key>2nd_anniversary_roulette_summon_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,359},{450,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,2},{450,158}}</string>
                <key>sourceSize</key>
                <string>{640,160}</string>
            </dict>
            <key>2nd_anniversary_summon100ren_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{566,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,336}}</string>
                <key>sourceSize</key>
                <string>{566,336}</string>
            </dict>
            <key>2nd_anniversary_summon100ren_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,359},{344,212}}</string>
                <key>offset</key>
                <string>{5,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,85},{344,212}}</string>
                <key>sourceSize</key>
                <string>{566,336}</string>
            </dict>
            <key>2nd_anniversary_summon10ren_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,569},{566,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,336}}</string>
                <key>sourceSize</key>
                <string>{566,336}</string>
            </dict>
            <key>2nd_anniversary_summon10ren_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1},{356,212}}</string>
                <key>offset</key>
                <string>{81,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,90},{356,212}}</string>
                <key>sourceSize</key>
                <string>{566,336}</string>
            </dict>
            <key>2nd_anniversary_summon20ren_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1},{566,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,336}}</string>
                <key>sourceSize</key>
                <string>{566,336}</string>
            </dict>
            <key>2nd_anniversary_summon20ren_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1},{356,212}}</string>
                <key>offset</key>
                <string>{81,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,90},{356,212}}</string>
                <key>sourceSize</key>
                <string>{566,336}</string>
            </dict>
            <key>2nd_anniversary_summon30ren_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,569},{566,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,336}}</string>
                <key>sourceSize</key>
                <string>{566,336}</string>
            </dict>
            <key>2nd_anniversary_summon30ren_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1},{356,212}}</string>
                <key>offset</key>
                <string>{81,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,90},{356,212}}</string>
                <key>sourceSize</key>
                <string>{566,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2nd_anniversary_roulette.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:428a0d42106297ba48d0748bcc5baefb:e6b79233e4335ebbc462b62adc2f23e6:8872a1ae2c9323e77296dc3d14395fc5$</string>
            <key>textureFileName</key>
            <string>2nd_anniversary_roulette.png</string>
        </dict>
    </dict>
</plist>
