<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1024,497}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{1024,497}}</string>
                <key>sourceSize</key>
                <string>{1024,513}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1024,497}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{1024,497}}</string>
                <key>sourceSize</key>
                <string>{1024,513}</string>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1024,497}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{1024,497}}</string>
                <key>sourceSize</key>
                <string>{1024,513}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>map_cloud_atlas.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1150c5133b9f49d25dcb930e7d25460:b9e5091e7a024e7dd082c6f10dddac1c:6096f00f301715f7fa5f992a0c416c41$</string>
            <key>textureFileName</key>
            <string>map_cloud_atlas.png</string>
        </dict>
    </dict>
</plist>
