<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>download_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,131},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>download_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,131},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>download_object_gaugeframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{508,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,128}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>download_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,131},{162,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,31}}</string>
                <key>sourceSize</key>
                <string>{162,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>download.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a455a56ea0a930570d1140c0beed3f1:0fc7b3e46f4f534c9ba4d8ce9d8c8d02:bd30de696a5bc4f1fcb3485c099e729e$</string>
            <key>textureFileName</key>
            <string>download.png</string>
        </dict>
    </dict>
</plist>
