<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sugoroku_animation__OF_a_main_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{394,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,393}}</string>
                <key>sourceSize</key>
                <string>{394,393}</string>
            </dict>
            <key>sugoroku_animation__OF_b_main_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,121},{115,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,117}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>sugoroku_animation__dice_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,163},{137,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,165}}</string>
                <key>sourceSize</key>
                <string>{137,165}</string>
            </dict>
            <key>sugoroku_animation__dice_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1},{118,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,155}}</string>
                <key>sourceSize</key>
                <string>{118,155}</string>
            </dict>
            <key>sugoroku_animation__dice_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,302},{137,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,165}}</string>
                <key>sourceSize</key>
                <string>{137,165}</string>
            </dict>
            <key>sugoroku_animation__dice_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,325},{141,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,165}}</string>
                <key>sourceSize</key>
                <string>{141,165}</string>
            </dict>
            <key>sugoroku_animation__dice_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1},{132,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,164}}</string>
                <key>sourceSize</key>
                <string>{132,164}</string>
            </dict>
            <key>sugoroku_animation__dice_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,135},{127,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,156}}</string>
                <key>sourceSize</key>
                <string>{127,156}</string>
            </dict>
            <key>sugoroku_animation__dice_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,163},{155,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,160}}</string>
                <key>sourceSize</key>
                <string>{155,160}</string>
            </dict>
            <key>sugoroku_animation__dice_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,325},{164,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,141}}</string>
                <key>sourceSize</key>
                <string>{164,141}</string>
            </dict>
            <key>sugoroku_animation__dice_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sugoroku_animation__gold_E.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,397},{47,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,55}}</string>
                <key>sourceSize</key>
                <string>{47,55}</string>
            </dict>
            <key>sugoroku_animation__gold_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,455},{51,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,56}}</string>
                <key>sourceSize</key>
                <string>{51,56}</string>
            </dict>
            <key>sugoroku_animation__gold_T.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,455},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>sugoroku_animation__gold__.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,454},{24,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,58}}</string>
                <key>sourceSize</key>
                <string>{24,58}</string>
            </dict>
            <key>sugoroku_animation__particle_render_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,397},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>sugoroku_animation__thumbnail_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,293},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sugoroku_animation.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:575e328c0711e389dc574d79cd725aa4:bbb3c5b7b413a4e631016f59531e3dae:8afd3738f17ab358ec30e6f09e0ca7ee$</string>
            <key>textureFileName</key>
            <string>sugoroku_animation.png</string>
        </dict>
    </dict>
</plist>
